workflows/0804-研能聊天機器人-v1-ok-copy.json
{
  "id": "6shDKR15q1Bpgg0O",
  "name": "0804-研能聊天機器人-v1-ok-copy",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Retrieval\n",
        "height": 480,
        "width": 840,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -912,
        -208
      ],
      "id": "790a1c26-14cb-4559-a588-114b2bd38660",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.events[0].message.text }}",
        "options": {
          "systemMessage": "=You’re a document assistant. Your job is to answer questions using the files in the Vector Database. Here’s how to do it:\n\nCheck connected Vector Database documents First\n- Search for similar text chunks using RAG.\n- If you find matches, use them to answer the question.\n\nNo Answer Found?\n- Clearly say: “I couldn’t find this in the documents.”\n- Never guess or invent answers.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -608,
        -96
      ],
      "id": "8ea46031-2407-46f9-b6b8-07bfbc75f2e5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -704,
        128
      ],
      "id": "fe61ef3a-9855-4852-8636-112a3ab87563",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.events[0].source.userId || $json.sessionId }} ",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -496,
        112
      ],
      "id": "471cdc80-2989-4262-851b-f7b7fc124d09",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "=documents",
        "toolDescription": "Work with your data in Supabase Vector Store",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": "={{ 20 }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        -320,
        48
      ],
      "id": "b3473eba-f71e-419a-bd0c-2ed90c03f949",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -336,
        160
      ],
      "id": "fb49f1b9-5b35-421a-98c9-50d6b457e070",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "text",
              "separateBy": "other",
              "customSeparator": "= ###SPLIT### "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        2240,
        640
      ],
      "id": "92e82692-55c8-460b-83cf-1dd1e8665c21",
      "name": "Summarize"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2320,
        928
      ],
      "id": "f729d0ad-64c6-4d8d-9546-16524bb01bca",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.concatenated_text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('SetFileId').item.json.file_id }}"
              },
              {
                "name": "createTime",
                "value": "={{ $('SetFileId').item.json.createdTime }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('SetFileId').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2496,
        912
      ],
      "id": "1309d832-4699-40ae-b6c9-923cd0a0265a",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<document> \n{{ $('DocumentData').item.json.data }}\n</document> \n\nHere is the chunk we want to situate within the overall document:\n\n<chunk> \n{{ $('Limit').item.json.chunk }}\n</chunk> \n\nPlease:\n- Provide a short and succinct **context** to situate this chunk within the document for improved search retrieval.\n- Return the **original chunk** exactly as provided unless a correction is necessary.\n- If the chunk contains an **incomplete number, percentage, or entity**, correct it using the full document.\n- If part of a **sentence is cut off**, reconstruct the missing words only if necessary for clarity.\n- If the chunk is part of a table, include the complete table entry to maintain data integrity\n- Do not add any additional explanations or formatting beyond the required output.\n\nFill in the following format:\n[succinct context] : [original chunk or corrected version if necessary]\n\nYour response should contain only the text that replaces these placeholders, without including the placeholder labels themselves."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1872,
        640
      ],
      "id": "41486272-9763-4cab-8f08-5f9453e1eaa6",
      "name": "AddContext"
    },
    {
      "parameters": {
        "separator": " ###SPLIT### "
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2576,
        1040
      ],
      "id": "7b23f431-9793-4a10-aa12-f13255d155a5",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "content": "## File Types Switch",
        "height": 340,
        "width": 380,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        512
      ],
      "id": "e6a6ee4b-d7e5-4de2-ac08-ef81e0c3ea24",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Split recursively into chunks",
        "height": 80,
        "width": 540,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        528
      ],
      "id": "64c26102-a267-4987-9fba-be65286cb335",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "fieldToSplitOut": "chunks",
        "options": {
          "destinationFieldName": "chunk"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        912,
        640
      ],
      "id": "8a2d6cdf-d10e-4707-ab06-0210aa6e6797",
      "name": "SplitChunks"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const chunkSize = 1000;\nconst chunkOverlap = 0;\nconst text = $input.item.json.data.replace(/\\n/, '');\n\nconst chunks = [];\nlet remainingText = text;\n\nwhile (remainingText.length > 0) {\n    let splitPoint;\n\n    // Try splitting at paragraph level first\n    splitPoint = remainingText.lastIndexOf(\"\\n\\n\", chunkSize);\n    \n    // If no paragraph split, try splitting at sentence level\n    if (splitPoint === -1) {\n        splitPoint = remainingText.lastIndexOf(\". \", chunkSize);\n    }\n\n    // If no sentence split, try splitting at word level\n    if (splitPoint === -1) {\n        splitPoint = remainingText.lastIndexOf(\" \", chunkSize);\n    }\n\n    // If still no split point, force cut at chunkSize\n    if (splitPoint === -1 || splitPoint < chunkSize * 0.5) {  \n        splitPoint = chunkSize; // Hard split if no good split point\n    }\n\n    // Extract chunk and adjust remaining text with overlap\n    let chunk = remainingText.substring(0, splitPoint).trim();\n    chunks.push(chunk);\n\n    // Move the pointer forward while keeping the overlap\n    remainingText = remainingText.substring(Math.max(0, splitPoint - chunkOverlap)).trim();\n\n    // Break if remaining text is too small to form another chunk\n    if (remainingText.length < chunkSize * 0.2) {\n        chunks.push(remainingText);\n        break;\n    }\n}\n\nreturn { chunks };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        640
      ],
      "id": "18252a88-968b-4074-a920-3b0f18d30b6f",
      "name": "RecursiveSplitter"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"data\": {{ JSON.stringify($json.text) }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        640
      ],
      "id": "4e5c5c49-54d9-4985-9708-e23ed69674b0",
      "name": "DocumentData"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        352,
        640
      ],
      "id": "5c265563-67ac-418a-afc9-b1e39b086041",
      "name": "ExtractFromPDF"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        2464,
        640
      ],
      "id": "2ba08094-a444-48a2-879a-8e53a398b53b",
      "name": "Supabase VectorStore",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1904,
        800
      ],
      "id": "6d1edf9e-c477-436c-be8a-01611b1f96a8",
      "name": "Gemini",
      "credentials": {
        "googlePalmApi": {
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Add context to each chunk",
        "height": 340,
        "width": 540,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1840,
        512
      ],
      "id": "7892018b-1b26-44dd-9830-ca8e7eaf7c2c",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Add to Vector DB",
        "height": 340,
        "width": 540,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2400,
        512
      ],
      "id": "3a0643b6-fcff-4b40-b03f-83b20c95f881",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_name=like.*{{ $json.pdf_name }}*\n\n\n\n"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        32,
        640
      ],
      "id": "e172092a-8b20-4937-8ff0-081b0d09ee88",
      "name": "DeleteRows1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('SetFileId').item.json.file_id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1e3bx1erpwvGNga4576vd2IQkDHRbyFBQ",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2816,
        640
      ],
      "id": "77730d10-0f0a-4b2a-b075-deaabbf3c457",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5TgCpCi2jAUFV0lQ",
          "mode": "list",
          "cachedResultName": "subFlow-line-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "=Context RAG pdf files on Google Drive done. \nfile : {{ $('SetFileId').item.json.name }}"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3040,
        640
      ],
      "id": "679a064c-16ec-447d-9761-b67dea1795c6",
      "name": "Execute Workflow",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "# ---- 1. Ingestion ----\n## 1. Google pptx source folder : https://drive.google.com/drive/folders/1es-JwnoWOhhyfi6kHIrZSE1mzKcxU48R\n## 2. ConvertAPI site : https://www.convertapi.com/a/api/ppt-to-pdf    ( pptx -> pdf )\n## 3. superbase dB : https://supabase.com/dashboard/project/jtdqbjtrqpmlhlzurzyp/editor/17597     ( pdf -> supabase )\n\n# ---- 2. Retrieval ----\n## 1. Line Webhook Messaging API:  https://manager.line.biz/account/@619wmotd/setting/messaging-api\n\n# ---- 3. Other ----\n## 1. Google doc : download file only run once, or there are more recorded created in supabase 2. In Default Defauld Loader, add metadata file_id, file_name in order do delete\n## 2. 開發中, set limit to be 2 or 5 to save cost and time\n## 3. History : 20250804\n\n",
        "height": 692,
        "width": 3820
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1184,
        -1056
      ],
      "id": "993db5f8-5118-4918-8359-b744669c36ba",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "maxItems": 100
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1104,
        640
      ],
      "id": "a11befbd-d71a-4637-934e-c495e6f043e8",
      "name": "Limit"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "99fd7a11-31e2-48d6-94ac-1e8189569a7f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1104,
        -80
      ],
      "id": "82ac984a-8a3e-4472-8446-bd60b7982d69",
      "name": "LINE Webhook",
      "webhookId": "99fd7a11-31e2-48d6-94ac-1e8189569a7f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ddf8bd12-6f66-45f0-997d-4f5a70b2534b",
              "leftValue": "={{ $json.body.events[0].message.type }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -912,
        -80
      ],
      "id": "677c3cf7-9351-4421-a9ab-265c9e665ba9",
      "name": "檢查message或圖片"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ok\"\n  \n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        688,
        -96
      ],
      "id": "6859a302-429c-4364-b19a-4d2052fa3401",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "deee3538-b23d-4ebc-94be-ae6f7934f7b2",
              "name": "content",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        -96
      ],
      "id": "f41fe940-81b4-4d4c-9c96-88659161bc74",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer  Bsc/q5hVLzF93TErLPdalcSSp+Rbr76I8ZkQ9xxRvE8kyu50jaQZ5zaVfKPwytT8NrMx3QJPg/tDB4Spx3og87M8Rwfvd+SqFiRjUknZrQB3VWxo10V7fziNlPhi5j/ouFKLVMt+Y0IMkCmr2lnr0AdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"C9d1b71800f1ac9b98eb0790ad9571a3b\",\n  \"messages\": [\n   \n{\n      \"type\": \"text\",\n      \"text\": \" {{ $json.content.replace(/\\n/g, '  ') }}\" \n    }\n  ]\n}\n\n\n",
        "options": {}
      },
      "id": "94218a3d-449c-4047-971b-eadef4790070",
      "name": "推送訊息 addwii",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        192,
        -96
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('SetFileId').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -448,
        640
      ],
      "id": "b31562ed-4a16-4ce2-9479-7a846f9ddfb6",
      "name": "Download PPT File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pdf-url",
              "name": "pdf_url",
              "value": "={{ $json.Files[0].Url }}",
              "type": "string"
            },
            {
              "id": "pdf-name",
              "name": "pdf_name",
              "value": "={{ $('SetFileId').item.json.name.replace('.pptx', '.pdf').replace('.ppt', '.pdf') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        640
      ],
      "id": "6972efc4-8e31-440c-88f6-931d98630d1b",
      "name": "Extract PDF URL"
    },
    {
      "parameters": {
        "url": "={{ $('Extract PDF URL').item.json.pdf_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        640
      ],
      "id": "02278f26-ed60-4e62-9b18-41c2d5c35d6a",
      "name": "Download PDF"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1es-JwnoWOhhyfi6kHIrZSE1mzKcxU48R",
          "mode": "url"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        544
      ],
      "id": "8c9a1f78-4766-4b33-899c-1730a3e75925",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -816,
        640
      ],
      "id": "bec1bc8f-235d-4f0d-ad7f-6f787bc05e43",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1es-JwnoWOhhyfi6kHIrZSE1mzKcxU48R",
          "mode": "url"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        752
      ],
      "id": "79a40c59-52f0-4668-80ce-9fbc80b15e0f",
      "name": "Google Drive Trigger5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0501328-5e74-435f-afc3-a5796612c52d",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "6989f772-441d-4284-84a1-dbb37dd1541d",
              "name": "createdTime",
              "value": "={{ $json.createdTime }}",
              "type": "string"
            },
            {
              "id": "150cfee5-e9a7-40af-ba0f-114bd1485681",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        640
      ],
      "id": "9ced1787-f5d2-4fc8-93c4-bdf638ea4567",
      "name": "SetFileId"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://v2.convertapi.com/convert/pptx/to/pdf",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "convertApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "StoreFile",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "File",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -272,
        640
      ],
      "id": "2ba454d3-9125-4871-85db-842a2129e02a",
      "name": "ConvertAPI HTTP Request1",
      "credentials": {
        "convertApi": {
          "name": "ConvertAPI 20250801"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase VectorStore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase VectorStore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "AddContext": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Supabase VectorStore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitChunks": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RecursiveSplitter": {
      "main": [
        [
          {
            "node": "SplitChunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocumentData": {
      "main": [
        [
          {
            "node": "RecursiveSplitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExtractFromPDF": {
      "main": [
        [
          {
            "node": "DocumentData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "AddContext",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeleteRows1": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase VectorStore": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AddContext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINE Webhook": {
      "main": [
        [
          {
            "node": "檢查message或圖片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "檢查message或圖片": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "推送訊息 addwii",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "推送訊息 addwii": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PPT File": {
      "main": [
        [
          {
            "node": "ConvertAPI HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF URL": {
      "main": [
        [
          {
            "node": "DeleteRows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "ExtractFromPDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "SetFileId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetFileId": {
      "main": [
        [
          {
            "node": "Download PPT File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertAPI HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract PDF URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger3": {
      "lastTimeChecked": "2025-08-04T01:39:52Z"
    },
    "node:Google Drive Trigger4": {
      "lastTimeChecked": "2025-08-04T01:39:53Z"
    },
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-08-04T03:39:30Z"
    },
    "node:Google Drive Trigger5": {
      "lastTimeChecked": "2025-08-04T03:39:02Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 1,
  "shared": [
    {
      "updatedAt": "2025-08-04T03:43:16.240Z",
      "createdAt": "2025-08-04T03:43:16.240Z",
      "role": "workflow:owner",
      "workflowId": "6shDKR15q1Bpgg0O",
      "projectId": "0liZARjPSF29Xm7S",
      "project": {
        "updatedAt": "2025-05-09T03:15:11.991Z",
        "createdAt": "2025-05-09T03:15:09.651Z",
        "id": "0liZARjPSF29Xm7S",
        "name": "ChengHsien Yang <chenghyang2001@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "67155d98-04ab-4531-a011-993eff9c535f"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-07T01:29:34.249Z",
      "createdAt": "2025-07-07T01:29:34.249Z",
      "id": "0iHwyB5DMdUXABT5",
      "name": "addwii"
    },
    {
      "updatedAt": "2025-07-24T05:24:47.411Z",
      "createdAt": "2025-07-24T05:24:47.411Z",
      "id": "25D2KA5m75agr5YL",
      "name": "superbase"
    },
    {
      "updatedAt": "2025-07-01T08:14:11.963Z",
      "createdAt": "2025-07-01T08:14:11.963Z",
      "id": "QFvFTqOLs1VLlBts",
      "name": "line"
    },
    {
      "updatedAt": "2025-07-03T03:39:15.054Z",
      "createdAt": "2025-07-03T03:39:15.054Z",
      "id": "f0axdunfvQczx9YF",
      "name": "rag"
    }
  ],
  "activeVersion": null
}