workflows/20250728-airtable-youtube-transcript-v1.json
{
  "id": "12h8SlaLyitquaup",
  "name": "20250728-airtable-youtube-transcript-v1",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Receive webhook \nObtain Airtable record",
        "height": 282,
        "width": 824,
        "color": 7
      },
      "id": "0881f2e6-0426-4f92-86a9-4e7ce5c511e1",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -432,
        368
      ],
      "disabled": true
    },
    {
      "parameters": {
        "path": "youtube-transcript",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -304,
        448
      ],
      "id": "35697506-2c5b-467b-b0e5-94c6c6c5e6b5",
      "name": "Webhook",
      "webhookId": "92ecdba8-dbb5-4979-b062-fb096285f379"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appZx6OWphy0LudAx",
          "mode": "list",
          "cachedResultName": "Scrapes AI -peter0725- Interface",
          "cachedResultUrl": "https://airtable.com/appZx6OWphy0LudAx"
        },
        "table": {
          "__rl": true,
          "value": "tblJc21nI6OHHUed5",
          "mode": "list",
          "cachedResultName": "YT_transcript",
          "cachedResultUrl": "https://airtable.com/appZx6OWphy0LudAx/tblJc21nI6OHHUed5"
        },
        "id": "={{ $('Webhook').item.json.query.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        272,
        448
      ],
      "id": "8a2bf6de-2d51-4cf6-b2d6-31f88bb75e6c",
      "name": "GetRecord",
      "credentials": {
        "airtableTokenApi": {
          "name": "Simon-scrap-ai-20250626"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e5320f5-9681-4a50-85f4-3849bded95c7",
              "leftValue": "={{ $json['Status'] }}",
              "rightValue": "Incomplete",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        448
      ],
      "id": "6f2050ff-1a7e-4320-b3a0-47860147647a",
      "name": "IfIncomplete"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appZx6OWphy0LudAx",
          "mode": "list",
          "cachedResultName": "Scrapes AI -peter0725- Interface",
          "cachedResultUrl": "https://airtable.com/appZx6OWphy0LudAx"
        },
        "table": {
          "__rl": true,
          "value": "tblCALxxpLQicYZar",
          "mode": "list",
          "cachedResultName": "Company",
          "cachedResultUrl": "https://airtable.com/appZx6OWphy0LudAx/tblCALxxpLQicYZar"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Notes": "Already complete - switch 'Status' to incomplete and check 'Generate Info' to re-run"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Company name",
              "displayName": "Company name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Website URL",
              "displayName": "Website URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Linkedin",
              "displayName": "Company Linkedin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Generate Info",
              "displayName": "Generate Info",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Product description",
              "displayName": "Product description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Who are the ICP?",
              "displayName": "Who are the ICP?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Pain points / Challenges",
              "displayName": "Pain points / Challenges",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Key Goals / Objectives",
              "displayName": "Key Goals / Objectives",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "How do they currently solve their problems?",
              "displayName": "How do they currently solve their problems?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Incomplete",
                  "value": "Incomplete"
                },
                {
                  "name": "Complete",
                  "value": "Complete"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        528,
        944
      ],
      "id": "b917a5c9-3001-4591-a8d0-27136c4e1f4d",
      "name": "AddNotes",
      "credentials": {
        "airtableTokenApi": {
          "name": "Simon-scrap-ai-20250626"
        }
      }
    },
    {
      "parameters": {
        "content": "## Process\nOnly if information not complete",
        "height": 234,
        "width": 292,
        "color": 7
      },
      "id": "14e72c8e-4dda-4acc-a58b-4f517509d671",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        368
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appZx6OWphy0LudAx",
          "mode": "list",
          "cachedResultName": "Scrapes AI -peter0725- Interface",
          "cachedResultUrl": "https://airtable.com/appZx6OWphy0LudAx"
        },
        "table": {
          "__rl": true,
          "value": "tblJc21nI6OHHUed5",
          "mode": "list",
          "cachedResultName": "YT_transcript",
          "cachedResultUrl": "https://airtable.com/appZx6OWphy0LudAx/tblJc21nI6OHHUed5"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Generate Info": false,
            "Status": "Complete",
            "id": "={{ $('GetRecord').item.json.id }}",
            "Notes": "=",
            "Google Doc": "={{ $json.property_google_doc }}",
            "Notion DB url": "={{ $json.url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Company name",
              "displayName": "Company name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Youtube URL",
              "displayName": "Youtube URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Generate Info",
              "displayName": "Generate Info",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Incomplete",
                  "value": "Incomplete"
                },
                {
                  "name": "Complete",
                  "value": "Complete"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Google Doc",
              "displayName": "Google Doc",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Notion DB url",
              "displayName": "Notion DB url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        4208,
        432
      ],
      "id": "9ddb6e3e-2f88-4996-a9de-d6cefa87b9dd",
      "name": "UpdateRecord",
      "credentials": {
        "airtableTokenApi": {
          "name": "Simon-scrap-ai-20250626"
        }
      }
    },
    {
      "parameters": {
        "content": "## Update\nUpdate info",
        "height": 234,
        "width": 452,
        "color": 7
      },
      "id": "e434e411-c596-4863-b1ef-7fc7cb7bf2a4",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3712,
        -144
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $json.data.id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "waitForFinish",
              "value": "60"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "b64f985e-ddf4-445d-8def-3710114ea62c",
      "name": "Get Actor Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        432
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Apify Authorization Bearer"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{$json.data.defaultDatasetId}}/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "1c1962fa-4ae7-491f-a539-f76ee510f1b4",
      "name": "Get DataSet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        432
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Apify Authorization Bearer"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/xXOR6XE5SNC1QD138/runs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"video_url\": {{ $('Set input').item.json.url.toJsonString() }}\n}",
        "options": {}
      },
      "id": "10337986-5429-4bd7-a23d-fcaf77fc15ef",
      "name": "Start Act",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        432
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Apify Authorization Bearer"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2640,
        640
      ],
      "id": "afea93da-ab78-4270-9b6f-6fade8d5c165",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Get DataSet').item.json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "=\n2,156 / 5,000\n您的設計目標是處理影片內容的轉錄，並提供簡潔明了的摘要。該工具非常適合那些希望快速理解影片內容的要點、關鍵要點或可操作性見解，而無需通讀整個轉錄文字的使用者。\n\n輸出格式一律轉成繁體中文.\n\n\n說明：\n\n內容分析：仔細審查整個轉錄文本，找出關鍵主題、論點和重要細節。尋找轉錄文本中提供的主要思想、關鍵點或任何可操作性見解。識別反覆出現的主題或發言者，並記錄他們的貢獻，尤其是在他們對整體資訊至關重要的情況下。\n\n摘要格式：根據轉錄文字的長度和複雜程度，確定最合適的格式：簡短要點：用於快速、易於理解的摘要。全文段落：用於更詳細、更連貫的摘要。兩者結合：必要時，添加要點概述關鍵見解，並添加一段用於背景或解釋的段落。注重清晰簡潔，確保重點易於理解。\n\n語氣與結構：根據影片內容調整摘要的語氣：正式語氣：適用於專業、學術或商業相關內容。非正式語氣：適用於休閒、對話或娛樂類內容。摘要應保持邏輯流暢，以合理且易於理解的順序呈現重點。\n\n摘要長度：摘要長度應靈活，並與提供的轉錄內容相符：簡潔摘要：適用於簡短的轉錄內容或僅需傳達要點的情況。擴充摘要：適用於較長的轉錄內容，包含更多細節和細微差別。確保摘要夠詳細，能夠提供有價值的見解，但又要簡潔明了，避免不必要的贅述。\n\n清晰度和相關性：確保摘要僅關注最相關的資訊。避免使用無關或過於詳細的部分，除非它們有助於理解影片的關鍵資訊。如果提到了發言者，請明確指出相應的發言者，尤其是在他們對於內容至關重要的情況下。"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2928,
        432
      ],
      "id": "96e3cd01-7e8b-4b49-a297-b65039c24bc8",
      "name": "Video Summary"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Get DataSet').item.json.transcript.map(item => `[${item.start} - ${item.end}] ${item.text}`).join('\\n') }}",
        "messages": {
          "messageValues": [
            {
              "message": "=這款 GPT 助理旨在分析 JSON 格式的視訊轉錄數據，並提取關鍵時間戳及其對應的主題或章節。其目標是幫助用戶快速識別影片中的重要部分。\n輸出一律用繁體中文輸出.\n\n說明：\n您將分析文件並產生以下輸出：\n時間戳 -\n00:00:00 - 病毒式 Instagram 腳本的 AI 自動化\n00:03:54 - 產生病毒式腳本…\n01:03:00 - 病毒式內容建立流程 每個時間戳記都標記轉錄中偵測到的新主題、章節或重要轉變。\n\n分析步驟：助手會讀取轉錄資料。根據關鍵字（例如「下一個」、「主題」、「現在讓我們繼續」或其他模式）識別過渡或新章節。將相關內容以特定時間戳分組。最終以簡潔易用的格式輸出結果，如上圖所示。\n\n使用案例範例：快速識別網路研討會、培訓或示範影片的片段。將冗長的播客或教學課程概括為關鍵時刻。擷取洞察，為 YouTube 等平台建立影片摘要或時間戳記。"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2544,
        432
      ],
      "id": "de594429-bc22-4dc0-9fd9-c93dffd46929",
      "name": "Transcript Chunking",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Apify - Scrape Transcript from Video URL\nhttps://console.apify.com/actors/xXOR6XE5SNC1QD138/input",
        "height": 300,
        "width": 660,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        944,
        288
      ],
      "id": "f9a064af-cdea-4a84-8d6d-8d78bd169f70",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba223339-9daf-4a69-9a5c-baac25e07509",
              "name": "id",
              "value": "={{ $('Set input').item.json?.id }}",
              "type": "string"
            },
            {
              "id": "12f943c0-4a09-4409-99f1-9152d9ee25c2",
              "name": "Video_summary",
              "value": "={{ $('Video Summary').item.json.text }}",
              "type": "string"
            },
            {
              "id": "8f5e417f-b81f-43e9-9a40-710ddf6fa4bf",
              "name": "Script_summary",
              "value": "={{ $('Transcript Chunking').item.json.text }}",
              "type": "string"
            },
            {
              "id": "02e8be39-dc33-4bbb-b172-fb6e89910851",
              "name": "Transcript",
              "value": "={{ $('Get DataSet').item.json.transcript.map(item => `[${item.start} - ${item.end}] ${item.text}`).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3312,
        432
      ],
      "id": "08abcd2d-13e4-400e-b1b8-2401c6f263c0",
      "name": "Set output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "92179010-4964-4d18-b5a7-624ba720606d",
              "name": "=url",
              "value": "={{ $json['Youtube URL'] }}",
              "type": "string"
            },
            {
              "id": "11bfae12-3a7a-44dc-a582-3f064f32d678",
              "name": "update_airtable",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        432
      ],
      "id": "86862d2a-c9a8-4895-b2ef-292f63c4ed62",
      "name": "Set input"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "23aca842-df05-8020-b47c-c5eb024a02a1",
          "mode": "list",
          "cachedResultName": "zap_youtube_transcript_summary",
          "cachedResultUrl": "https://www.notion.so/23aca842df058020b47cc5eb024a02a1"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "video_url|url",
              "urlValue": "={{ $('Set input').item.json.url }}"
            },
            {
              "key": "Video名稱|title",
              "title": "={{ $('Get DataSet').item.json.title }}"
            },
            {
              "key": "Google Doc 全文網址|url",
              "urlValue": "=https://docs.google.com/document/d/{{ $('Done1').item.json.id }}/edit\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3968,
        432
      ],
      "id": "a4d50429-ed7d-44dd-8953-bd33d517bfc3",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "name": "Notion account 20250626"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1JFefvurPciz9OVH7XmQ5cBGKa7cUiBfw",
        "title": "={{ $('Get DataSet').item.json.title }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1888,
        432
      ],
      "id": "2c6bdbf3-401c-4409-824d-24fab2ef6842",
      "name": "Create Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Code').item.json.text }}\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2112,
        432
      ],
      "id": "62757c6d-fbeb-44ee-ba42-e3bfc4325a4f",
      "name": "Update Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create Docs').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1GCu9Bq64NO3J8rwRJhAPabytpR60s_0b",
          "mode": "url"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1GCu9Bq64NO3J8rwRJhAPabytpR60s_0b",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3760,
        432
      ],
      "id": "c8166c9b-8a74-4cc3-b094-64d99a5a7c17",
      "name": "Done1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 取得輸入資料\nconst item = $input.all()[0];\n\n// 檢查是否有 text 欄位並替換 | 為 \\n\nif (item.json.text) {\n  item.json.text = item.json.text.replace(/\\|/g, '\\n');\n}\n\nreturn [item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        432
      ],
      "id": "ebca5097-4cc5-45cb-9e18-b55487a22f24",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Update Docs').item.json.documentId }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "============================================================================\n\nVideo summary :\n\n{{ $json.Video_summary }}\n\n===========================================================================\n\nScript summary :\n\n{{ $json.Script_summary }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3520,
        432
      ],
      "id": "3297d0b2-0c72-4fa2-948b-c01ab851e8e7",
      "name": "Update Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chunk transcript into key sections",
        "height": 300,
        "width": 340,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2512,
        288
      ],
      "id": "f479cd67-4554-473f-b4ee-4dd81afe1bb7",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Summarise video content\nUsing transcript",
        "height": 300,
        "width": 340,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2880,
        288
      ],
      "id": "398dd204-2aad-4a71-ad3e-c82789df90c2",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5TgCpCi2jAUFV0lQ",
          "mode": "list",
          "cachedResultName": "subFlow-line-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "YouTube Transcript via Airtable to Notion is done. "
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4432,
        432
      ],
      "id": "a9201ab2-18b2-47f6-8008-ca8b11e29837",
      "name": "Execute Workflow",
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5TgCpCi2jAUFV0lQ",
          "mode": "list",
          "cachedResultName": "subFlow-line-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "Got webhook for Youtube script. start the task now."
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -96,
        448
      ],
      "id": "95ddf2e9-44ec-4d1a-a92b-88bf5ccd6d77",
      "name": "Execute Workflow1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetRecord": {
      "main": [
        [
          {
            "node": "IfIncomplete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfIncomplete": {
      "main": [
        [
          {
            "node": "Set input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AddNotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Actor Run": {
      "main": [
        [
          {
            "node": "Get DataSet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get DataSet": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Act": {
      "main": [
        [
          {
            "node": "Get Actor Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Transcript Chunking",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Video Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Video Summary": {
      "main": [
        [
          {
            "node": "Set output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript Chunking": {
      "main": [
        [
          {
            "node": "Video Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set output": {
      "main": [
        [
          {
            "node": "Update Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set input": {
      "main": [
        [
          {
            "node": "Start Act",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Docs": {
      "main": [
        [
          {
            "node": "Update Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Docs": {
      "main": [
        [
          {
            "node": "Transcript Chunking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Done1": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Create Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Docs1": {
      "main": [
        [
          {
            "node": "Done1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "UpdateRecord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateRecord": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "GetRecord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 1,
  "shared": [
    {
      "updatedAt": "2025-07-28T00:37:49.919Z",
      "createdAt": "2025-07-28T00:37:49.919Z",
      "role": "workflow:owner",
      "workflowId": "12h8SlaLyitquaup",
      "projectId": "0liZARjPSF29Xm7S",
      "project": {
        "updatedAt": "2025-05-09T03:15:11.991Z",
        "createdAt": "2025-05-09T03:15:09.651Z",
        "id": "0liZARjPSF29Xm7S",
        "name": "ChengHsien Yang <chenghyang2001@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "67155d98-04ab-4531-a011-993eff9c535f"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-25T06:58:25.520Z",
      "createdAt": "2025-07-25T06:58:25.520Z",
      "id": "T3UMngUvJRe99xhe",
      "name": "webhook"
    },
    {
      "updatedAt": "2025-07-01T06:00:22.350Z",
      "createdAt": "2025-07-01T06:00:22.350Z",
      "id": "na0TxcppD9SBpFMo",
      "name": "airtable"
    }
  ],
  "activeVersion": null
}