workflows/addwii-外部使用者-full-v2-ok.json
{
  "id": "2WILahlDKTIxXQxY",
  "name": "addwii-外部使用者-full-v2-ok",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2672,
        -320
      ],
      "id": "76d6503c-f024-4c05-9ab1-69b61e1390ac",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "beb86963-15fc-4b0e-9bae-05e410e45128",
              "name": "edge_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "03cd5209-5c70-44cd-8aab-1e6e3a58b710",
              "name": "house_id",
              "value": "={{ $json.house_id }}",
              "type": "number"
            },
            {
              "id": "cfe0ea11-3934-46ba-befd-08c7bedcc842",
              "name": "online",
              "value": "={{ $json.online }}",
              "type": "number"
            },
            {
              "id": "6761fa8f-9fa2-4a77-870d-d340a5304993",
              "name": "version",
              "value": "={{ $json.version }}",
              "type": "string"
            },
            {
              "id": "d98e31dd-9edc-4ecf-beb7-d913f8c05cc1",
              "name": "update_software_version",
              "value": "={{ $json.update_software_version }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1616,
        -224
      ],
      "id": "7b533dc5-24fb-41ef-9d9a-60fe377cf584",
      "name": "config-1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select *   from edges e WHERE LENGTH(e.update_software_version) = 5",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1824,
        -224
      ],
      "id": "4b3e3f15-99c7-47e9-884d-64f9baa2747f",
      "name": "update ver length = 5",
      "credentials": {
        "mySql": {
          "name": "rd2 MySQL"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.update_software_version }}",
                    "rightValue": "1.5.1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f982f598-ca2d-4fd6-b18b-df2db0ca3d9c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1.5.1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c39e0c2b-0ffd-4e18-8ed8-e873dd9f9aef",
                    "leftValue": "={{ $json.update_software_version }}",
                    "rightValue": "1.5.2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1.5.2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "24266e70-390c-443e-804c-9468325eb89a",
                    "leftValue": "={{ $json.update_software_version }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1408,
        -240
      ],
      "id": "4e46582e-a47d-4b9e-bbe4-3178f6fc239d",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM rooms r WHERE house_id = {{ $json.house_id }} ORDER BY created_at DESC\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -576,
        -464
      ],
      "id": "3e9cb261-fe07-49f5-82e9-f0cf9d79c47e",
      "name": "Execute a SQL query4",
      "credentials": {
        "mySql": {
          "name": "rd2 MySQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node - 檢查 house_id 重複並添加標籤\n// 這段程式碼應該放在 n8n 的 Code Node 中\n\n// 獲取輸入數據\nconst items = $input.all();\n\n// 建立一個 Map 來計算每個 house_id 出現的次數\nconst houseIdCount = new Map();\n\n// 第一次遍歷：計算每個 house_id 的出現次數\nitems.forEach(item => {\n  const houseId = item.json.house_id;\n  if (houseId !== undefined && houseId !== null) {\n    houseIdCount.set(houseId, (houseIdCount.get(houseId) || 0) + 1);\n  }\n});\n\n// 第二次遍歷：為每個項目添加 same_house 標籤\nconst outputItems = items.map(item => {\n  const houseId = item.json.house_id;\n  \n  // 檢查這個 house_id 是否出現兩次或以上\n  const isSameHouse = houseIdCount.get(houseId) >= 2;\n  \n  // 建立新的物件，包含原始數據和新的 same_house 標籤\n  return {\n    json: {\n      ...item.json,\n      same_house: isSameHouse\n    }\n  };\n});\n\n// 返回處理後的數據\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -656
      ],
      "id": "536bfe33-ed4c-4c26-bdf1-de6aa5b980e2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=196795943#gid=196795943",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=196795943#gid=196795943",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "room_id": "={{ $json.room_id }}",
            "house_id": "={{ $json.house_id }}",
            "edge_id": "={{ $json.edge_id }}",
            "type_id": "={{ $('Execute a SQL query4').item.json.type_id }}",
            "updated_at": "={{ $('Execute a SQL query4').item.json.updated_at }}",
            "在同一房子": "={{ $json.same_house }}",
            "room_name": "={{ $json.room_name }}",
            "建立時間": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [
            "room_id"
          ],
          "schema": [
            {
              "id": "edge_id",
              "displayName": "edge_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "house_id",
              "displayName": "house_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "room_id",
              "displayName": "room_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "room_name",
              "displayName": "room_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "全天開機",
              "displayName": "全天開機",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "在同一房子",
              "displayName": "在同一房子",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "type_id",
              "displayName": "type_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "建立時間",
              "displayName": "建立時間",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        384,
        -656
      ],
      "id": "4f760336-452b-4233-b9d3-67d0724c6d5e",
      "name": "更新在同一房子",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from house_user h where h.house_id = {{ $json.house_id }} ",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -544,
        352
      ],
      "id": "e4f1b05b-cd85-4946-ad28-69c7965db8f9",
      "name": "Execute a SQL query5",
      "credentials": {
        "mySql": {
          "name": "rd2 MySQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from users where id= {{ $json.user_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -64,
        352
      ],
      "id": "1403b2e9-620a-4cfb-a41b-243a8fe817d5",
      "name": "Execute a SQL query6",
      "credentials": {
        "mySql": {
          "name": "rd2 MySQL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03cd5209-5c70-44cd-8aab-1e6e3a58b710",
              "name": "house_id",
              "value": "={{ $json.house_id }}",
              "type": "number"
            },
            {
              "id": "26b661ce-d921-4243-929c-8835f3eba8d7",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        352
      ],
      "id": "c58a3965-4ef7-4aa1-a85e-145b160a138e",
      "name": "config-2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=196795943#gid=196795943",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=196795943#gid=196795943",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "client_name": "={{ $json.name }}",
            "house_id": "={{ $('config-2').item.json.house_id }}",
            "建立時間": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [
            "house_id"
          ],
          "schema": [
            {
              "id": "edge_id",
              "displayName": "edge_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "house_id",
              "displayName": "house_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "room_id",
              "displayName": "room_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "room_name",
              "displayName": "room_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "全天開機",
              "displayName": "全天開機",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "在同一房子",
              "displayName": "在同一房子",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "type_id",
              "displayName": "type_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "建立時間",
              "displayName": "建立時間",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        176,
        352
      ],
      "id": "1b9b7858-9d2e-41da-b0df-5eb0fb1f651d",
      "name": "更新client_name",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ddba27a0-a26c-4835-814e-953dd1230165",
              "name": "co2",
              "value": "={{ $json.co2 }}",
              "type": "number"
            },
            {
              "id": "f8f2e71d-cc49-4ccd-8220-756bcfa3f9cb",
              "name": "created_at",
              "value": "={{ $json.created_at }}",
              "type": "string"
            },
            {
              "id": "1f077399-5a10-4099-a113-8b5185942d8a",
              "name": "room_id",
              "value": "={{ $('set room id').item.json.room_id }}",
              "type": "number"
            },
            {
              "id": "4ec299cf-b22a-4595-af0b-2295c7b96b9c",
              "name": "name",
              "value": "={{ $('set room id').item.json.name }}",
              "type": "string"
            },
            {
              "id": "e0b7ad56-1483-49f0-9a4d-62bb81365e50",
              "name": "query_date",
              "value": "={{ $('set room id').item.json.query_date }}",
              "type": "string"
            },
            {
              "id": "b2caf07d-3511-4f9d-9b2d-740c016ccf64",
              "name": "name",
              "value": "={{ $('set room id').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        0
      ],
      "id": "ad04e878-212b-4a8d-b8d3-ab6ce1cbf0c2",
      "name": "set co2"
    },
    {
      "parameters": {
        "jsCode": "// CO2 資料轉換為 CSV 二進位檔案\n// 這個節點只執行一次，處理所有項目\n\n// 1. 從前一個節點取得所有項目\nconst allCO2Data = $input.all();\n\n// Count how many non-zero values exist\nconst nonZeroCount = allCO2Data.filter(item => {\n  const co2Value = item.json.co2;\n  return co2Value !== null && co2Value !== undefined && co2Value !== 0;\n}).length;\n\n// Check if nonZeroCount is 47 or 48\nconst checkResult = (nonZeroCount === 47 || nonZeroCount === 48) ? \"yes\" : \"no\";\n\n// 2. 從資料創建 CSV 字串（移除 RecordedBy 欄位）\nlet csvContent = \"CO2,CreatedAt\\n\"; // CSV 標頭 - 只保留兩欄\n\nfor (const item of allCO2Data) {\n  const data = item.json;\n  // 處理 null 值：如果 co2 為 null 或 undefined，則使用 0\n  const co2Value = data.co2 !== null && data.co2 !== undefined ? data.co2 : 0;\n  // 處理 CSV 格式，確保日期時間正確格式化（移除第三欄）\n  const row = `${co2Value},\"${data.created_at}\"`;\n  csvContent += row + \"\\n\";\n}\n\n// 3. 取得 room_id 和 date 並組成動態檔案名稱（包含星期幾縮寫）\nconst roomId = $('set room id').first().json.room_id;\nconst date = $('set room id').first().json.query_date;\n\n// 計算星期幾（3字母縮寫）\nconst dateObj = new Date(date);\nconst dayNames = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];\nconst dayOfWeek = dayNames[dateObj.getDay()];\n\nconst fileName = `room_${roomId}_${date}_co2_report_${dayOfWeek}.csv`;\n\n// 4. 使用助手函數從字串創建二進位檔案\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(csvContent), \n  fileName\n);\n\n// Count how many zeros exist\nconst zeroCount = allCO2Data.length - nonZeroCount;\n\n// 5. 返回包含二進位資料的新項目\nreturn [\n  {\n    json: {\n      reportGenerated: new Date().toISOString(),\n      recordCount: allCO2Data.length,\n      allNonZeroCheck: checkResult,  // \"yes\" if nonZeroCount is 47 or 48, \"no\" otherwise\n      zeroCount: zeroCount,  // Number of zero values\n      nonZeroCount: nonZeroCount,  // Number of non-zero values\n      room_id: roomId,\n      query_date: date,\n      // 計算統計資料時也要處理 null 值\n      averageCO2: Math.round(allCO2Data.reduce((sum, item) => {\n        const co2Value = item.json.co2 !== null && item.json.co2 !== undefined ? item.json.co2 : 0;\n        return sum + co2Value;\n      }, 0) / allCO2Data.length),\n      minCO2: Math.min(...allCO2Data.map(item => {\n        const co2Value = item.json.co2 !== null && item.json.co2 !== undefined ? item.json.co2 : 0;\n        return co2Value;\n      })),\n      maxCO2: Math.max(...allCO2Data.map(item => {\n        const co2Value = item.json.co2 !== null && item.json.co2 !== undefined ? item.json.co2 : 0;\n        return co2Value;\n      })),\n      fileName: fileName,  // 新增檔案名稱到 JSON 輸出\n      dayOfWeek: dayOfWeek  // 新增星期幾資訊\n    },\n    binary: {\n      'co2_report': binaryData\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ],
      "id": "8a4264ed-3ea5-4d2b-952e-a78b6daf22cf",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a8328b0a-8b38-4680-8862-ff6a61d38697",
              "name": "room_name",
              "value": "={{ $json.room_name }}",
              "type": "string"
            },
            {
              "id": "401c563a-2bd1-4c42-b077-f45985f5524f",
              "name": "room_id",
              "value": "={{ $json.room_id }}",
              "type": "number"
            },
            {
              "id": "be629b8a-fa8b-4b7c-8960-60502a4c7949",
              "name": "query_date",
              "value": "={{ $now.minus(1,'days').format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        0
      ],
      "id": "14552cf5-11a1-41c4-9162-f940115efa1b",
      "name": "set room id"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT co2, m.created_at FROM median m WHERE  (m.room_id = '{{ $json.room_id }}' ) AND (DATE(m.created_at) = '{{ $json.query_date }}' )  AND MINUTE(m.created_at) in (10,40)\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        816,
        0
      ],
      "id": "729e7644-7682-4f3e-b050-ec2fb2ad660a",
      "name": "query_at_minute_30",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "name": "rd2 MySQL"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "beb86963-15fc-4b0e-9bae-05e410e45128",
              "name": "=edge_id",
              "value": "={{ $json.edge_id }}",
              "type": "string"
            },
            {
              "id": "03cd5209-5c70-44cd-8aab-1e6e3a58b710",
              "name": "house_id",
              "value": "={{ $json.house_id }}",
              "type": "number"
            },
            {
              "id": "ea003620-097c-455b-82d6-6c8ee9fddfed",
              "name": "=room_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "5676408a-41f7-432b-a8a0-73bf98101e46",
              "name": "=room_name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        -464
      ],
      "id": "80b7e2d4-2407-448a-8796-0fcf511369db",
      "name": "config-room-name"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=196795943#gid=196795943",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=196795943#gid=196795943",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "room_id": "={{ $('Code').item.json.room_id }}",
            "全天開機": "={{ $json.allNonZeroCheck }}",
            "建立時間": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [
            "room_id"
          ],
          "schema": [
            {
              "id": "edge_id",
              "displayName": "edge_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "house_id",
              "displayName": "house_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "room_id",
              "displayName": "room_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "room_name",
              "displayName": "room_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "全天開機",
              "displayName": "全天開機",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "在同一房子",
              "displayName": "在同一房子",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "type_id",
              "displayName": "type_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "建立時間",
              "displayName": "建立時間",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1424,
        0
      ],
      "id": "2bd7b2c3-c4f1-4535-8c5c-42c80f66dc55",
      "name": "更新全天開機狀態",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        112,
        -192
      ],
      "id": "c5c69e4f-538e-48f0-89dc-21343802fbf4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "## Google Sheet : https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=196795943#gid=196795943\n\n## 20251014",
        "height": 128,
        "width": 1904,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2144,
        -880
      ],
      "id": "c7c20803-29bc-48a4-91bc-ca8090df769e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "36d6df2c-8164-44ee-b64d-db182a16b89c",
              "leftValue": "={{ $json.house_id }}",
              "rightValue": 72,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1056,
        -208
      ],
      "id": "faf0d297-f830-44cf-9f46-6025691a4f3a",
      "name": "Filter",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Enable this node when debugging :\n# only show 董事長 house_id 72",
        "height": 528,
        "width": 528,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1168,
        -544
      ],
      "id": "5762b0ec-b54c-4c13-a0e6-06e74ec4ba00",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15,
              "triggerAtMinute": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2784,
        832
      ],
      "id": "2e25503d-a070-432b-9066-877862a7354a",
      "name": "1:30AM"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=196795943#gid=196795943",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=196795943#gid=196795943",
          "mode": "url"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "全天開機",
              "lookupValue": "yes"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1872,
        576
      ],
      "id": "7ca491c9-5cb1-49fb-9d5e-32798c1f85ed",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "=room_id",
              "renameField": true,
              "outputFieldName": "room_id"
            },
            {
              "fieldToAggregate": "client_name",
              "renameField": true,
              "outputFieldName": "client_name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1664,
        576
      ],
      "id": "f072879a-3397-4916-b186-191d0675be71",
      "name": "Aggregate",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// 取得輸入資料\nconst inputData = $input.all();\n\n// 初始化結果陣列\nconst output = [];\n\n// 處理每個輸入項目\nfor (const item of inputData) {\n  const json = item.json;\n  \n  // 計算 room_id 陣列的大小\n  let roomIdCount = 0;\n  \n  if (json.room_id && Array.isArray(json.room_id)) {\n    roomIdCount = json.room_id.length;\n  }\n  \n  // 計算 client_name 陣列的大小（額外提供）\n  let clientNameCount = 0;\n  \n  if (json.client_name && Array.isArray(json.client_name)) {\n    clientNameCount = json.client_name.length;\n  }\n  \n  // 輸出結果\n  output.push({\n    json: {\n      room_id_count: roomIdCount,\n      client_name_count: clientNameCount,\n      original_data: json\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        576
      ],
      "id": "9651f7a2-cf23-4432-893a-dd95b9eda41b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "sendTo": "chenghyang2001@gmail.com",
        "subject": "n8n-外部使用者-整天開機-名單",
        "message": "=room 總數 : {{ $json.room_id_count }} <BR><BR>\nRoom ID: <BR>\n{{ $json.original_data.room_id }} <BR><BR>\nClient Name : <BR>\n{{ $json.original_data.client_name }}",
        "options": {
          "appendAttribution": false
        },
        "path": "a05af0dd-9be2-4df5-8ea7-71692c6fa764"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1248,
        576
      ],
      "id": "57e4b76d-7896-48fd-8188-c03921c7505f",
      "name": "Send a message",
      "webhookId": "a05af0dd-9be2-4df5-8ea7-71692c6fa764",
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## send email",
        "height": 240,
        "width": 800,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1904,
        528
      ],
      "id": "4141b6d5-16b1-47ab-ba0c-b3db48e67e00",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## update client_name",
        "height": 240,
        "width": 928,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -592,
        304
      ],
      "id": "feae6ca1-c23a-4990-8612-c57ecbc29bcf",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Nh8EtGRaJdooDk9",
          "mode": "list",
          "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
          "cachedResultName": "subFlow-line-n8n-peter-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "addwii-外部使用者-step-1-收集使用者資料 : DONE"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1024,
        576
      ],
      "id": "a673e6dc-c6f4-46d8-8715-38376673179d",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "content": "## step 1 : 收集使用者資訊",
        "height": 80,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2048,
        -336
      ],
      "id": "c4dd0dcd-27ed-421d-81c0-5d3696213086",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## step 2 : 寄 email : 全天開機使用者資訊",
        "height": 80,
        "width": 528,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2048,
        432
      ],
      "id": "141d2bff-4d97-4512-9847-4e925b5d8f93",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## step 3 : 計算 co2 平均值",
        "height": 80,
        "width": 528,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2032,
        1200
      ],
      "id": "e8cc1b94-ef1b-4805-8fbb-c5fc7092141f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nselect room_id, co2, created_at  from median m where m.room_id =  {{ $json.room_id }} and DATE(created_at) = DATE_SUB('{{ $json.date }}', INTERVAL 1 DAY)\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        528,
        1104
      ],
      "id": "6898a929-a786-46f9-a6be-8cf8c76a63d6",
      "name": "query_co2",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "name": "rd2 MySQL"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -928,
        1312
      ],
      "id": "89c2b1bc-3d7d-41a1-b8dc-06b7284fb7fe",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26b661ce-d921-4243-929c-8835f3eba8d7",
              "name": "=date",
              "value": "={{ $now.format('yyyy-MM-dd')}}",
              "type": "string"
            },
            {
              "id": "c750d63b-3399-4365-8f51-3c30300c58c9",
              "name": "house_id",
              "value": "={{ $json.house_id }}",
              "type": "number"
            },
            {
              "id": "84d21317-545a-4404-abe0-a67bdc607fa9",
              "name": "room_id",
              "value": "={{ $json.room_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        1104
      ],
      "id": "9f8992ee-9abc-4770-a260-61185efcf416",
      "name": "config-house_room_date"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1520,
        1312
      ],
      "id": "4fa61366-4087-4264-9e32-10f38ad3ac12",
      "name": "Limit",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from house_user h where h.house_id = {{ $json.house_id }} ",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        304,
        1776
      ],
      "id": "1a379457-5421-40e3-ad5b-9ddbebe9b7c3",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "name": "rd2 MySQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from users where id= {{ $json.user_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        784,
        1776
      ],
      "id": "2092b9b0-5c23-45e0-8596-c1330f627fd4",
      "name": "Execute a SQL query7",
      "credentials": {
        "mySql": {
          "name": "rd2 MySQL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03cd5209-5c70-44cd-8aab-1e6e3a58b710",
              "name": "house_id",
              "value": "={{ $json.house_id }}",
              "type": "number"
            },
            {
              "id": "26b661ce-d921-4243-929c-8835f3eba8d7",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        1776
      ],
      "id": "7def99b5-b81c-4121-979e-f5d1351cb805",
      "name": "config-"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=1309999229#gid=1309999229",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=1309999229#gid=1309999229",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "room_id": "={{ $('Get row(s) in sheet').item.json.room_id }}",
            "house_id": "={{ $('Get row(s) in sheet').item.json.house_id }}",
            "建立時間": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "co2_min": "={{ $json.co2_statistics.minimum }}",
            "co2_max": "={{ $json.co2_statistics.maximum }}",
            "co2_average": "={{ $json.co2_statistics.average }}",
            "co2_median": "={{ $json.co2_statistics.median }}"
          },
          "matchingColumns": [
            "room_id"
          ],
          "schema": [
            {
              "id": "house_id",
              "displayName": "house_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "room_id",
              "displayName": "room_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "建立時間",
              "displayName": "建立時間",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "co2_min",
              "displayName": "co2_min",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "co2_max",
              "displayName": "co2_max",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "co2_average",
              "displayName": "co2_average",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "co2_median",
              "displayName": "co2_median",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1376,
        1312
      ],
      "id": "83cf5adc-185c-4327-8ced-48cafe09d9a7",
      "name": "更新 co2 max",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=1309999229#gid=1309999229",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=1309999229#gid=1309999229",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "room_id": "={{ $('Get row(s) in sheet').item.json.room_id }}",
            "client_name": "={{ $json.name }}"
          },
          "matchingColumns": [
            "room_id"
          ],
          "schema": [
            {
              "id": "house_id",
              "displayName": "house_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "room_id",
              "displayName": "room_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "建立時間",
              "displayName": "建立時間",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "co2_min",
              "displayName": "co2_min",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "co2_max",
              "displayName": "co2_max",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "co2_average",
              "displayName": "co2_average",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "co2_median",
              "displayName": "co2_median",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1056,
        1776
      ],
      "id": "e387bf35-7d56-4722-ba03-717808b2390c",
      "name": "更新 client name",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=196795943#gid=196795943",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=196795943#gid=196795943",
          "mode": "url"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "全天開機",
              "lookupValue": "yes"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1824,
        1312
      ],
      "id": "b7cefdcf-3d04-473f-a902-d59fec9e25e8",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "co2",
              "renameField": true,
              "outputFieldName": "CO2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        736,
        1104
      ],
      "id": "f9ea65eb-aeca-4859-9a1a-f5e07fb3b0cd",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node - CO2 Statistics Calculator (Integer Output)\n// This code calculates min, max, average, and median from the CO2 array as integers\n\nconst items = $input.all();\nlet co2Values = [];\n\n// Extract CO2 values from each item\nfor (const item of items) {\n  if (item.json.CO2) {\n    if (Array.isArray(item.json.CO2)) {\n      co2Values = co2Values.concat(item.json.CO2);\n    } else {\n      co2Values.push(item.json.CO2);\n    }\n  }\n  if (item.json.co2) {\n    if (Array.isArray(item.json.co2)) {\n      co2Values = co2Values.concat(item.json.co2);\n    } else {\n      co2Values.push(item.json.co2);\n    }\n  }\n}\n\n// Convert all values to numbers and filter out invalid entries\nco2Values = co2Values\n  .map(val => parseFloat(val))\n  .filter(val => !isNaN(val));\n\n// Function to calculate integer-based statistics\nfunction calculateStatistics(values) {\n  if (values.length === 0) {\n    return { error: \"No valid CO2 values found\", count: 0 };\n  }\n\n  const sortedValues = [...values].sort((a, b) => a - b);\n\n  const min = Math.round(Math.min(...values));\n  const max = Math.round(Math.max(...values));\n  const sum = values.reduce((acc, val) => acc + val, 0);\n  const average = Math.round(sum / values.length);\n\n  let median;\n  const middleIndex = Math.floor(sortedValues.length / 2);\n\n  if (sortedValues.length % 2 === 0) {\n    median = Math.round((sortedValues[middleIndex - 1] + sortedValues[middleIndex]) / 2);\n  } else {\n    median = Math.round(sortedValues[middleIndex]);\n  }\n\n  return {\n    min,\n    max,\n    average,\n    median,\n    count: values.length,\n    allValues: values.map(v => Math.round(v))\n  };\n}\n\nconst statistics = calculateStatistics(co2Values);\n\nreturn [{\n  json: {\n    co2_statistics: {\n      minimum: statistics.min,\n      maximum: statistics.max,\n      average: statistics.average,\n      median: statistics.median,\n      total_count: statistics.count\n    },\n    raw_co2_values: statistics.allValues,\n    calculated_at: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        1104
      ],
      "id": "288959f6-f90d-47e4-884e-19fda23ef11f",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Nh8EtGRaJdooDk9",
          "mode": "list",
          "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
          "cachedResultName": "subFlow-line-n8n-peter-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "addwii-外部使用者-step-2-收集空汙資料 : DONE"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -672,
        2176
      ],
      "id": "75fdce67-0879-48fe-be79-27cc8097f51c",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7babff0f-14c8-4a31-8d9f-5cbb488278f9",
              "leftValue": "={{ $json.co2_average }}",
              "rightValue": 1000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1568,
        2176
      ],
      "id": "ccc53cec-d004-4989-863e-c111881eb042",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "chenghyang2001@gmail.com",
        "subject": "n8n-外部使用者- CO2 Average 大於 1000-名單",
        "message": "=Current time : {{ $now.format('yyyy-MM-dd hh:mm:ss') }} <BR><BR>\n\nroom 總數 : {{ $json.room_id_count }} <BR><BR>\nRoom ID: <BR>\n{{ $json.original_data.room_id }} <BR><BR>\nClient Name : <BR>\n{{ $json.original_data.client_name }}",
        "options": {
          "appendAttribution": false
        },
        "path": "7e2017c9-203b-4141-9973-dff54f36a598"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -896,
        2176
      ],
      "id": "67a1ba18-0bb6-413c-bd6a-fa6e7e9abf1f",
      "name": "Send a message1",
      "webhookId": "7e2017c9-203b-4141-9973-dff54f36a598",
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=1309999229#gid=1309999229",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=1309999229#gid=1309999229",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1792,
        2176
      ],
      "id": "f8a49df8-4912-4640-910f-b390f4c00c5a",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "=room_id",
              "renameField": true,
              "outputFieldName": "room_id"
            },
            {
              "fieldToAggregate": "client_name",
              "renameField": true,
              "outputFieldName": "client_name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1344,
        2176
      ],
      "id": "a7a3a9d7-4131-4a34-a512-c9e56cfbcc9c",
      "name": "Aggregate2",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// 取得輸入資料\nconst inputData = $input.all();\n\n// 初始化結果陣列\nconst output = [];\n\n// 處理每個輸入項目\nfor (const item of inputData) {\n  const json = item.json;\n  \n  // 計算 room_id 陣列的大小\n  let roomIdCount = 0;\n  \n  if (json.room_id && Array.isArray(json.room_id)) {\n    roomIdCount = json.room_id.length;\n  }\n  \n  // 計算 client_name 陣列的大小（額外提供）\n  let clientNameCount = 0;\n  \n  if (json.client_name && Array.isArray(json.client_name)) {\n    clientNameCount = json.client_name.length;\n  }\n  \n  // 輸出結果\n  output.push({\n    json: {\n      room_id_count: roomIdCount,\n      client_name_count: clientNameCount,\n      original_data: json\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        2176
      ],
      "id": "d5b14fab-0364-4e64-be00-d161a6cd9e05",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "content": "## step 4 : 寄 email : CO2 Average > 1000",
        "height": 80,
        "width": 528,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2016,
        2032
      ],
      "id": "7d61ab10-3895-40d3-b984-a5304e9a007d",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## 收件人; chenghyang2001@gmail.com, peter_yang@microjet.com.tw\n##  ,kerwin_ma@microjet.com.tw ,steven_wu@microjet.com.tw  , song_lin@microjet.com.tw",
        "width": 1392,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1280,
        2368
      ],
      "id": "4ad6564d-c9c9-4b8e-b8ed-0f16986e35f2",
      "name": "Sticky Note7"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "update ver length = 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config-1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update ver length = 5": {
      "main": [
        [
          {
            "node": "config-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query4": {
      "main": [
        [
          {
            "node": "config-room-name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "更新在同一房子",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query5": {
      "main": [
        [
          {
            "node": "config-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query6": {
      "main": [
        [
          {
            "node": "更新client_name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config-2": {
      "main": [
        [
          {
            "node": "Execute a SQL query6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set co2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set room id": {
      "main": [
        [
          {
            "node": "query_at_minute_30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "query_at_minute_30": {
      "main": [
        [
          {
            "node": "set co2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config-room-name": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "更新全天開機狀態",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "set room id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新全天開機狀態": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Execute a SQL query4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1:30AM": {
      "main": [
        [
          {
            "node": "update ver length = 5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新client_name": {
      "main": [
        []
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "query_co2": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "config-house_room_date",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config-house_room_date": {
      "main": [
        [
          {
            "node": "query_co2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "config-",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query7": {
      "main": [
        [
          {
            "node": "更新 client name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config-": {
      "main": [
        [
          {
            "node": "Execute a SQL query7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新 co2 max": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新 client name": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "更新 co2 max",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:1:30AM": {
      "recurrenceRules": []
    },
    "node:1:30AM1": {
      "recurrenceRules": []
    },
    "node:1:35AM1": {
      "recurrenceRules": []
    },
    "node:1:40AM": {
      "recurrenceRules": []
    },
    "node:1:45AM": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 1,
  "shared": [
    {
      "updatedAt": "2025-10-14T07:59:51.654Z",
      "createdAt": "2025-10-14T07:59:51.654Z",
      "role": "workflow:owner",
      "workflowId": "2WILahlDKTIxXQxY",
      "projectId": "0liZARjPSF29Xm7S",
      "project": {
        "updatedAt": "2025-05-09T03:15:11.991Z",
        "createdAt": "2025-05-09T03:15:09.651Z",
        "id": "0liZARjPSF29Xm7S",
        "name": "ChengHsien Yang <chenghyang2001@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "67155d98-04ab-4531-a011-993eff9c535f"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-07T01:29:34.249Z",
      "createdAt": "2025-07-07T01:29:34.249Z",
      "id": "0iHwyB5DMdUXABT5",
      "name": "addwii"
    },
    {
      "updatedAt": "2025-07-14T07:25:46.329Z",
      "createdAt": "2025-07-14T07:25:46.329Z",
      "id": "rBu7KINmPwm4bhDL",
      "name": "sql"
    }
  ],
  "activeVersion": null
}