workflows/addwii-0718-check-update-email-notification-v1-ok.json
{
  "id": "0tv6kDXxNAWnD14a",
  "name": "addwii-0718-check-update-email-notification-v1-ok",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1400,
        100
      ],
      "id": "bef989d9-46ac-4631-b3b7-72b04e236ed6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from houses  \nWHERE id = {{ $json.house_id }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -520,
        100
      ],
      "id": "6424889d-94a0-4c84-812a-7a74f3c6d316",
      "name": "Execute a SQL query1",
      "credentials": {
        "mySql": {
          "name": "rd2 MySQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *  FROM edges e where LENGTH(e.update_software_version) = 7 and e.update_software_version=\"1.6.1.1\"",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -960,
        100
      ],
      "id": "629b783b-73bd-4899-8c89-ce895136c244",
      "name": "update string length = 7",
      "credentials": {
        "mySql": {
          "name": "rd2 MySQL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "beb86963-15fc-4b0e-9bae-05e410e45128",
              "name": "edge_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "03cd5209-5c70-44cd-8aab-1e6e3a58b710",
              "name": "house_id",
              "value": "={{ $json.house_id }}",
              "type": "number"
            },
            {
              "id": "cfe0ea11-3934-46ba-befd-08c7bedcc842",
              "name": "online",
              "value": "={{ $json.online }}",
              "type": "number"
            },
            {
              "id": "6761fa8f-9fa2-4a77-870d-d340a5304993",
              "name": "version",
              "value": "={{ $json.version }}",
              "type": "string"
            },
            {
              "id": "d98e31dd-9edc-4ecf-beb7-d913f8c05cc1",
              "name": "update_software_version",
              "value": "={{ $json.update_software_version }}",
              "type": "string"
            },
            {
              "id": "28f62f3d-c274-4512-801c-8270104cd850",
              "name": "created_at",
              "value": "={{ $json.created_at }}",
              "type": "string"
            },
            {
              "id": "48d80f7c-dbbf-4145-80d0-2cffe8e98e5e",
              "name": "updated_at",
              "value": "={{ $json.updated_at }}",
              "type": "string"
            },
            {
              "id": "d2dc2516-1a05-435a-9fb1-c073e2f19637",
              "name": "locale",
              "value": "={{ $json.locale }}",
              "type": "string"
            },
            {
              "id": "dbbca61f-a736-439b-b20f-61a795f765c6",
              "name": "serial_number",
              "value": "={{ $json.serial_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -740,
        100
      ],
      "id": "c3a6ad6c-be88-4255-84eb-899478debe5e",
      "name": "config-1"
    },
    {
      "parameters": {
        "maxItems": 30
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -80,
        100
      ],
      "id": "706656f7-617d-4524-b362-60a1cb13d1d9",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "beb86963-15fc-4b0e-9bae-05e410e45128",
              "name": "edge_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "03cd5209-5c70-44cd-8aab-1e6e3a58b710",
              "name": "house_id",
              "value": "={{ $('config-1').item.json.house_id }}",
              "type": "number"
            },
            {
              "id": "cfe0ea11-3934-46ba-befd-08c7bedcc842",
              "name": "online",
              "value": "={{ $('config-1').item.json.online }}",
              "type": "number"
            },
            {
              "id": "6761fa8f-9fa2-4a77-870d-d340a5304993",
              "name": "app_version",
              "value": "={{ $('config-1').item.json.version }}",
              "type": "string"
            },
            {
              "id": "d98e31dd-9edc-4ecf-beb7-d913f8c05cc1",
              "name": "update_software_version",
              "value": "={{ $('config-1').item.json.update_software_version }}",
              "type": "string"
            },
            {
              "id": "28f62f3d-c274-4512-801c-8270104cd850",
              "name": "created_at",
              "value": "={{ $json.created_at }}",
              "type": "string"
            },
            {
              "id": "48d80f7c-dbbf-4145-80d0-2cffe8e98e5e",
              "name": "updated_at",
              "value": "={{ $json.updated_at }}",
              "type": "string"
            },
            {
              "id": "d2dc2516-1a05-435a-9fb1-c073e2f19637",
              "name": "locale",
              "value": "={{ $('config-1').item.json.locale }}",
              "type": "string"
            },
            {
              "id": "dbbca61f-a736-439b-b20f-61a795f765c6",
              "name": "serial_number",
              "value": "={{ $('config-1').item.json.serial_number }}",
              "type": "string"
            },
            {
              "id": "64f7978c-f35f-4223-808a-3e4cea520aab",
              "name": "client",
              "value": "={{ $json.client }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -300,
        100
      ],
      "id": "132fbc91-9272-429a-900f-fd4562753b34",
      "name": "config-2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9924d2e6-d042-46fb-a418-22ef1348eaec",
              "leftValue": "={{ $json.app_version }}",
              "rightValue": "={{ $('config email app-ver').item.json.app_version }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        140,
        100
      ],
      "id": "7eba4395-93ac-4d46-991f-9db36e7bcb71",
      "name": "If"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "house_id"
            },
            {
              "fieldToAggregate": "client"
            },
            {
              "fieldToAggregate": "app_version"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        360,
        0
      ],
      "id": "c8459c46-2485-47c9-8447-1a9e1ce4cadd",
      "name": "Aggregate-OK"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "house_id"
            },
            {
              "fieldToAggregate": "client"
            },
            {
              "fieldToAggregate": "app_version"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        360,
        200
      ],
      "id": "35842647-4c5c-43e1-8db7-bcdb5c5315a1",
      "name": "Aggregate-NG"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df40adeb-9e80-4fac-bff6-c31fd443e482",
              "name": "house_id",
              "value": "={{ $json.house_id }}",
              "type": "string"
            },
            {
              "id": "3ae4cea4-1fb2-466f-9608-f3b5af46069d",
              "name": "client",
              "value": "={{ $json.client }}",
              "type": "string"
            },
            {
              "id": "2af4bce8-2280-420c-b1c3-169a0beea701",
              "name": "app_version",
              "value": "={{ $json.app_version }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        0
      ],
      "id": "095fba7c-6db2-4462-a094-248eec638fd4",
      "name": "Set OK"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df40adeb-9e80-4fac-bff6-c31fd443e482",
              "name": "house_id",
              "value": "={{ $json.house_id }}",
              "type": "string"
            },
            {
              "id": "3ae4cea4-1fb2-466f-9608-f3b5af46069d",
              "name": "client",
              "value": "={{ $json.client }}",
              "type": "string"
            },
            {
              "id": "2af4bce8-2280-420c-b1c3-169a0beea701",
              "name": "app_version",
              "value": "={{ $json.app_version }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        200
      ],
      "id": "6368c53a-4247-47c5-970b-09aa61a6714a",
      "name": "Set NG"
    },
    {
      "parameters": {
        "sendTo": "={{ $('config email app-ver').item.json.emails }}",
        "subject": "Update Result : OK",
        "emailType": "text",
        "message": "=Update OK :\n\nHouse ID    : {{ $json.house_id }}\n\nClient Name : {{ $json.client }}\n\nApp version : {{ $json.app_version }}\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        800,
        0
      ],
      "id": "8f2e5985-7f7a-4ed7-afd5-36049f028959",
      "name": "Send OK",
      "webhookId": "b6acfc0b-cab4-40fa-91cc-43a02c5c7ea9",
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('config email app-ver').item.json.emails }}",
        "subject": "Update Result - NG",
        "emailType": "text",
        "message": "=Update NG :\n\nHouse ID    : {{ $json.house_id }}\n\nClient name : {{ $json.client }}\n\nApp Version : {{ $json.app_version }}\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        800,
        200
      ],
      "id": "cc7a097b-6b47-4bb9-b3e5-9b2d0a60752f",
      "name": "Send NG",
      "webhookId": "b6acfc0b-cab4-40fa-91cc-43a02c5c7ea9",
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 13
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1400,
        360
      ],
      "id": "832340db-c576-4c36-8ab6-03afc2497810",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94f15f77-5fb0-40d9-a1aa-d0ad73f93d52",
              "name": "emails",
              "value": "chenghyang2001@gmail.com, peter_yang@microjet.com.tw ",
              "type": "string"
            },
            {
              "id": "fa01efd7-6ef9-4414-b8d3-c4dcc6d3ae1b",
              "name": "app_version",
              "value": "25.7.17.1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1180,
        100
      ],
      "id": "4f08ed66-33f2-4671-9de6-31332fc6c83f",
      "name": "config email app-ver"
    },
    {
      "parameters": {
        "content": "## Note for change in node \"config email app-ver\"\n\n## 1. add email for 收件人  ;  (賴忠延) OR (chungyen_lai@microjet.com.tw)\n## 2. Change app version\n## 3. change trigger time   : 04:00 AM or Test time",
        "height": 260,
        "width": 980
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1340,
        -380
      ],
      "id": "0002911e-a3a6-49e2-abfc-402bfb76f76f",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "config email app-ver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "config-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update string length = 7": {
      "main": [
        [
          {
            "node": "config-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config-1": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config-2": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Aggregate-OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate-NG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate-OK": {
      "main": [
        [
          {
            "node": "Set OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate-NG": {
      "main": [
        [
          {
            "node": "Set NG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set OK": {
      "main": [
        [
          {
            "node": "Send OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set NG": {
      "main": [
        [
          {
            "node": "Send NG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "config email app-ver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config email app-ver": {
      "main": [
        [
          {
            "node": "update string length = 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 1,
  "shared": [
    {
      "updatedAt": "2025-07-18T01:09:17.085Z",
      "createdAt": "2025-07-18T01:09:17.085Z",
      "role": "workflow:owner",
      "workflowId": "0tv6kDXxNAWnD14a",
      "projectId": "0liZARjPSF29Xm7S",
      "project": {
        "updatedAt": "2025-05-09T03:15:11.991Z",
        "createdAt": "2025-05-09T03:15:09.651Z",
        "id": "0liZARjPSF29Xm7S",
        "name": "ChengHsien Yang <chenghyang2001@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "67155d98-04ab-4531-a011-993eff9c535f"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-07T01:29:34.249Z",
      "createdAt": "2025-07-07T01:29:34.249Z",
      "id": "0iHwyB5DMdUXABT5",
      "name": "addwii"
    },
    {
      "updatedAt": "2025-07-14T07:29:29.974Z",
      "createdAt": "2025-07-14T07:29:29.974Z",
      "id": "AFXjnq25FzE43zpj",
      "name": "zap"
    },
    {
      "updatedAt": "2025-07-01T07:12:46.672Z",
      "createdAt": "2025-07-01T07:12:46.672Z",
      "id": "Ao5a87WVlUcW26wm",
      "name": "notion"
    },
    {
      "updatedAt": "2025-07-18T02:09:39.832Z",
      "createdAt": "2025-07-18T02:09:39.832Z",
      "id": "leJIsCmBnuf24l8R",
      "name": "updateapp_check"
    },
    {
      "updatedAt": "2025-07-14T07:25:46.329Z",
      "createdAt": "2025-07-14T07:25:46.329Z",
      "id": "rBu7KINmPwm4bhDL",
      "name": "sql"
    }
  ],
  "activeVersion": null
}