workflows/addwii-query_mediam_quickchart_node.json
{
  "id": "5HOJ2nB0fFGn3Xgh",
  "name": "addwii-query_mediam_quickchart_node",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        80
      ],
      "id": "9c7b3061-10df-432f-bb06-599be9179e73",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ddba27a0-a26c-4835-814e-953dd1230165",
              "name": "co2",
              "value": "={{ $json.co2 }}",
              "type": "number"
            },
            {
              "id": "f8f2e71d-cc49-4ccd-8220-756bcfa3f9cb",
              "name": "created_at",
              "value": "={{ $json.created_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -300,
        80
      ],
      "id": "a4aae8c8-b231-4413-9c65-22176d89a2bd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "https://airtable.com/appQ3aA6ZHzQq5RKN/tbl24v9fNW8yuQNYE/viwCuAsckxyYDrUnF?blocks=hide",
          "mode": "url"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appQ3aA6ZHzQq5RKN/tbl24v9fNW8yuQNYE/viwCuAsckxyYDrUnF?blocks=hide",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "co2": "={{ $json.co2 }}",
            "Date": "={{ $json.created_at }}",
            "room_id": "={{ $('set roomId_date').item.json.room_id }}"
          },
          "matchingColumns": [
            "Date"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "room_id",
              "displayName": "room_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "co2",
              "displayName": "co2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": false
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        160,
        -140
      ],
      "id": "0582ce07-5a17-404b-9440-44e9a11540f5",
      "name": "Create or update a record",
      "credentials": {
        "airtableTokenApi": {
          "name": "Simon-scrap-ai-20250626"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT co2, m.created_at FROM median m WHERE  (m.room_id = {{ $json.room_id }} ) AND (DATE(m.created_at) = '{{ $json.date }}' )",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -500,
        80
      ],
      "id": "f75385fb-c268-4e41-9b37-033c4b203c70",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "name": "rd2 MySQL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "904ea8a3-e084-47f9-9f37-3a3d2223e42e",
              "name": "room_id",
              "value": "284",
              "type": "string"
            },
            {
              "id": "704b112d-1f2f-471d-8b37-cc49e312e50a",
              "name": "date",
              "value": "2025-07-04",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -740,
        80
      ],
      "id": "1c39f342-4e20-4f6c-bee0-6e1f6841027c",
      "name": "set roomId_date"
    },
    {
      "parameters": {
        "maxItems": 200
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -100,
        80
      ],
      "id": "1e9dd098-1456-4bc4-a764-e2a54c584118",
      "name": "Limit 1500"
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst items = $input.all();\n\n// Create arrays to store dates and values\nconst dates = [];\nconst values = [];\n\n// Process each item\nitems.forEach(item => {\n  const inputData = item.json;\n  \n  // Convert created_at to date format\n  const createdAt = new Date(inputData.created_at);\n  \n  // Format date for week range\n  const monthNames = [\"jan\", \"feb\", \"mar\", \"apr\", \"may\", \"jun\",\n    \"jul\", \"aug\", \"sep\", \"oct\", \"nov\", \"dec\"];\n  \n  const month = monthNames[createdAt.getMonth()];\n  const day = createdAt.getDate();\n  const year = createdAt.getFullYear();\n  \n  // Calculate week range\n  const endDay = day + 6;\n  const dateRange = `${month} ${day} – ${endDay}, ${year}`;\n  \n  // Add to arrays\n  dates.push(dateRange);\n  values.push(inputData.co2);\n});\n\n// Return single item with arrays\nreturn [\n  {\n    json: {\n      dates: dates,\n      values: values\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        80
      ],
      "id": "ac4baba6-bf38-4deb-8cef-78b360ff310d",
      "name": "Code"
    },
    {
      "parameters": {
        "chartType": "line",
        "labelsMode": "array",
        "labelsArray": "={{ JSON.stringify($json.dates) }}",
        "data": "={{JSON.stringify($json.values) }}",
        "chartOptions": {},
        "datasetOptions": {}
      },
      "type": "n8n-nodes-base.quickChart",
      "typeVersion": 1,
      "position": [
        400,
        80
      ],
      "id": "23c40d65-7671-4249-8c27-7405b7c51717",
      "name": "Line-Chart"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "set roomId_date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Limit 1500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set roomId_date": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit 1500": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Line-Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 1,
  "shared": [
    {
      "updatedAt": "2025-07-07T05:55:40.338Z",
      "createdAt": "2025-07-07T05:55:40.338Z",
      "role": "workflow:owner",
      "workflowId": "5HOJ2nB0fFGn3Xgh",
      "projectId": "0liZARjPSF29Xm7S",
      "project": {
        "updatedAt": "2025-05-09T03:15:11.991Z",
        "createdAt": "2025-05-09T03:15:09.651Z",
        "id": "0liZARjPSF29Xm7S",
        "name": "ChengHsien Yang <chenghyang2001@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "67155d98-04ab-4531-a011-993eff9c535f"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-07T01:29:34.249Z",
      "createdAt": "2025-07-07T01:29:34.249Z",
      "id": "0iHwyB5DMdUXABT5",
      "name": "addwii"
    }
  ],
  "activeVersion": null
}