workflows/addwii-rd內部使用者-pm25-突然飆高異常-偵測.json
{
  "id": "4SEE2tF7dcwanCjL",
  "name": "addwii-RD內部使用者-PM25-突然飆高異常-偵測",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2224,
        1952
      ],
      "id": "04fd207c-32ab-4744-9f98-e55887ccd5e7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "## Google Sheet : ## https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=1940894425#gid=1940894425",
        "height": 80,
        "width": 1904,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1840,
        1760
      ],
      "id": "c2184e00-db0f-4aed-afda-8b68645c2905",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "36d6df2c-8164-44ee-b64d-db182a16b89c",
              "leftValue": "={{ $json.house_id }}",
              "rightValue": 72,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1632,
        512
      ],
      "id": "f6b3a3f7-9e7d-4927-ad03-385550067257",
      "name": "Filter",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Debug #1\n",
        "height": 80,
        "width": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1648,
        624
      ],
      "id": "416fa83e-33cd-4383-920d-d9eeb4f9710c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=1016385485#gid=1016385485",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=1016385485#gid=1016385485",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1936,
        1072
      ],
      "id": "c9b28b6b-327c-48d9-b71d-b2dec37105cd",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "pm25",
              "renameField": true,
              "outputFieldName": "pm25"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        624,
        864
      ],
      "id": "f0752530-5ee4-475c-826c-5b510160d717",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1040,
        1072
      ],
      "id": "93ad2185-aa05-4f6c-a4f2-d16e711b5e57",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26b661ce-d921-4243-929c-8835f3eba8d7",
              "name": "=date",
              "value": "={{ $now.format('yyyy-MM-dd')}}",
              "type": "string"
            },
            {
              "id": "c750d63b-3399-4365-8f51-3c30300c58c9",
              "name": "house_id",
              "value": "={{ $json.house_id }}",
              "type": "number"
            },
            {
              "id": "84d21317-545a-4404-abe0-a67bdc607fa9",
              "name": "room_id",
              "value": "={{ $json.room_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        864
      ],
      "id": "21b5df90-41f9-460f-8e03-d82c7dcc2124",
      "name": "config-house_room_date"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5TgCpCi2jAUFV0lQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/5TgCpCi2jAUFV0lQ",
          "cachedResultName": "subFlow-line-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "外部使用者-資料收集-pm25 : DONE"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1632,
        288
      ],
      "id": "1a0c2fca-2bcf-4324-b3a6-036107c65f07",
      "name": "Execute Workflow1",
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1632,
        1072
      ],
      "id": "f7e027a8-f925-4c5a-a88a-c597d8c8b214",
      "name": "Limit",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from house_user h where h.house_id = {{ $json.house_id }} ",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        192,
        1536
      ],
      "id": "dc307386-e556-4324-b0cb-3b1c02860f80",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "name": "rd2 MySQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from users where id= {{ $json.user_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        672,
        1536
      ],
      "id": "71350d3f-6dee-42a3-aec9-6d96fa8a4265",
      "name": "Execute a SQL query7",
      "credentials": {
        "mySql": {
          "name": "rd2 MySQL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03cd5209-5c70-44cd-8aab-1e6e3a58b710",
              "name": "house_id",
              "value": "={{ $json.house_id }}",
              "type": "number"
            },
            {
              "id": "26b661ce-d921-4243-929c-8835f3eba8d7",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        1536
      ],
      "id": "79e2e423-8d40-44b4-aa4c-bef8880f2dd4",
      "name": "config-"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=500449947#gid=500449947",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=500449947#gid=500449947",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "room_id": "={{ $('Get row(s) in sheet1').item.json.room_id }}",
            "client_name": "={{ $json.name }}"
          },
          "matchingColumns": [
            "room_id"
          ],
          "schema": [
            {
              "id": "house_id",
              "displayName": "house_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "room_id",
              "displayName": "room_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "建立時間",
              "displayName": "建立時間",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pm25_min",
              "displayName": "pm25_min",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pm25_max",
              "displayName": "pm25_max",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pm25_average",
              "displayName": "pm25_average",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pm25_median",
              "displayName": "pm25_median",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "room_name",
              "displayName": "room_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "non_zero_count",
              "displayName": "non_zero_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "aqi_good",
              "displayName": "aqi_good",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "aqi_moderate",
              "displayName": "aqi_moderate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "aqi_unhealthySensitive",
              "displayName": "aqi_unhealthySensitive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "aqi_unhealthy",
              "displayName": "aqi_unhealthy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "aqi_veryUnhealthy",
              "displayName": "aqi_veryUnhealthy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "aqi_hazardous",
              "displayName": "aqi_hazardous",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        944,
        1536
      ],
      "id": "60522215-28b6-4dac-a7e8-2715a54fd4b7",
      "name": "更新 client name",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=chenghyang2001@gmail.com",
        "subject": "RD2-內部使用者- PM25 Max 有 大於 50 名單 ",
        "message": "=House ID : {{ $json.house_id.toJsonString() }} <BR><BR>\nroom 總數 : {{ $json.room_id.length }} <BR><BR>\nRoom ID: <BR>\n{{ $json.room_id.toJsonString()}} <BR><BR>\n\n\n<BR>\nn8n 工作流: addwii-RD內部使用者-PM25-突然飆高異常-偵測 <BR>\nhttps://chenghyang2001.app.n8n.cloud/workflow/4SEE2tF7dcwanCjL/6b161b\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -976,
        1904
      ],
      "id": "0b5f7c30-bcea-48a3-a6c6-91dac0d84469",
      "name": "Send a message",
      "webhookId": "72021d81-fab0-4f0c-978e-1358607eda49",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## send email",
        "height": 240,
        "width": 528,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2080,
        1872
      ],
      "id": "95c3f305-0aa0-4255-8c7c-6b6ddf30a72d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=500449947#gid=500449947",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=500449947#gid=500449947",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1968,
        1952
      ],
      "id": "9c3656e9-f3ec-45fa-8908-2f29c176a036",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "=room_id",
              "renameField": true,
              "outputFieldName": "room_id"
            },
            {
              "fieldToAggregate": "client_name",
              "renameField": true,
              "outputFieldName": "client_name"
            },
            {
              "fieldToAggregate": "house_id",
              "renameField": true,
              "outputFieldName": "house_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1424,
        1904
      ],
      "id": "dd08bb42-c6b5-4a27-adf3-241596b7ca82",
      "name": "Aggregate1",
      "executeOnce": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Nh8EtGRaJdooDk9",
          "mode": "list",
          "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
          "cachedResultName": "subFlow-line-n8n-peter-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "RD2-內部使用者- PM25-突然飆高異常-偵測 : DONE"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -752,
        1904
      ],
      "id": "a91d53d7-07ec-480f-9ee6-357bc4029ee1",
      "name": "Execute Workflow",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7babff0f-14c8-4a31-8d9f-5cbb488278f9",
              "leftValue": "={{ $json.pm25_max }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1744,
        1952
      ],
      "id": "9a5e0ed7-121e-41c1-840c-13a2a7a43bf6",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nselect room_id, pm25, created_at  from median m where m.room_id =  {{ $json.room_id }} and DATE(created_at) = DATE_SUB('{{ $json.date }}', INTERVAL 1 DAY)\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        416,
        864
      ],
      "id": "9294ccaf-6755-481a-b342-9ca2062c8686",
      "name": "query_pm25",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "name": "rd2 MySQL"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=500449947#gid=500449947",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=500449947#gid=500449947",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "建立時間": "={{ $now.format('yyyy-MM-dd') }}",
            "pm25_min": "={{ $json.pm25Statistics.minimum }}",
            "pm25_max": "={{ $json.pm25Statistics.maximum }}",
            "pm25_average": "={{ $json.pm25Statistics.average }}",
            "pm25_median": "={{ $json.pm25Statistics.median }}",
            "room_id": "={{ $('Get row(s) in sheet1').item.json.room_id }}",
            "room_name": "={{ $('Get row(s) in sheet1').item.json.room_name }}",
            "non_zero_count": "={{ $json.pm25Statistics.nonZeroCount }}",
            "aqi_good": "={{ $json.aqiDistribution.good }}",
            "aqi_moderate": "={{ $json.aqiDistribution.moderate }}",
            "aqi_unhealthySensitive": "={{ $json.aqiDistribution.unhealthySensitive }}",
            "aqi_unhealthy": "={{ $json.aqiDistribution.unhealthy }}",
            "aqi_veryUnhealthy": "={{ $json.aqiDistribution.veryUnhealthy }}",
            "aqi_hazardous": "={{ $json.aqiDistribution.hazardous }}",
            "house_id": "={{ $('Get row(s) in sheet1').item.json.house_id }}"
          },
          "matchingColumns": [
            "room_id"
          ],
          "schema": [
            {
              "id": "house_id",
              "displayName": "house_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "room_id",
              "displayName": "room_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "建立時間",
              "displayName": "建立時間",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pm25_min",
              "displayName": "pm25_min",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pm25_max",
              "displayName": "pm25_max",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pm25_average",
              "displayName": "pm25_average",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pm25_median",
              "displayName": "pm25_median",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "room_name",
              "displayName": "room_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "non_zero_count",
              "displayName": "non_zero_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "aqi_good",
              "displayName": "aqi_good",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "aqi_moderate",
              "displayName": "aqi_moderate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "aqi_unhealthySensitive",
              "displayName": "aqi_unhealthySensitive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "aqi_unhealthy",
              "displayName": "aqi_unhealthy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "aqi_veryUnhealthy",
              "displayName": "aqi_veryUnhealthy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "aqi_hazardous",
              "displayName": "aqi_hazardous",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1232,
        992
      ],
      "id": "8ed80572-1d8f-4dc7-a52c-42feca55d03a",
      "name": "更新 pm25",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node - PM2.5 Statistics Calculator (Integer Output)\n// This code calculates min, max, average, and median from the PM2.5 array as integers\n\nconst items = $input.all();\nlet pm25Values = [];\n\n// Extract PM2.5 values from each item\nfor (const item of items) {\n  // Check for different possible property names\n  if (item.json.PM25) {\n    if (Array.isArray(item.json.PM25)) {\n      pm25Values = pm25Values.concat(item.json.PM25);\n    } else {\n      pm25Values.push(item.json.PM25);\n    }\n  }\n  if (item.json.pm25) {\n    if (Array.isArray(item.json.pm25)) {\n      pm25Values = pm25Values.concat(item.json.pm25);\n    } else {\n      pm25Values.push(item.json.pm25);\n    }\n  }\n  if (item.json.PM2_5) {\n    if (Array.isArray(item.json.PM2_5)) {\n      pm25Values = pm25Values.concat(item.json.PM2_5);\n    } else {\n      pm25Values.push(item.json.PM2_5);\n    }\n  }\n  if (item.json.pm2_5) {\n    if (Array.isArray(item.json.pm2_5)) {\n      pm25Values = pm25Values.concat(item.json.pm2_5);\n    } else {\n      pm25Values.push(item.json.pm2_5);\n    }\n  }\n}\n\n// Convert all values to numbers and filter out invalid entries\npm25Values = pm25Values\n  .map(val => parseFloat(val))\n  .filter(val => !isNaN(val));\n\n// Function to calculate integer-based statistics\nfunction calculateStatistics(values) {\n  if (values.length === 0) {\n    return { \n      error: \"No valid PM2.5 values found\", \n      count: 0 \n    };\n  }\n\n  const sortedValues = [...values].sort((a, b) => a - b);\n\n  const min = Math.round(Math.min(...values));\n  const max = Math.round(Math.max(...values));\n  const sum = values.reduce((acc, val) => acc + val, 0);\n  const average = Math.round(sum / values.length);\n\n  let median;\n  const middleIndex = Math.floor(sortedValues.length / 2);\n\n  if (sortedValues.length % 2 === 0) {\n    median = Math.round((sortedValues[middleIndex - 1] + sortedValues[middleIndex]) / 2);\n  } else {\n    median = Math.round(sortedValues[middleIndex]);\n  }\n\n  // Calculate additional PM2.5 specific metrics\n  const nonZeroValues = values.filter(v => v > 0);\n  const nonZeroCount = nonZeroValues.length;\n  const nonZeroPercentage = Math.round((nonZeroCount / values.length) * 100);\n  \n  // AQI categories for PM2.5 (μg/m³) - ensure integer counts\n  const goodCount = values.filter(v => v >= 0 && v <= 12).length;\n  const moderateCount = values.filter(v => v > 12 && v <= 35).length;\n  const unhealthySensitiveCount = values.filter(v => v > 35 && v <= 55).length;\n  const unhealthyCount = values.filter(v => v > 55 && v <= 150).length;\n  const veryUnhealthyCount = values.filter(v => v > 150 && v <= 250).length;\n  const hazardousCount = values.filter(v => v > 250).length;\n\n  return {\n    min: Number(min),\n    max: Number(max),\n    average: Number(average),\n    median: Number(median),\n    count: Number(values.length),\n    nonZeroCount: Number(nonZeroCount),\n    nonZeroPercentage: Number(nonZeroPercentage),\n    goodCount: Number(goodCount),\n    moderateCount: Number(moderateCount),\n    unhealthySensitiveCount: Number(unhealthySensitiveCount),\n    unhealthyCount: Number(unhealthyCount),\n    veryUnhealthyCount: Number(veryUnhealthyCount),\n    hazardousCount: Number(hazardousCount),\n    allValues: values.map(v => Math.round(v))\n  };\n}\n\nconst statistics = calculateStatistics(pm25Values);\n\n// Create clean output with camelCase naming to avoid n8n parsing issues\nreturn [{\n  json: {\n    pm25Statistics: {\n      minimum: Number(statistics.min || 0),\n      maximum: Number(statistics.max || 0),\n      average: Number(statistics.average || 0),\n      median: Number(statistics.median || 0),\n      totalCount: Number(statistics.count || 0),\n      nonZeroCount: Number(statistics.nonZeroCount || 0),\n      nonZeroPercentage: Number(statistics.nonZeroPercentage || 0)\n    },\n    aqiDistribution: {\n      good: Number(statistics.goodCount || 0),\n      moderate: Number(statistics.moderateCount || 0),\n      unhealthySensitive: Number(statistics.unhealthySensitiveCount || 0),\n      unhealthy: Number(statistics.unhealthyCount || 0),\n      veryUnhealthy: Number(statistics.veryUnhealthyCount || 0),\n      hazardous: Number(statistics.hazardousCount || 0)\n    },\n    rawPm25Values: statistics.allValues || [],\n    calculatedAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        928
      ],
      "id": "4c0f5d6a-2b6b-4d03-a508-d5b018af1f03",
      "name": "Code for PM25"
    },
    {
      "parameters": {
        "content": "# Debug #2\n",
        "height": 80,
        "width": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1648,
        976
      ],
      "id": "389d7fe8-a738-4231-900f-5712c3667b76",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "28eca842-df05-8018-a20a-f4967b346a8f",
          "mode": "list",
          "cachedResultName": "addwii-外部使用者-資料收集-pm25",
          "cachedResultUrl": "https://www.notion.so/28eca842df058018a20af4967b346a8f"
        },
        "title": "=資料收集-pm25",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "room_id|number",
              "numberValue": "={{ $json.room_id }}"
            },
            {
              "key": "建立時間|date",
              "includeTime": false,
              "date": "={{ $json['建立時間'] }}"
            },
            {
              "key": "house_id|number",
              "numberValue": "={{ $json.house_id }}"
            },
            {
              "key": "pm25_min|number",
              "numberValue": "={{ $json.pm25_min }}"
            },
            {
              "key": "pm25_max|number",
              "numberValue": "={{ $json.pm25_max }}"
            },
            {
              "key": "={{ $json.pm25_average }}"
            },
            {
              "key": "pm25_median|number",
              "numberValue": "={{ $json.pm25_median }}"
            },
            {
              "key": "room_name|title",
              "title": "={{ $json.room_name }}"
            },
            {
              "key": "non_zero_count|number",
              "numberValue": "={{ $json.non_zero_count }}"
            },
            {
              "key": "aqi_good|number",
              "numberValue": "={{ $json.aqi_good }}"
            },
            {
              "key": "aqi_moderate|number",
              "numberValue": "={{ $json.aqi_moderate }}"
            },
            {
              "key": "aqi_unhealthySensitive|number",
              "numberValue": "={{ $json.aqi_unhealthySensitive }}"
            },
            {
              "key": "aqi_unhealthy|number",
              "numberValue": "={{ $json.aqi_unhealthy }}"
            },
            {
              "key": "aqi_veryUnhealthy|number",
              "numberValue": "={{ $json.aqi_veryUnhealthy }}"
            },
            {
              "key": "aqi_hazardous|number",
              "numberValue": "={{ $json.aqi_hazardous }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1536,
        1120
      ],
      "id": "67c00de5-8bce-405f-9c0a-3e880b6bc061",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "name": "Notion account 20250626"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=196795943#gid=196795943",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=196795943#gid=196795943",
          "mode": "url"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "全天開機",
              "lookupValue": "yes"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1936,
        832
      ],
      "id": "09b54df9-a1f7-4d94-bc78-1fab46016fcb",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## chenghyang2001@gmail.com, peter_yang@microjet.com.tw\n## , kerwin_ma@microjet.com.tw , wilson_hu@microjet.com.tw\n## , steven_wu@microjet.com.tw , song_lin@microjet.com.tw",
        "width": 1616,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        2352
      ],
      "id": "5bc88870-6ff1-49ce-a130-ca06b7573ce8",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "sendTo": "=peter_yang@microjet.com.tw, chenghyang2001@gmail.com",
        "subject": "=RD2-內部使用者- PM25 Max 小於 50 名單 at {{ $now.format('yyyy-MM-dd hh:mm:ss') }}",
        "message": "=House ID : {{ $json.house_id.toJsonString() }} <BR><BR>\nroom 總數 : {{ $json.room_id.length }} <BR><BR>\nRoom ID: <BR>\n{{ $json.room_id.toJsonString()}} <BR><BR>\n\n\n<BR>\nn8n 工作流: addwii-RD內部使用者-PM25-突然飆高異常-偵測 <BR>\nhttps://chenghyang2001.app.n8n.cloud/workflow/4SEE2tF7dcwanCjL/6b161b\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1008,
        2144
      ],
      "id": "6b161b03-4b65-4afa-bff0-fecbaa0ebc03",
      "name": "Send a message1",
      "webhookId": "ec5cbf32-6822-4002-b7e8-7d13847222b9",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Nh8EtGRaJdooDk9",
          "mode": "list",
          "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
          "cachedResultName": "subFlow-line-n8n-peter-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "RD2-內部使用者- PM25-突然飆高異常-偵測 : DONE"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -784,
        2144
      ],
      "id": "6b2fe158-e13d-4e51-a08d-fef809f885e4",
      "name": "Execute Workflow2",
      "executeOnce": true
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "=room_id",
              "renameField": true,
              "outputFieldName": "room_id"
            },
            {
              "fieldToAggregate": "client_name",
              "renameField": true,
              "outputFieldName": "client_name"
            },
            {
              "fieldToAggregate": "house_id",
              "renameField": true,
              "outputFieldName": "house_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1408,
        2128
      ],
      "id": "2d7d4382-3df4-4819-a8b5-61bd1e6d920b",
      "name": "Aggregate2",
      "executeOnce": false
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2256,
        1456
      ],
      "id": "974e4ec3-b506-4dc2-b50d-c2e7eae18f60",
      "name": "7:20AM"
    },
    {
      "parameters": {
        "sendTo": "=chenghyang2001@gmail.com,kerwin_ma@microjet.com.tw,wilson_hu@microjet.com.tw",
        "subject": "RD2-內部使用者- PM25 Max 有 大於 50 名單 ",
        "message": "=House ID : {{ $json.house_id.toJsonString() }} <BR><BR>\nroom 總數 : {{ $json.room_id.length }} <BR><BR>\nRoom ID: <BR>\n{{ $json.room_id.toJsonString()}} <BR><BR>\n\n\n<BR>\nn8n 工作流: addwii-RD內部使用者-PM25-突然飆高異常-偵測 <BR>\nhttps://chenghyang2001.app.n8n.cloud/workflow/4SEE2tF7dcwanCjL/6b161b\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -352,
        1904
      ],
      "id": "4e1cbe8f-4eed-4fde-a854-b6ff20760a50",
      "name": "大於 50 名單",
      "webhookId": "72021d81-fab0-4f0c-978e-1358607eda49",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "=chenghyang2001@gmail.com,kerwin_ma@microjet.com.tw,wilson_hu@microjet.com.tw",
        "subject": "RD2-內部使用者- PM25 Max 小於 50 名單 ",
        "message": "=House ID : {{ $json.house_id.toJsonString() }} <BR><BR>\nroom 總數 : {{ $json.room_id.length }} <BR><BR>\nRoom ID: <BR>\n{{ $json.room_id.toJsonString()}} <BR><BR>\n\n\n<BR>\nn8n 工作流: addwii-RD內部使用者-PM25-突然飆高異常-偵測 <BR>\nhttps://chenghyang2001.app.n8n.cloud/workflow/4SEE2tF7dcwanCjL/6b161b\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -336,
        2144
      ],
      "id": "7bbd7519-da26-4e39-a76d-635ba1c33e7d",
      "name": "小於 50 名單",
      "webhookId": "ec5cbf32-6822-4002-b7e8-7d13847222b9",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code for PM25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "config-house_room_date",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config-house_room_date": {
      "main": [
        [
          {
            "node": "query_pm25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "config-",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query7": {
      "main": [
        [
          {
            "node": "更新 client name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config-": {
      "main": [
        [
          {
            "node": "Execute a SQL query7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新 client name": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "query_pm25": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新 pm25": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code for PM25": {
      "main": [
        [
          {
            "node": "更新 pm25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Execute Workflow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7:20AM": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "L9RQFagA7DehEy9F"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:1:35AM1": {
      "recurrenceRules": []
    },
    "node:1:45AM": {
      "recurrenceRules": []
    },
    "node:1:40AM": {
      "recurrenceRules": []
    },
    "node:Test": {
      "recurrenceRules": []
    },
    "node:3:00AM": {
      "recurrenceRules": []
    },
    "node:4:00AM": {
      "recurrenceRules": []
    },
    "node:7:30AM": {
      "recurrenceRules": []
    },
    "node:7:00AM": {
      "recurrenceRules": []
    },
    "node:7:20AM": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": "73a01eaa-fd49-40b2-be13-cc1210dd12ee",
  "versionCounter": 94,
  "shared": [
    {
      "updatedAt": "2025-11-13T05:32:57.926Z",
      "createdAt": "2025-11-13T05:32:57.926Z",
      "role": "workflow:owner",
      "workflowId": "4SEE2tF7dcwanCjL",
      "projectId": "0liZARjPSF29Xm7S",
      "project": {
        "updatedAt": "2025-05-09T03:15:11.991Z",
        "createdAt": "2025-05-09T03:15:09.651Z",
        "id": "0liZARjPSF29Xm7S",
        "name": "ChengHsien Yang <chenghyang2001@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "67155d98-04ab-4531-a011-993eff9c535f"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-07T01:29:34.249Z",
      "createdAt": "2025-07-07T01:29:34.249Z",
      "id": "0iHwyB5DMdUXABT5",
      "name": "addwii"
    },
    {
      "updatedAt": "2025-10-21T05:41:28.994Z",
      "createdAt": "2025-10-21T05:41:28.994Z",
      "id": "pccpptgVt0kVE7KH",
      "name": "突然飆高"
    },
    {
      "updatedAt": "2025-07-14T07:25:46.329Z",
      "createdAt": "2025-07-14T07:25:46.329Z",
      "id": "rBu7KINmPwm4bhDL",
      "name": "sql"
    },
    {
      "updatedAt": "2025-11-03T06:35:24.390Z",
      "createdAt": "2025-11-03T06:35:24.390Z",
      "id": "z0JuiDzrksKorQK5",
      "name": "突然飆高異常"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-11-27T01:00:44.252Z",
    "createdAt": "2025-11-27T01:00:44.252Z",
    "versionId": "73a01eaa-fd49-40b2-be13-cc1210dd12ee",
    "workflowId": "4SEE2tF7dcwanCjL",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -2224,
          1952
        ],
        "id": "04fd207c-32ab-4744-9f98-e55887ccd5e7",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "content": "## Google Sheet : ## https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=1940894425#gid=1940894425",
          "height": 80,
          "width": 1904,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1840,
          1760
        ],
        "id": "c2184e00-db0f-4aed-afda-8b68645c2905",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "36d6df2c-8164-44ee-b64d-db182a16b89c",
                "leftValue": "={{ $json.house_id }}",
                "rightValue": 72,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          -1632,
          512
        ],
        "id": "f6b3a3f7-9e7d-4927-ad03-385550067257",
        "name": "Filter",
        "disabled": true
      },
      {
        "parameters": {
          "content": "# Debug #1\n",
          "height": 80,
          "width": 256,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1648,
          624
        ],
        "id": "416fa83e-33cd-4383-920d-d9eeb4f9710c",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=1016385485#gid=1016385485",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=1016385485#gid=1016385485",
            "mode": "url"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1936,
          1072
        ],
        "id": "c9b28b6b-327c-48d9-b71d-b2dec37105cd",
        "name": "Get row(s) in sheet1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "enAfA1qiZmia6pvt",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "pm25",
                "renameField": true,
                "outputFieldName": "pm25"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          624,
          864
        ],
        "id": "f0752530-5ee4-475c-826c-5b510160d717",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -1040,
          1072
        ],
        "id": "93ad2185-aa05-4f6c-a4f2-d16e711b5e57",
        "name": "Loop Over Items1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "26b661ce-d921-4243-929c-8835f3eba8d7",
                "name": "=date",
                "value": "={{ $now.format('yyyy-MM-dd')}}",
                "type": "string"
              },
              {
                "id": "c750d63b-3399-4365-8f51-3c30300c58c9",
                "name": "house_id",
                "value": "={{ $json.house_id }}",
                "type": "number"
              },
              {
                "id": "84d21317-545a-4404-abe0-a67bdc607fa9",
                "name": "room_id",
                "value": "={{ $json.room_id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          192,
          864
        ],
        "id": "21b5df90-41f9-460f-8e03-d82c7dcc2124",
        "name": "config-house_room_date"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "5TgCpCi2jAUFV0lQ",
            "mode": "list",
            "cachedResultUrl": "/workflow/5TgCpCi2jAUFV0lQ",
            "cachedResultName": "subFlow-line-v1"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "content": "外部使用者-資料收集-pm25 : DONE"
            },
            "matchingColumns": [
              "content"
            ],
            "schema": [
              {
                "id": "content",
                "displayName": "content",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -1632,
          288
        ],
        "id": "1a0c2fca-2bcf-4324-b3a6-036107c65f07",
        "name": "Execute Workflow1",
        "executeOnce": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "maxItems": 5
        },
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          -1632,
          1072
        ],
        "id": "f7e027a8-f925-4c5a-a88a-c597d8c8b214",
        "name": "Limit",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "select * from house_user h where h.house_id = {{ $json.house_id }} ",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          192,
          1536
        ],
        "id": "dc307386-e556-4324-b0cb-3b1c02860f80",
        "name": "Execute a SQL query",
        "credentials": {
          "mySql": {
            "id": "TTwTnDDRqkjYSK8v",
            "name": "rd2 MySQL"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "select * from users where id= {{ $json.user_id }}",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          672,
          1536
        ],
        "id": "71350d3f-6dee-42a3-aec9-6d96fa8a4265",
        "name": "Execute a SQL query7",
        "credentials": {
          "mySql": {
            "id": "TTwTnDDRqkjYSK8v",
            "name": "rd2 MySQL"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "03cd5209-5c70-44cd-8aab-1e6e3a58b710",
                "name": "house_id",
                "value": "={{ $json.house_id }}",
                "type": "number"
              },
              {
                "id": "26b661ce-d921-4243-929c-8835f3eba8d7",
                "name": "user_id",
                "value": "={{ $json.user_id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          400,
          1536
        ],
        "id": "79e2e423-8d40-44b4-aa4c-bef8880f2dd4",
        "name": "config-"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=500449947#gid=500449947",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=500449947#gid=500449947",
            "mode": "url"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "room_id": "={{ $('Get row(s) in sheet1').item.json.room_id }}",
              "client_name": "={{ $json.name }}"
            },
            "matchingColumns": [
              "room_id"
            ],
            "schema": [
              {
                "id": "house_id",
                "displayName": "house_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "room_id",
                "displayName": "room_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "建立時間",
                "displayName": "建立時間",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "pm25_min",
                "displayName": "pm25_min",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "pm25_max",
                "displayName": "pm25_max",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "pm25_average",
                "displayName": "pm25_average",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "pm25_median",
                "displayName": "pm25_median",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "room_name",
                "displayName": "room_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "non_zero_count",
                "displayName": "non_zero_count",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "aqi_good",
                "displayName": "aqi_good",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "aqi_moderate",
                "displayName": "aqi_moderate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "aqi_unhealthySensitive",
                "displayName": "aqi_unhealthySensitive",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "aqi_unhealthy",
                "displayName": "aqi_unhealthy",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "aqi_veryUnhealthy",
                "displayName": "aqi_veryUnhealthy",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "aqi_hazardous",
                "displayName": "aqi_hazardous",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "client_name",
                "displayName": "client_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          944,
          1536
        ],
        "id": "60522215-28b6-4dac-a7e8-2715a54fd4b7",
        "name": "更新 client name",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "enAfA1qiZmia6pvt",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "=chenghyang2001@gmail.com,kerwin_ma@microjet.com.tw,wilson_hu@microjet.com.tw",
          "subject": "RD2-內部使用者- PM25 Max 有 大於 50 名單 ",
          "message": "=House ID : {{ $json.house_id.toJsonString() }} <BR><BR>\nroom 總數 : {{ $json.room_id.length }} <BR><BR>\nRoom ID: <BR>\n{{ $json.room_id.toJsonString()}} <BR><BR>\n\n\n<BR>\nn8n 工作流: addwii-RD內部使用者-PM25-突然飆高異常-偵測 <BR>\nhttps://chenghyang2001.app.n8n.cloud/workflow/4SEE2tF7dcwanCjL/6b161b\n",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          -976,
          1904
        ],
        "id": "0b5f7c30-bcea-48a3-a6c6-91dac0d84469",
        "name": "Send a message",
        "webhookId": "72021d81-fab0-4f0c-978e-1358607eda49",
        "executeOnce": true,
        "credentials": {
          "gmailOAuth2": {
            "id": "cXobwkkgDTG4Y0ls",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "content": "## send email",
          "height": 240,
          "width": 528,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2080,
          1872
        ],
        "id": "95c3f305-0aa0-4255-8c7c-6b6ddf30a72d",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=500449947#gid=500449947",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=500449947#gid=500449947",
            "mode": "url"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1968,
          1952
        ],
        "id": "9c3656e9-f3ec-45fa-8908-2f29c176a036",
        "name": "Get row(s) in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "enAfA1qiZmia6pvt",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "=room_id",
                "renameField": true,
                "outputFieldName": "room_id"
              },
              {
                "fieldToAggregate": "client_name",
                "renameField": true,
                "outputFieldName": "client_name"
              },
              {
                "fieldToAggregate": "house_id",
                "renameField": true,
                "outputFieldName": "house_id"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -1424,
          1904
        ],
        "id": "dd08bb42-c6b5-4a27-adf3-241596b7ca82",
        "name": "Aggregate1",
        "executeOnce": false
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "6Nh8EtGRaJdooDk9",
            "mode": "list",
            "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
            "cachedResultName": "subFlow-line-n8n-peter-v1"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "content": "RD2-內部使用者- PM25-突然飆高異常-偵測 : DONE"
            },
            "matchingColumns": [
              "content"
            ],
            "schema": [
              {
                "id": "content",
                "displayName": "content",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -752,
          1904
        ],
        "id": "a91d53d7-07ec-480f-9ee6-357bc4029ee1",
        "name": "Execute Workflow",
        "executeOnce": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7babff0f-14c8-4a31-8d9f-5cbb488278f9",
                "leftValue": "={{ $json.pm25_max }}",
                "rightValue": 50,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1744,
          1952
        ],
        "id": "9a5e0ed7-121e-41c1-840c-13a2a7a43bf6",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "\nselect room_id, pm25, created_at  from median m where m.room_id =  {{ $json.room_id }} and DATE(created_at) = DATE_SUB('{{ $json.date }}', INTERVAL 1 DAY)\n\n\n",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          416,
          864
        ],
        "id": "9294ccaf-6755-481a-b342-9ca2062c8686",
        "name": "query_pm25",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "TTwTnDDRqkjYSK8v",
            "name": "rd2 MySQL"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=500449947#gid=500449947",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=500449947#gid=500449947",
            "mode": "url"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "建立時間": "={{ $now.format('yyyy-MM-dd') }}",
              "pm25_min": "={{ $json.pm25Statistics.minimum }}",
              "pm25_max": "={{ $json.pm25Statistics.maximum }}",
              "pm25_average": "={{ $json.pm25Statistics.average }}",
              "pm25_median": "={{ $json.pm25Statistics.median }}",
              "room_id": "={{ $('Get row(s) in sheet1').item.json.room_id }}",
              "room_name": "={{ $('Get row(s) in sheet1').item.json.room_name }}",
              "non_zero_count": "={{ $json.pm25Statistics.nonZeroCount }}",
              "aqi_good": "={{ $json.aqiDistribution.good }}",
              "aqi_moderate": "={{ $json.aqiDistribution.moderate }}",
              "aqi_unhealthySensitive": "={{ $json.aqiDistribution.unhealthySensitive }}",
              "aqi_unhealthy": "={{ $json.aqiDistribution.unhealthy }}",
              "aqi_veryUnhealthy": "={{ $json.aqiDistribution.veryUnhealthy }}",
              "aqi_hazardous": "={{ $json.aqiDistribution.hazardous }}",
              "house_id": "={{ $('Get row(s) in sheet1').item.json.house_id }}"
            },
            "matchingColumns": [
              "room_id"
            ],
            "schema": [
              {
                "id": "house_id",
                "displayName": "house_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "room_id",
                "displayName": "room_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "建立時間",
                "displayName": "建立時間",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "pm25_min",
                "displayName": "pm25_min",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "pm25_max",
                "displayName": "pm25_max",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "pm25_average",
                "displayName": "pm25_average",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "pm25_median",
                "displayName": "pm25_median",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "room_name",
                "displayName": "room_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "non_zero_count",
                "displayName": "non_zero_count",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "aqi_good",
                "displayName": "aqi_good",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "aqi_moderate",
                "displayName": "aqi_moderate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "aqi_unhealthySensitive",
                "displayName": "aqi_unhealthySensitive",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "aqi_unhealthy",
                "displayName": "aqi_unhealthy",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "aqi_veryUnhealthy",
                "displayName": "aqi_veryUnhealthy",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "aqi_hazardous",
                "displayName": "aqi_hazardous",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "client_name",
                "displayName": "client_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          1232,
          992
        ],
        "id": "8ed80572-1d8f-4dc7-a52c-42feca55d03a",
        "name": "更新 pm25",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "enAfA1qiZmia6pvt",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// n8n Code Node - PM2.5 Statistics Calculator (Integer Output)\n// This code calculates min, max, average, and median from the PM2.5 array as integers\n\nconst items = $input.all();\nlet pm25Values = [];\n\n// Extract PM2.5 values from each item\nfor (const item of items) {\n  // Check for different possible property names\n  if (item.json.PM25) {\n    if (Array.isArray(item.json.PM25)) {\n      pm25Values = pm25Values.concat(item.json.PM25);\n    } else {\n      pm25Values.push(item.json.PM25);\n    }\n  }\n  if (item.json.pm25) {\n    if (Array.isArray(item.json.pm25)) {\n      pm25Values = pm25Values.concat(item.json.pm25);\n    } else {\n      pm25Values.push(item.json.pm25);\n    }\n  }\n  if (item.json.PM2_5) {\n    if (Array.isArray(item.json.PM2_5)) {\n      pm25Values = pm25Values.concat(item.json.PM2_5);\n    } else {\n      pm25Values.push(item.json.PM2_5);\n    }\n  }\n  if (item.json.pm2_5) {\n    if (Array.isArray(item.json.pm2_5)) {\n      pm25Values = pm25Values.concat(item.json.pm2_5);\n    } else {\n      pm25Values.push(item.json.pm2_5);\n    }\n  }\n}\n\n// Convert all values to numbers and filter out invalid entries\npm25Values = pm25Values\n  .map(val => parseFloat(val))\n  .filter(val => !isNaN(val));\n\n// Function to calculate integer-based statistics\nfunction calculateStatistics(values) {\n  if (values.length === 0) {\n    return { \n      error: \"No valid PM2.5 values found\", \n      count: 0 \n    };\n  }\n\n  const sortedValues = [...values].sort((a, b) => a - b);\n\n  const min = Math.round(Math.min(...values));\n  const max = Math.round(Math.max(...values));\n  const sum = values.reduce((acc, val) => acc + val, 0);\n  const average = Math.round(sum / values.length);\n\n  let median;\n  const middleIndex = Math.floor(sortedValues.length / 2);\n\n  if (sortedValues.length % 2 === 0) {\n    median = Math.round((sortedValues[middleIndex - 1] + sortedValues[middleIndex]) / 2);\n  } else {\n    median = Math.round(sortedValues[middleIndex]);\n  }\n\n  // Calculate additional PM2.5 specific metrics\n  const nonZeroValues = values.filter(v => v > 0);\n  const nonZeroCount = nonZeroValues.length;\n  const nonZeroPercentage = Math.round((nonZeroCount / values.length) * 100);\n  \n  // AQI categories for PM2.5 (μg/m³) - ensure integer counts\n  const goodCount = values.filter(v => v >= 0 && v <= 12).length;\n  const moderateCount = values.filter(v => v > 12 && v <= 35).length;\n  const unhealthySensitiveCount = values.filter(v => v > 35 && v <= 55).length;\n  const unhealthyCount = values.filter(v => v > 55 && v <= 150).length;\n  const veryUnhealthyCount = values.filter(v => v > 150 && v <= 250).length;\n  const hazardousCount = values.filter(v => v > 250).length;\n\n  return {\n    min: Number(min),\n    max: Number(max),\n    average: Number(average),\n    median: Number(median),\n    count: Number(values.length),\n    nonZeroCount: Number(nonZeroCount),\n    nonZeroPercentage: Number(nonZeroPercentage),\n    goodCount: Number(goodCount),\n    moderateCount: Number(moderateCount),\n    unhealthySensitiveCount: Number(unhealthySensitiveCount),\n    unhealthyCount: Number(unhealthyCount),\n    veryUnhealthyCount: Number(veryUnhealthyCount),\n    hazardousCount: Number(hazardousCount),\n    allValues: values.map(v => Math.round(v))\n  };\n}\n\nconst statistics = calculateStatistics(pm25Values);\n\n// Create clean output with camelCase naming to avoid n8n parsing issues\nreturn [{\n  json: {\n    pm25Statistics: {\n      minimum: Number(statistics.min || 0),\n      maximum: Number(statistics.max || 0),\n      average: Number(statistics.average || 0),\n      median: Number(statistics.median || 0),\n      totalCount: Number(statistics.count || 0),\n      nonZeroCount: Number(statistics.nonZeroCount || 0),\n      nonZeroPercentage: Number(statistics.nonZeroPercentage || 0)\n    },\n    aqiDistribution: {\n      good: Number(statistics.goodCount || 0),\n      moderate: Number(statistics.moderateCount || 0),\n      unhealthySensitive: Number(statistics.unhealthySensitiveCount || 0),\n      unhealthy: Number(statistics.unhealthyCount || 0),\n      veryUnhealthy: Number(statistics.veryUnhealthyCount || 0),\n      hazardous: Number(statistics.hazardousCount || 0)\n    },\n    rawPm25Values: statistics.allValues || [],\n    calculatedAt: new Date().toISOString()\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          928
        ],
        "id": "4c0f5d6a-2b6b-4d03-a508-d5b018af1f03",
        "name": "Code for PM25"
      },
      {
        "parameters": {
          "content": "# Debug #2\n",
          "height": 80,
          "width": 256,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1648,
          976
        ],
        "id": "389d7fe8-a738-4231-900f-5712c3667b76",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "resource": "databasePage",
          "databaseId": {
            "__rl": true,
            "value": "28eca842-df05-8018-a20a-f4967b346a8f",
            "mode": "list",
            "cachedResultName": "addwii-外部使用者-資料收集-pm25",
            "cachedResultUrl": "https://www.notion.so/28eca842df058018a20af4967b346a8f"
          },
          "title": "=資料收集-pm25",
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "room_id|number",
                "numberValue": "={{ $json.room_id }}"
              },
              {
                "key": "建立時間|date",
                "includeTime": false,
                "date": "={{ $json['建立時間'] }}"
              },
              {
                "key": "house_id|number",
                "numberValue": "={{ $json.house_id }}"
              },
              {
                "key": "pm25_min|number",
                "numberValue": "={{ $json.pm25_min }}"
              },
              {
                "key": "pm25_max|number",
                "numberValue": "={{ $json.pm25_max }}"
              },
              {
                "key": "={{ $json.pm25_average }}"
              },
              {
                "key": "pm25_median|number",
                "numberValue": "={{ $json.pm25_median }}"
              },
              {
                "key": "room_name|title",
                "title": "={{ $json.room_name }}"
              },
              {
                "key": "non_zero_count|number",
                "numberValue": "={{ $json.non_zero_count }}"
              },
              {
                "key": "aqi_good|number",
                "numberValue": "={{ $json.aqi_good }}"
              },
              {
                "key": "aqi_moderate|number",
                "numberValue": "={{ $json.aqi_moderate }}"
              },
              {
                "key": "aqi_unhealthySensitive|number",
                "numberValue": "={{ $json.aqi_unhealthySensitive }}"
              },
              {
                "key": "aqi_unhealthy|number",
                "numberValue": "={{ $json.aqi_unhealthy }}"
              },
              {
                "key": "aqi_veryUnhealthy|number",
                "numberValue": "={{ $json.aqi_veryUnhealthy }}"
              },
              {
                "key": "aqi_hazardous|number",
                "numberValue": "={{ $json.aqi_hazardous }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1536,
          1120
        ],
        "id": "67c00de5-8bce-405f-9c0a-3e880b6bc061",
        "name": "Create a database page",
        "credentials": {
          "notionApi": {
            "id": "txjNZdUqDh4mkIOG",
            "name": "Notion account 20250626"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "=https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=196795943#gid=196795943",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1_RVxnwQYRsASOBpbYPtS21ZN0XwY9F_fkYq_QrRtG6g/edit?gid=196795943#gid=196795943",
            "mode": "url"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "全天開機",
                "lookupValue": "yes"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1936,
          832
        ],
        "id": "09b54df9-a1f7-4d94-bc78-1fab46016fcb",
        "name": "Get row(s) in sheet2",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "enAfA1qiZmia6pvt",
            "name": "Google Sheets account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "content": "## chenghyang2001@gmail.com, peter_yang@microjet.com.tw\n## , kerwin_ma@microjet.com.tw , wilson_hu@microjet.com.tw\n## , steven_wu@microjet.com.tw , song_lin@microjet.com.tw",
          "width": 1616,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -832,
          2352
        ],
        "id": "5bc88870-6ff1-49ce-a130-ca06b7573ce8",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "sendTo": "=chenghyang2001@gmail.com,kerwin_ma@microjet.com.tw,wilson_hu@microjet.com.tw",
          "subject": "RD2-內部使用者- PM25 Max 沒有大於 50 名單 ",
          "message": "=House ID : {{ $json.house_id.toJsonString() }} <BR><BR>\nroom 總數 : {{ $json.room_id.length }} <BR><BR>\nRoom ID: <BR>\n{{ $json.room_id.toJsonString()}} <BR><BR>\n\n\n<BR>\nn8n 工作流: addwii-RD內部使用者-PM25-突然飆高異常-偵測 <BR>\nhttps://chenghyang2001.app.n8n.cloud/workflow/4SEE2tF7dcwanCjL/6b161b\n",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          -1008,
          2144
        ],
        "id": "6b161b03-4b65-4afa-bff0-fecbaa0ebc03",
        "name": "Send a message1",
        "webhookId": "ec5cbf32-6822-4002-b7e8-7d13847222b9",
        "executeOnce": true,
        "credentials": {
          "gmailOAuth2": {
            "id": "cXobwkkgDTG4Y0ls",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "6Nh8EtGRaJdooDk9",
            "mode": "list",
            "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
            "cachedResultName": "subFlow-line-n8n-peter-v1"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "content": "RD2-內部使用者- PM25-突然飆高異常-偵測 : DONE"
            },
            "matchingColumns": [
              "content"
            ],
            "schema": [
              {
                "id": "content",
                "displayName": "content",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -784,
          2144
        ],
        "id": "6b2fe158-e13d-4e51-a08d-fef809f885e4",
        "name": "Execute Workflow2",
        "executeOnce": true
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "=room_id",
                "renameField": true,
                "outputFieldName": "room_id"
              },
              {
                "fieldToAggregate": "client_name",
                "renameField": true,
                "outputFieldName": "client_name"
              },
              {
                "fieldToAggregate": "house_id",
                "renameField": true,
                "outputFieldName": "house_id"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -1408,
          2128
        ],
        "id": "2d7d4382-3df4-4819-a8b5-61bd1e6d920b",
        "name": "Aggregate2",
        "executeOnce": false
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 7,
                "triggerAtMinute": 20
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -2256,
          1456
        ],
        "id": "974e4ec3-b506-4dc2-b50d-c2e7eae18f60",
        "name": "7:20AM"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          []
        ]
      },
      "Get row(s) in sheet1": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Code for PM25",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items1": {
        "main": [
          [],
          [
            {
              "node": "config-house_room_date",
              "type": "main",
              "index": 0
            },
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "config-house_room_date": {
        "main": [
          [
            {
              "node": "query_pm25",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "config-",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query7": {
        "main": [
          [
            {
              "node": "更新 client name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "config-": {
        "main": [
          [
            {
              "node": "Execute a SQL query7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "更新 client name": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          [
            {
              "node": "Execute Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate1": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Aggregate1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Aggregate2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "query_pm25": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "更新 pm25": {
        "main": [
          [
            {
              "node": "Create a database page",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code for PM25": {
        "main": [
          [
            {
              "node": "更新 pm25",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a database page": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message1": {
        "main": [
          [
            {
              "node": "Execute Workflow2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate2": {
        "main": [
          [
            {
              "node": "Send a message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "7:20AM": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2025-11-19T05:59:32.000Z",
        "id": 112,
        "workflowId": "4SEE2tF7dcwanCjL",
        "versionId": "73a01eaa-fd49-40b2-be13-cc1210dd12ee",
        "event": "activated",
        "userId": null
      }
    ]
  }
}