workflows/invoice_extractor.json
{
  "id": "7TRnVppXiOcFEl8Q",
  "name": "Invoice_Extractor",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "3bdbb6cd-4fd0-49a8-b325-4cc7044790c6",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.1,
      "position": [
        4944,
        -928
      ],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bcabd7f1-8724-4cc5-879b-21a0a0633f57",
              "leftValue": "={{ $('Gmail Trigger').item.binary}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8102b02b-25be-405e-a188-ba028154f982",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        5152,
        -928
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "556e87b5-d554-4ba9-b984-6df20c1b160a",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5328,
        -928
      ],
      "webhookId": "c28b4620-11ac-4745-8ce6-f023dfa13173",
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "attachments",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "2fb2bbf3-5922-4d44-8c4c-236df3db6c10",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        5712,
        -704
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "444f462e-1e51-44be-b078-4aa2b0dbb537",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        6480,
        -720
      ],
      "disabled": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"invoice_name\": \"Invoice name here\",\n  \"company_name\": \"Company name that sent the invoice\",\n  \"total_invoice_amount\": 1000,\n  \"items\": [\n    {\n      \"description\": \"item description\",\n      \"amount\": 100\n    },\n    {\n      \"description\": \"item description\",\n      \"amount\": 800\n    },\n    {\n      \"description\": \"item description\",\n      \"amount\": 100\n    }\n  ]\n}\n"
      },
      "id": "ee8577db-7f92-4dea-9504-4d5c85854918",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        6688,
        -704
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "47477450-349e-4992-96c2-f0a0a0a00f8d",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7328,
        -944
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appN1tvHeujEE764G",
          "mode": "list",
          "cachedResultName": "Invoice Automation",
          "cachedResultUrl": "https://airtable.com/appN1tvHeujEE764G"
        },
        "table": {
          "__rl": true,
          "value": "tblOYaUHnHH1h8esU",
          "mode": "list",
          "cachedResultName": "invoices",
          "cachedResultUrl": "https://airtable.com/appN1tvHeujEE764G/tblOYaUHnHH1h8esU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email_subject": "={{ $('Gmail').item.json.headers.subject }}",
            "email": "={{ $('Gmail').item.json.to.value[0].address}}",
            "invoice_link": "={{ $('Upload to Drive').item.json.webViewLink }}",
            "amount": "={{ $json.output.total_invoice_amount }}",
            "company_name": "={{ $json.output.company_name }}",
            "invoice_name": "={{ $json.output.invoice_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email_subject",
              "displayName": "email_subject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_link",
              "displayName": "invoice_link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_name",
              "displayName": "invoice_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f19a7d5c-3750-4cac-9186-ee841a8c227c",
      "name": "Add invoice",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        6848,
        -944
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "75bf9ccc-c06b-4946-87bf-3a6f52d2efd5",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        7168,
        -944
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "message_id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "c21d14d0-34bc-42bb-a5e9-aecfca432670",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5824,
        -944
      ]
    },
    {
      "parameters": {},
      "id": "9cdab5f5-8568-4f31-8e91-174f0c2feeb6",
      "name": "Do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7744,
        -960
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e97eab44-68f4-4e8f-930a-29636efab1a5",
              "name": "attachments",
              "value": "={{ $('Gmail').item.binary.keys() }}",
              "type": "array"
            },
            {
              "id": "6f9ba742-3ae1-4c8b-9bed-57da6431032f",
              "name": "message_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e66e63c9-6b11-44ea-86dc-6c1d6ac3daf3",
      "name": "Attachment",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5488,
        -704
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eeb0920a-9d4c-441c-94a3-9ab6dec3092b",
              "name": "=items",
              "value": "={{ $('Invoice  Extractor').item.json.output.items }}",
              "type": "array"
            },
            {
              "id": "ff34ba6a-5631-4103-a779-47d2c2012bdb",
              "name": "invoice_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "60f9b341-d219-4418-a475-5d7b429b079f",
      "name": "Set Invoice ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7024,
        -944
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "97bfd662-0a5c-4f7b-9592-e7bdbc9e6e31",
      "name": "Extract PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        6352,
        -944
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "a269d40d-dd45-42f6-b5d1-6315290caf88",
      "name": "Download Binary",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        6192,
        -944
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You will receive text extracted from PDF invoices.\n\nYour objective is to identify and extract key details from these invoices and structure them accordingly. The required details are:\n\n1.Invoice Name – The identifier or title of the invoice.\n2.Company Name – The name of the issuing company.\n3.Total Invoice Amount – The overall amount stated on the invoice.\n4.Items – A detailed breakdown of charges, including each item’s description and corresponding amount.\nEnsure accuracy in the extracted details and format the output as follows:\n\n{\n  \"invoice_name\": \"Invoice name here\",\n  \"company_name\": \"Company name that sent the invoice\",\n  \"total_invoice_amount\": 1000,\n  \"items\": [\n    {\n      \"description\": \"item description\",\n      \"amount\": 100\n    },\n    {\n      \"description\": \"item description\",\n      \"amount\": 800\n    },\n    {\n      \"description\": \"item description\",\n      \"amount\": 100\n    }\n  ]\n}\n\n\nAdditional Guidelines:\n\nIf any required field is missing or unclear, provide the most accurate estimate possible or set the field to null.\n\nEnsure each item has a meaningful description rather than generic labels like \"item_1\"—use product or service names when available.\n\nVerify that the sum of all item amounts matches the total invoice amount for consistency.\n\nInvoice Text to Process:\n{{ $json.text }}",
        "hasOutputParser": true
      },
      "id": "5b9738b1-075c-4d9c-ae91-fa0ac08c7d9f",
      "name": "Invoice  Extractor",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        6512,
        -944
      ],
      "disabled": true
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $json.attachments }}",
        "name": "={{ $('Gmail').item.json.subject }}_{{ $('Merge').item.json.attachments }}",
        "driveId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/14ZaYyB0gdfEtpRJais4eceaZe_D7ElLF",
          "mode": "url"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/14ZaYyB0gdfEtpRJais4eceaZe_D7ElLF",
          "mode": "url"
        },
        "options": {}
      },
      "id": "6a2a9272-199d-4700-8edf-86a025e7c939",
      "name": "Upload to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5984,
        -944
      ],
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appN1tvHeujEE764G",
          "mode": "list",
          "cachedResultName": "Invoice Management",
          "cachedResultUrl": "https://airtable.com/appN1tvHeujEE764G"
        },
        "table": {
          "__rl": true,
          "value": "tblsD9wS7MEVAj66s",
          "mode": "list",
          "cachedResultName": "invoice_items",
          "cachedResultUrl": "https://airtable.com/appN1tvHeujEE764G/tblsD9wS7MEVAj66s"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invoice": "={{ $json.subject_id }}",
            "amount": "={{ $json.items.amount }}",
            "item": "={{ $json.items.description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "item",
              "displayName": "item",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice",
              "displayName": "invoice",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "dd0060f6-ab31-4bc2-8532-fe9e93be6dc2",
      "name": "Add Items",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        7744,
        -768
      ],
      "disabled": true
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Attachment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Invoice  Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Invoice  Extractor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add invoice": {
      "main": [
        [
          {
            "node": "Set Invoice ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attachment": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Invoice ID": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF": {
      "main": [
        [
          {
            "node": "Invoice  Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Binary": {
      "main": [
        [
          {
            "node": "Extract PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice  Extractor": {
      "main": [
        [
          {
            "node": "Add invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Drive": {
      "main": [
        [
          {
            "node": "Download Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 1,
  "shared": [
    {
      "updatedAt": "2025-05-19T08:28:32.214Z",
      "createdAt": "2025-05-19T08:28:32.214Z",
      "role": "workflow:owner",
      "workflowId": "7TRnVppXiOcFEl8Q",
      "projectId": "0liZARjPSF29Xm7S",
      "project": {
        "updatedAt": "2025-05-09T03:15:11.991Z",
        "createdAt": "2025-05-09T03:15:09.651Z",
        "id": "0liZARjPSF29Xm7S",
        "name": "ChengHsien Yang <chenghyang2001@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "67155d98-04ab-4531-a011-993eff9c535f"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-08-22T02:46:15.576Z",
      "createdAt": "2025-08-22T02:46:15.576Z",
      "id": "NpIYcMTVLIhJoKCW",
      "name": "invoice"
    }
  ],
  "activeVersion": null
}