workflows/line-messaging-webhook.json
{
  "id": "ADJplFN2g0aJPlBh",
  "name": "Line-Messaging-Webhook",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.body.events[0].message.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        720,
        -32
      ],
      "id": "7e4a8a58-ce92-433d-9f52-b313883c29ba",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "name": "OpenRouter-API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "line-message",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -64,
        80
      ],
      "id": "980ba5ae-2cfd-4dad-b7ff-d0c1eb1e3161",
      "name": "LINE Webhook",
      "webhookId": "73aacf7f-372f-4576-b0cd-bfc9992f7dad"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer  loGRufQo05yExhEUN4KACsX/BfEgh8ae0pHO2FJj3xyHUk4BuCBoPhzuVW3hNV8aHHtjgUY4D37roXhmTd9VEu+mC3hxzqjnmIGzrEg5mZl66uq2uNND0pwwQEs8sAI8dkcWD26YjijDYSppwJzWkwdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={  \"replyToken\": \"{{ $('檢查message或圖片').first().json.body.events[0].replyToken }}\",  \"messages\": [    {      \"type\": \"text\",      \"text\": \" {{ $json.message.content.replace(/\\n/g, '\\\\\\\\n') }} \"    }  ]}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        -32
      ],
      "id": "99f5de98-ce60-4fc9-af83-b72351fb3cca",
      "name": "回覆Line使用者n8n-peter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ddf8bd12-6f66-45f0-997d-4f5a70b2534b",
              "leftValue": "={{ $json.body.events[0].message.type }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        144,
        80
      ],
      "id": "41521bd1-1623-4f1f-aed8-7808f2fc5478",
      "name": "檢查message或圖片"
    },
    {
      "parameters": {
        "content": "## 因為 Line 帳戶管理 WebHood 設定的值沒有\"-test\". 所以這裡用 \"Test workflow\" 不會觸發. 一定要啟用 \"active\" 才會有反應.\n\n## 驗證 webhook link :\n## https://developers.line.biz/console/channel/2007417077/messaging-api\n\n## 改為 aaa1, aaa2 on 20260108\n\n",
        "height": 368,
        "width": 1120,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1168,
        -640
      ],
      "id": "25ecae03-1fd8-4dad-9123-8511c96ab415",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Line 相關連結\n\n- Line 開發者頁面 - https://developers.line.biz/console/\n- Line 官方帳號 - https://manager.line.biz/\n- Line Endpoint - https://api.line.me/v2/bot/message/",
        "height": 224,
        "width": 444,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1152,
        -912
      ],
      "id": "8e14e2f6-c3bc-4b81-ba86-22d7f08e8b2b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ok\"\n  \n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1392,
        -32
      ],
      "id": "50e00295-faaf-4f9a-9f8d-9374a6c91a7b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "messageId": "={{ $('LINE Webhook').item.json.body.events[0].message.id }}",
        "additionalOptions": {}
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessagingData",
      "typeVersion": 1,
      "position": [
        464,
        176
      ],
      "id": "a3b4a76c-7ff9-4c8f-8afd-1011726f4e44",
      "name": "Line Messaging Data",
      "credentials": {
        "lineMessagingApi": {
          "name": "Line 20251022 Messaging account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=What's in this image? 如果是一段英文文字,請直接把這一段英文文字翻譯成繁體中文輸出.\n\n所以輸出,一律使用繁體中文回覆. 謝謝.",
        "inputType": "=binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        672,
        176
      ],
      "id": "6fcb8878-0af7-4f80-9afb-030613c3fd17",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Nh8EtGRaJdooDk9",
          "mode": "list",
          "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
          "cachedResultName": "subFlow-line-n8n-peter-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $json.content.parts[0].text }}",
            "user_id": "={{ $('LINE Webhook').item.json.body.events[0].source.userId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        880,
        176
      ],
      "id": "73ce0992-9f3d-46da-917e-9adf9ebeb2b7",
      "name": "Call 'subFlow-line-n8n-peter-v1'"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "693321b4-29ad-4fc0-9477-b42005ec10c1",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "aaa0",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aaa0"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "aaa1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5add8b62-a47d-4743-89e5-0bbd913d92fd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aaa1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "22bc20fa-d320-4071-b02a-1c9c19fbe827",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "aaa2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aaa2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "67488b5b-e2ce-42bb-9bb9-1710fa613536",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "aaa3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aaa3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bd2aa550-e59f-4e94-9aca-b021fa70879b",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "aaa4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aaa4"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c6f09e9a-9a8a-45b7-8362-ffa33e13e0d3",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "aaa5",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aaa5"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "acc3bcd9-84d9-49f9-b0f2-7804b15bed66",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "aaa6",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aaa6"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c18da4eb-db65-47d5-b8bc-e12a8523b45e",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "=aaa7",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aaa7"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3e4b8a1d-98f6-40a5-be40-a128c8a13e19",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "aaaa",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aaaa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cc6a1178-14b9-4deb-acec-eca8d5e21c3e",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        320,
        -624
      ],
      "id": "9d636cb4-2156-4e43-a58c-9c529b112ef5",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Nh8EtGRaJdooDk9",
          "mode": "list",
          "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
          "cachedResultName": "subFlow-line-n8n-peter-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "=111 aaa1 星期一:\n1. 整理來源影片裡使用的提示詞 並且 理解來源影片連結內容並列出帶有時間線的要點清單\n2. 整理來源影片的發展脈絡與關鍵節點\n3. (DataTable) 整理來源影片裡使用的提示詞\n4. (DataTable) 理解來源影片連結內容並列出帶有時間線的要點清單,用表格輸出結果\n5. (DataTable) 理解以下影片連結內容並列出帶有時間線的要點清單。https://youtu.be/xxxxx\n\n6. (資訊圖表) 重點內容:\"整份簡報修改,使用Gamma\"\n7. (Gemini)  請幫我解析這份投影片PDF. 列出每頁的訊息內容以及設計要素, 並以 \"---\" 區隔每張投影片的內容，以程式碼區塊呈現。\n8. 資訊圖表風格  https://notebooklm.google.com/notebook/c121851f-87c5-48ba-9213-2955f418d02c\n\n00-default-\n\n 01-董事長風格-\n\nExecutive brief style using concise numbered takeaways (1, 2, 3), conclusion-first structure, priority-driven ordering. Visual elements are minimal and aligned to each numbered takeaway, arranged top-to-bottom, then left-to-right, reinforcing decision priority and scan efficiency.\n\n02-資訊設計風格-\n\nInformation design style with step-by-step numbered lists (1, 2, 3), instructional tone. Visual elements illustrate each step and follow a strict sequence arranged top-to-bottom, then left-to-right, supporting learning flow and progressive understanding.\n\n03-分析風格-\n\nAnalytical report style with strictly ordered numbered hierarchy (1, 1.1, 1.2), logical dependency between points, technical and data-driven tone. Diagrams and visual blocks follow the same hierarchical order, arranged top-to-bottom, then left-to-right, reflecting structural and causal relationships.\n\n04-社論風格-\n\nEditorial layout with clear numbered bullet points (1, 2, 3), balanced short paragraphs and lists, neutral news-style tone, clean typography. Visual elements correspond to each numbered point and are arranged in reading order: top-to-bottom, then left-to-right. Numbers guide both text flow and visual placement."
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1456,
        -2064
      ],
      "id": "fa3f9933-98db-4585-ae67-373beda84b3a",
      "name": "aaa1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Nh8EtGRaJdooDk9",
          "mode": "list",
          "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
          "cachedResultName": "subFlow-line-n8n-peter-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "=aaa2 星期二:\nn8n 工作流 Line-Messaging-Webhook URL : https://chenghyang2001.app.n8n.cloud/workflow/ADJplFN2g0aJPlBh"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1440,
        -1840
      ],
      "id": "171609ca-4dc6-4170-8037-daad5587e56c",
      "name": "aaa2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Nh8EtGRaJdooDk9",
          "mode": "list",
          "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
          "cachedResultName": "subFlow-line-n8n-peter-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "=aaa3 星期三:\nZoom meeting 每周三: 楊政憲\nID: 7774831000\nPW: 71301\nXXX店長,您好. 以下費用我已經於今天早上付款完成. 如有任何問題，請告知。謝謝。\n"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1440,
        -1568
      ],
      "id": "05a8267c-cacb-4917-a6ac-8b4ca04e0ad9",
      "name": "aaa3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Nh8EtGRaJdooDk9",
          "mode": "list",
          "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
          "cachedResultName": "subFlow-line-n8n-peter-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "=aaa4 星期四:\n\n"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1440,
        -1328
      ],
      "id": "9e8bb1dc-8f7f-46a9-b192-4eed6e9353df",
      "name": "aaa4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Nh8EtGRaJdooDk9",
          "mode": "list",
          "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
          "cachedResultName": "subFlow-line-n8n-peter-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "=aaa5 星期五:\n"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1440,
        -1072
      ],
      "id": "81781372-fe9b-4747-a9ea-46f15b8a5c73",
      "name": "aaa5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Nh8EtGRaJdooDk9",
          "mode": "list",
          "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
          "cachedResultName": "subFlow-line-n8n-peter-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "=aaa6 星期六:\n"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1440,
        -816
      ],
      "id": "52ad3e54-58d4-4e44-b7ac-c77e103dbc20",
      "name": "aaa6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Nh8EtGRaJdooDk9",
          "mode": "list",
          "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
          "cachedResultName": "subFlow-line-n8n-peter-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "=aaa7 星期日:\n\n"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1440,
        -592
      ],
      "id": "13249511-0b33-4992-b5d4-c9a553b62c0f",
      "name": "aaa7"
    },
    {
      "parameters": {
        "content": "## Monday",
        "height": 80,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1648,
        -2112
      ],
      "id": "9117a47d-b5da-4da2-9ec9-106e2d201df5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Tuesday",
        "height": 80,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1792,
        -1824
      ],
      "id": "15bf48ab-f288-4394-a45c-33bbe9d26695",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Wednesday",
        "height": 80,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1792,
        -1568
      ],
      "id": "218b67a8-b265-44a2-be16-3164ea4133e3",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Thursday",
        "height": 80,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1792,
        -1312
      ],
      "id": "98b07d38-94da-45ac-9222-9f8c663dd1c4",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Friday",
        "height": 80,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1792,
        -1056
      ],
      "id": "6ad8a6ac-aa94-4abd-a13c-c17165b7c50c",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Saturday",
        "height": 80,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1792,
        -816
      ],
      "id": "3cfca8a1-095f-44d2-94cd-8a4ca78de93a",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Sunday",
        "height": 80,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1792,
        -592
      ],
      "id": "e94e00cb-1b89-4f21-b392-900e232a3a15",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Nh8EtGRaJdooDk9",
          "mode": "list",
          "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
          "cachedResultName": "subFlow-line-n8n-peter-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "=aaa0 : \nn8n 工作流 Line-Messaging-Webhook URL : https://chenghyang2001.app.n8n.cloud/workflow/ADJplFN2g0aJPlBh\n"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1456,
        -2288
      ],
      "id": "d478b7d6-6f1f-43d0-a329-84d8911a9bf8",
      "name": "aaa0"
    },
    {
      "parameters": {
        "content": "## 一般事項",
        "height": 80,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1744,
        -2288
      ],
      "id": "9e6370c4-e55c-4705-8a26-35c281866283",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "sendTo": "=chenghyang2001@gmail.com, peter_yang@microjet.com.tw ",
        "subject": "=line-webhook aaa1",
        "message": "=111 aaa1 星期一:\n1. 整理來源影片裡使用的提示詞 並且 理解來源影片連結內容並列出帶有時間線的要點清單\n2. 整理來源影片的發展脈絡與關鍵節點\n3. (DataTable) 整理來源影片裡使用的提示詞\n4. (DataTable) 理解來源影片連結內容並列出帶有時間線的要點清單\n5. (DataTable) 理解以下影片連結內容並列出帶有時間線的要點清單。https://youtu.be/xxxxx\n\n6. (資訊圖表) 重點內容:\"整份簡報修改,使用Gamma\"\n7. (Gemini)  請幫我解析這份投影片PDF. 列出每頁的訊息內容以及設計要素, 並以 \"---\" 區隔每張投影片的內容，以程式碼區塊呈現。\n8. 資訊圖表風格  https://notebooklm.google.com/notebook/c121851f-87c5-48ba-9213-2955f418d02c\n",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "b6ddf093-f387-4bc4-abbe-26664c0b4617",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1920,
        -2064
      ],
      "webhookId": "f76d2546-a68e-4080-a625-940fd013d9fe",
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Nh8EtGRaJdooDk9",
          "mode": "list",
          "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
          "cachedResultName": "subFlow-line-n8n-peter-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "=aaaa\n1.整理來源影片裡使用的提示詞 並且 理解來源影片連結內容並列出帶有時間線的要點清單\n2.理解來源影片連結內容並列出帶有時間線的要點清單,用表格輸出結果\n3.資訊圖表風格  https://notebooklm.google.com/notebook/c121851f-87c5-48ba-9213-2955f418d02c\n00-default-\n01-董事長風格-\nExecutive brief style using concise numbered takeaways (1, 2, 3), conclusion-first structure, priority-driven ordering. Visual elements are minimal and aligned to each numbered takeaway, arranged top-to-bottom, then left-to-right, reinforcing decision priority and scan efficiency.\n02-資訊設計風格-\nInformation design style with step-by-step numbered lists (1, 2, 3), instructional tone. Visual elements illustrate each step and follow a strict sequence arranged top-to-bottom, then left-to-right, supporting learning flow and progressive understanding.\n03-分析風格-\nAnalytical report style with strictly ordered numbered hierarchy (1, 1.1, 1.2), logical dependency between points, technical and data-driven tone. Diagrams and visual blocks follow the same hierarchical order, arranged top-to-bottom, then left-to-right, reflecting structural and causal relationships.\n04-社論風格-\nEditorial layout with clear numbered bullet points (1, 2, 3), balanced short paragraphs and lists, neutral news-style tone, clean typography. Visual elements correspond to each numbered point and are arranged in reading order: top-to-bottom, then left-to-right. Numbers guide both text flow and visual placement."
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1440,
        -336
      ],
      "id": "a1bb4ed5-d8b2-4ea6-a69f-c2753da22a3f",
      "name": "aaaa"
    }
  ],
  "connections": {
    "OpenAI": {
      "main": [
        [
          {
            "node": "回覆Line使用者n8n-peter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINE Webhook": {
      "main": [
        [
          {
            "node": "檢查message或圖片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "檢查message或圖片": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Line Messaging Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "回覆Line使用者n8n-peter": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line Messaging Data": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Call 'subFlow-line-n8n-peter-v1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'subFlow-line-n8n-peter-v1'": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "aaa0",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "aaa1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "aaa2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "aaa3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "aaa4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "aaa5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "aaa6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "aaa7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "aaaa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aaa1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "errorWorkflow": "L9RQFagA7DehEy9F"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": "63a6acf8-928e-4442-8ef4-a517c8e5b4e1",
  "versionCounter": 136,
  "shared": [
    {
      "updatedAt": "2025-05-14T20:32:06.470Z",
      "createdAt": "2025-05-14T20:32:06.470Z",
      "role": "workflow:owner",
      "workflowId": "ADJplFN2g0aJPlBh",
      "projectId": "0liZARjPSF29Xm7S",
      "project": {
        "updatedAt": "2025-05-09T03:15:11.991Z",
        "createdAt": "2025-05-09T03:15:09.651Z",
        "id": "0liZARjPSF29Xm7S",
        "name": "ChengHsien Yang <chenghyang2001@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "67155d98-04ab-4531-a011-993eff9c535f"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-10-23T00:27:11.378Z",
      "createdAt": "2025-10-23T00:27:11.378Z",
      "id": "aYys6KuP0U4NbQka",
      "name": "line-messaging"
    },
    {
      "updatedAt": "2025-10-23T01:07:38.369Z",
      "createdAt": "2025-10-23T01:07:38.369Z",
      "id": "itIjAc02rWyu2C9o",
      "name": "line-webhook"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-06T02:25:45.000Z",
    "createdAt": "2026-02-06T02:25:35.898Z",
    "versionId": "63a6acf8-928e-4442-8ef4-a517c8e5b4e1",
    "workflowId": "ADJplFN2g0aJPlBh",
    "nodes": [
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "chatgpt-4o-latest",
            "mode": "list",
            "cachedResultName": "CHATGPT-4O-LATEST"
          },
          "messages": {
            "values": [
              {
                "content": "={{ $json.body.events[0].message.text }}"
              }
            ]
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          720,
          -32
        ],
        "id": "7e4a8a58-ce92-433d-9f52-b313883c29ba",
        "name": "OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "MUV6Xinzdz5scCy6",
            "name": "OpenRouter-API"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "line-message",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -64,
          80
        ],
        "id": "980ba5ae-2cfd-4dad-b7ff-d0c1eb1e3161",
        "name": "LINE Webhook",
        "webhookId": "73aacf7f-372f-4576-b0cd-bfc9992f7dad"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.line.me/v2/bot/message/reply",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Bearer  loGRufQo05yExhEUN4KACsX/BfEgh8ae0pHO2FJj3xyHUk4BuCBoPhzuVW3hNV8aHHtjgUY4D37roXhmTd9VEu+mC3hxzqjnmIGzrEg5mZl66uq2uNND0pwwQEs8sAI8dkcWD26YjijDYSppwJzWkwdB04t89/1O/w1cDnyilFU="
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={  \"replyToken\": \"{{ $('檢查message或圖片').first().json.body.events[0].replyToken }}\",  \"messages\": [    {      \"type\": \"text\",      \"text\": \" {{ $json.message.content.replace(/\\n/g, '\\\\\\\\n') }} \"    }  ]}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1152,
          -32
        ],
        "id": "99f5de98-ce60-4fc9-af83-b72351fb3cca",
        "name": "回覆Line使用者n8n-peter"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "ddf8bd12-6f66-45f0-997d-4f5a70b2534b",
                "leftValue": "={{ $json.body.events[0].message.type }}",
                "rightValue": "text",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          144,
          80
        ],
        "id": "41521bd1-1623-4f1f-aed8-7808f2fc5478",
        "name": "檢查message或圖片"
      },
      {
        "parameters": {
          "content": "## 因為 Line 帳戶管理 WebHood 設定的值沒有\"-test\". 所以這裡用 \"Test workflow\" 不會觸發. 一定要啟用 \"active\" 才會有反應.\n\n## 驗證 webhook link :\n## https://developers.line.biz/console/channel/2007417077/messaging-api\n\n## 改為 aaa1, aaa2 on 20260108\n\n",
          "height": 368,
          "width": 1120,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1168,
          -640
        ],
        "id": "25ecae03-1fd8-4dad-9123-8511c96ab415",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Line 相關連結\n\n- Line 開發者頁面 - https://developers.line.biz/console/\n- Line 官方帳號 - https://manager.line.biz/\n- Line Endpoint - https://api.line.me/v2/bot/message/",
          "height": 224,
          "width": 444,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1152,
          -912
        ],
        "id": "8e14e2f6-c3bc-4b81-ba86-22d7f08e8b2b",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n  \"status\": \"ok\"\n  \n}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "content-type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1392,
          -32
        ],
        "id": "50e00295-faaf-4f9a-9f8d-9374a6c91a7b",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "messageId": "={{ $('LINE Webhook').item.json.body.events[0].message.id }}",
          "additionalOptions": {}
        },
        "type": "@aotoki/n8n-nodes-line-messaging.lineMessagingData",
        "typeVersion": 1,
        "position": [
          464,
          176
        ],
        "id": "a3b4a76c-7ff9-4c8f-8afd-1011726f4e44",
        "name": "Line Messaging Data",
        "credentials": {
          "lineMessagingApi": {
            "id": "SEObroJE56bf2RpA",
            "name": "Line 20251022 Messaging account"
          }
        }
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "text": "=What's in this image? 如果是一段英文文字,請直接把這一段英文文字翻譯成繁體中文輸出.\n\n所以輸出,一律使用繁體中文回覆. 謝謝.",
          "inputType": "=binary",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1,
        "position": [
          672,
          176
        ],
        "id": "6fcb8878-0af7-4f80-9afb-030613c3fd17",
        "name": "Analyze an image",
        "credentials": {
          "googlePalmApi": {
            "id": "UQ0jKCsTFft8hZSK",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "6Nh8EtGRaJdooDk9",
            "mode": "list",
            "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
            "cachedResultName": "subFlow-line-n8n-peter-v1"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "content": "={{ $json.content.parts[0].text }}",
              "user_id": "={{ $('LINE Webhook').item.json.body.events[0].source.userId }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "content",
                "displayName": "content",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          880,
          176
        ],
        "id": "73ce0992-9f3d-46da-917e-9adf9ebeb2b7",
        "name": "Call 'subFlow-line-n8n-peter-v1'"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "693321b4-29ad-4fc0-9477-b42005ec10c1",
                      "leftValue": "={{ $json.body.events[0].message.text }}",
                      "rightValue": "aaa0",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "aaa0"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.events[0].message.text }}",
                      "rightValue": "aaa1",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "5add8b62-a47d-4743-89e5-0bbd913d92fd"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "aaa1"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "22bc20fa-d320-4071-b02a-1c9c19fbe827",
                      "leftValue": "={{ $json.body.events[0].message.text }}",
                      "rightValue": "aaa2",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "aaa2"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "67488b5b-e2ce-42bb-9bb9-1710fa613536",
                      "leftValue": "={{ $json.body.events[0].message.text }}",
                      "rightValue": "aaa3",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "aaa3"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "bd2aa550-e59f-4e94-9aca-b021fa70879b",
                      "leftValue": "={{ $json.body.events[0].message.text }}",
                      "rightValue": "aaa4",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "aaa4"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "c6f09e9a-9a8a-45b7-8362-ffa33e13e0d3",
                      "leftValue": "={{ $json.body.events[0].message.text }}",
                      "rightValue": "aaa5",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "aaa5"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "acc3bcd9-84d9-49f9-b0f2-7804b15bed66",
                      "leftValue": "={{ $json.body.events[0].message.text }}",
                      "rightValue": "aaa6",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "aaa6"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "c18da4eb-db65-47d5-b8bc-e12a8523b45e",
                      "leftValue": "={{ $json.body.events[0].message.text }}",
                      "rightValue": "=aaa7",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "aaa7"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "3e4b8a1d-98f6-40a5-be40-a128c8a13e19",
                      "leftValue": "={{ $json.body.events[0].message.text }}",
                      "rightValue": "aaaa",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "aaaa"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "cc6a1178-14b9-4deb-acec-eca8d5e21c3e",
                      "leftValue": "={{ $json.body.events[0].message.text }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "notEmpty",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Other"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          320,
          -624
        ],
        "id": "9d636cb4-2156-4e43-a58c-9c529b112ef5",
        "name": "Switch"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "6Nh8EtGRaJdooDk9",
            "mode": "list",
            "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
            "cachedResultName": "subFlow-line-n8n-peter-v1"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "content": "=111 aaa1 星期一:\n1. 整理來源影片裡使用的提示詞 並且 理解來源影片連結內容並列出帶有時間線的要點清單\n2. 整理來源影片的發展脈絡與關鍵節點\n3. (DataTable) 整理來源影片裡使用的提示詞\n4. (DataTable) 理解來源影片連結內容並列出帶有時間線的要點清單,用表格輸出結果\n5. (DataTable) 理解以下影片連結內容並列出帶有時間線的要點清單。https://youtu.be/xxxxx\n\n6. (資訊圖表) 重點內容:\"整份簡報修改,使用Gamma\"\n7. (Gemini)  請幫我解析這份投影片PDF. 列出每頁的訊息內容以及設計要素, 並以 \"---\" 區隔每張投影片的內容，以程式碼區塊呈現。\n8. 資訊圖表風格  https://notebooklm.google.com/notebook/c121851f-87c5-48ba-9213-2955f418d02c\n\n00-default-\n\n 01-董事長風格-\n\nExecutive brief style using concise numbered takeaways (1, 2, 3), conclusion-first structure, priority-driven ordering. Visual elements are minimal and aligned to each numbered takeaway, arranged top-to-bottom, then left-to-right, reinforcing decision priority and scan efficiency.\n\n02-資訊設計風格-\n\nInformation design style with step-by-step numbered lists (1, 2, 3), instructional tone. Visual elements illustrate each step and follow a strict sequence arranged top-to-bottom, then left-to-right, supporting learning flow and progressive understanding.\n\n03-分析風格-\n\nAnalytical report style with strictly ordered numbered hierarchy (1, 1.1, 1.2), logical dependency between points, technical and data-driven tone. Diagrams and visual blocks follow the same hierarchical order, arranged top-to-bottom, then left-to-right, reflecting structural and causal relationships.\n\n04-社論風格-\n\nEditorial layout with clear numbered bullet points (1, 2, 3), balanced short paragraphs and lists, neutral news-style tone, clean typography. Visual elements correspond to each numbered point and are arranged in reading order: top-to-bottom, then left-to-right. Numbers guide both text flow and visual placement."
            },
            "matchingColumns": [
              "content"
            ],
            "schema": [
              {
                "id": "content",
                "displayName": "content",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1456,
          -2064
        ],
        "id": "fa3f9933-98db-4585-ae67-373beda84b3a",
        "name": "aaa1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "6Nh8EtGRaJdooDk9",
            "mode": "list",
            "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
            "cachedResultName": "subFlow-line-n8n-peter-v1"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "content": "=aaa2 星期二:\nn8n 工作流 Line-Messaging-Webhook URL : https://chenghyang2001.app.n8n.cloud/workflow/ADJplFN2g0aJPlBh"
            },
            "matchingColumns": [
              "content"
            ],
            "schema": [
              {
                "id": "content",
                "displayName": "content",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1440,
          -1840
        ],
        "id": "171609ca-4dc6-4170-8037-daad5587e56c",
        "name": "aaa2"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "6Nh8EtGRaJdooDk9",
            "mode": "list",
            "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
            "cachedResultName": "subFlow-line-n8n-peter-v1"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "content": "=aaa3 星期三:\nZoom meeting 每周三: 楊政憲\nID: 7774831000\nPW: 71301\nXXX店長,您好. 以下費用我已經於今天早上付款完成. 如有任何問題，請告知。謝謝。\n"
            },
            "matchingColumns": [
              "content"
            ],
            "schema": [
              {
                "id": "content",
                "displayName": "content",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1440,
          -1568
        ],
        "id": "05a8267c-cacb-4917-a6ac-8b4ca04e0ad9",
        "name": "aaa3"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "6Nh8EtGRaJdooDk9",
            "mode": "list",
            "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
            "cachedResultName": "subFlow-line-n8n-peter-v1"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "content": "=aaa4 星期四:\n\n"
            },
            "matchingColumns": [
              "content"
            ],
            "schema": [
              {
                "id": "content",
                "displayName": "content",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1440,
          -1328
        ],
        "id": "9e8bb1dc-8f7f-46a9-b192-4eed6e9353df",
        "name": "aaa4"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "6Nh8EtGRaJdooDk9",
            "mode": "list",
            "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
            "cachedResultName": "subFlow-line-n8n-peter-v1"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "content": "=aaa5 星期五:\n"
            },
            "matchingColumns": [
              "content"
            ],
            "schema": [
              {
                "id": "content",
                "displayName": "content",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1440,
          -1072
        ],
        "id": "81781372-fe9b-4747-a9ea-46f15b8a5c73",
        "name": "aaa5"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "6Nh8EtGRaJdooDk9",
            "mode": "list",
            "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
            "cachedResultName": "subFlow-line-n8n-peter-v1"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "content": "=aaa6 星期六:\n"
            },
            "matchingColumns": [
              "content"
            ],
            "schema": [
              {
                "id": "content",
                "displayName": "content",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1440,
          -816
        ],
        "id": "52ad3e54-58d4-4e44-b7ac-c77e103dbc20",
        "name": "aaa6"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "6Nh8EtGRaJdooDk9",
            "mode": "list",
            "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
            "cachedResultName": "subFlow-line-n8n-peter-v1"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "content": "=aaa7 星期日:\n\n"
            },
            "matchingColumns": [
              "content"
            ],
            "schema": [
              {
                "id": "content",
                "displayName": "content",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1440,
          -592
        ],
        "id": "13249511-0b33-4992-b5d4-c9a553b62c0f",
        "name": "aaa7"
      },
      {
        "parameters": {
          "content": "## Monday",
          "height": 80,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1648,
          -2112
        ],
        "id": "9117a47d-b5da-4da2-9ec9-106e2d201df5",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Tuesday",
          "height": 80,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1792,
          -1824
        ],
        "id": "15bf48ab-f288-4394-a45c-33bbe9d26695",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## Wednesday",
          "height": 80,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1792,
          -1568
        ],
        "id": "218b67a8-b265-44a2-be16-3164ea4133e3",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "## Thursday",
          "height": 80,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1792,
          -1312
        ],
        "id": "98b07d38-94da-45ac-9222-9f8c663dd1c4",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "## Friday",
          "height": 80,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1792,
          -1056
        ],
        "id": "6ad8a6ac-aa94-4abd-a13c-c17165b7c50c",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "content": "## Saturday",
          "height": 80,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1792,
          -816
        ],
        "id": "3cfca8a1-095f-44d2-94cd-8a4ca78de93a",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "content": "## Sunday",
          "height": 80,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1792,
          -592
        ],
        "id": "e94e00cb-1b89-4f21-b392-900e232a3a15",
        "name": "Sticky Note8"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "6Nh8EtGRaJdooDk9",
            "mode": "list",
            "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
            "cachedResultName": "subFlow-line-n8n-peter-v1"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "content": "=aaa0 : \nn8n 工作流 Line-Messaging-Webhook URL : https://chenghyang2001.app.n8n.cloud/workflow/ADJplFN2g0aJPlBh\n"
            },
            "matchingColumns": [
              "content"
            ],
            "schema": [
              {
                "id": "content",
                "displayName": "content",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1456,
          -2288
        ],
        "id": "d478b7d6-6f1f-43d0-a329-84d8911a9bf8",
        "name": "aaa0"
      },
      {
        "parameters": {
          "content": "## 一般事項",
          "height": 80,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1744,
          -2288
        ],
        "id": "9e6370c4-e55c-4705-8a26-35c281866283",
        "name": "Sticky Note9"
      },
      {
        "parameters": {
          "sendTo": "=chenghyang2001@gmail.com, peter_yang@microjet.com.tw ",
          "subject": "=line-webhook aaa1",
          "message": "=111 aaa1 星期一:\n1. 整理來源影片裡使用的提示詞 並且 理解來源影片連結內容並列出帶有時間線的要點清單\n2. 整理來源影片的發展脈絡與關鍵節點\n3. (DataTable) 整理來源影片裡使用的提示詞\n4. (DataTable) 理解來源影片連結內容並列出帶有時間線的要點清單\n5. (DataTable) 理解以下影片連結內容並列出帶有時間線的要點清單。https://youtu.be/xxxxx\n\n6. (資訊圖表) 重點內容:\"整份簡報修改,使用Gamma\"\n7. (Gemini)  請幫我解析這份投影片PDF. 列出每頁的訊息內容以及設計要素, 並以 \"---\" 區隔每張投影片的內容，以程式碼區塊呈現。\n8. 資訊圖表風格  https://notebooklm.google.com/notebook/c121851f-87c5-48ba-9213-2955f418d02c\n",
          "options": {
            "appendAttribution": false
          }
        },
        "id": "b6ddf093-f387-4bc4-abbe-26664c0b4617",
        "name": "Send a message",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          1920,
          -2064
        ],
        "webhookId": "f76d2546-a68e-4080-a625-940fd013d9fe",
        "credentials": {
          "gmailOAuth2": {
            "id": "cXobwkkgDTG4Y0ls",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "6Nh8EtGRaJdooDk9",
            "mode": "list",
            "cachedResultUrl": "/workflow/6Nh8EtGRaJdooDk9",
            "cachedResultName": "subFlow-line-n8n-peter-v1"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "content": "=aaaa\n1.整理來源影片裡使用的提示詞 並且 理解來源影片連結內容並列出帶有時間線的要點清單\n2.理解來源影片連結內容並列出帶有時間線的要點清單,用表格輸出結果\n3.資訊圖表風格  https://notebooklm.google.com/notebook/c121851f-87c5-48ba-9213-2955f418d02c\n00-default-\n01-董事長風格-\nExecutive brief style using concise numbered takeaways (1, 2, 3), conclusion-first structure, priority-driven ordering. Visual elements are minimal and aligned to each numbered takeaway, arranged top-to-bottom, then left-to-right, reinforcing decision priority and scan efficiency.\n02-資訊設計風格-\nInformation design style with step-by-step numbered lists (1, 2, 3), instructional tone. Visual elements illustrate each step and follow a strict sequence arranged top-to-bottom, then left-to-right, supporting learning flow and progressive understanding.\n03-分析風格-\nAnalytical report style with strictly ordered numbered hierarchy (1, 1.1, 1.2), logical dependency between points, technical and data-driven tone. Diagrams and visual blocks follow the same hierarchical order, arranged top-to-bottom, then left-to-right, reflecting structural and causal relationships.\n04-社論風格-\nEditorial layout with clear numbered bullet points (1, 2, 3), balanced short paragraphs and lists, neutral news-style tone, clean typography. Visual elements correspond to each numbered point and are arranged in reading order: top-to-bottom, then left-to-right. Numbers guide both text flow and visual placement."
            },
            "matchingColumns": [
              "content"
            ],
            "schema": [
              {
                "id": "content",
                "displayName": "content",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1440,
          -336
        ],
        "id": "a1bb4ed5-d8b2-4ea6-a69f-c2753da22a3f",
        "name": "aaaa"
      }
    ],
    "connections": {
      "OpenAI": {
        "main": [
          [
            {
              "node": "回覆Line使用者n8n-peter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LINE Webhook": {
        "main": [
          [
            {
              "node": "檢查message或圖片",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "檢查message或圖片": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Line Messaging Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "回覆Line使用者n8n-peter": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Line Messaging Data": {
        "main": [
          [
            {
              "node": "Analyze an image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze an image": {
        "main": [
          [
            {
              "node": "Call 'subFlow-line-n8n-peter-v1'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'subFlow-line-n8n-peter-v1'": {
        "main": [
          []
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "aaa0",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "aaa1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "aaa2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "aaa3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "aaa4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "aaa5",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "aaa6",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "aaa7",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "aaaa",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "OpenAI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "aaa1": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "ChengHsien Yang",
    "name": "Version 63a6acf8",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-06T02:25:45.851Z",
        "id": 182,
        "workflowId": "ADJplFN2g0aJPlBh",
        "versionId": "63a6acf8-928e-4442-8ef4-a517c8e5b4e1",
        "event": "activated",
        "userId": "67155d98-04ab-4531-a011-993eff9c535f"
      },
      {
        "createdAt": "2026-02-23T06:45:15.554Z",
        "id": 185,
        "workflowId": "ADJplFN2g0aJPlBh",
        "versionId": "63a6acf8-928e-4442-8ef4-a517c8e5b4e1",
        "event": "activated",
        "userId": "67155d98-04ab-4531-a011-993eff9c535f"
      }
    ]
  }
}