workflows/ocr-研能機器人-gemini-api-ok-copy.json
{
  "id": "3eM0FF7FexAZ60WN",
  "name": "OCR-研能機器人-gemini-api-ok-copy",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Google folder ( n8n-ocr-source ) : https://drive.google.com/drive/folders/1t_AfS8Z7Uh60ilVu3ylk9BD0L57v4ezD\n\n## Word n8n-ocr-文字生成             : https://docs.google.com/document/d/1BDtw7l3uHHHQfVDQg35-zkRhkF1ZVav20XPSquVjkMY/edit?tab=t.0\n\n## by Google API : https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyCv4cFOGT0JecS-f2iuze3e7Xy1OFz-ZLc\n\n## History : 20250807\n\n",
        "height": 284,
        "width": 1969,
        "color": 7
      },
      "id": "8ad5bc9b-50a8-4812-84de-577d2b600737",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        -1344
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1472,
        -856
      ],
      "id": "f95481ce-5acd-41ce-937c-faee83cf59e1",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1696,
        -856
      ],
      "id": "841b99af-ea85-4b2c-a4a5-9bcf203c0abb",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyCv4cFOGT0JecS-f2iuze3e7Xy1OFz-ZLc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"请从图片中提取全部文本内容。严格按照图片中的原有格式和排版进行输出。输出中不得包含任何额外的说明文字、解释、前言、后语或图片中不存在的符号。只输出纯粹的提取结果。最后分析结果中的数据，验证收费总额是否正确。\"\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"image/jpeg\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.2,\n    \"maxOutputTokens\": 65536\n  }\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        -856
      ],
      "id": "4599c839-83cb-432c-829b-f0f5d0e435d1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Download file').item.json.file_id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1RI4MRVwsqttIVhniOyEZwJJ_a5JbQgqx",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2368,
        -856
      ],
      "id": "e3afecc6-72cb-4a28-8c75-03e86a6104c2",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "path": "fffd754f-efdc-4045-8010-e41a3f34d5ec"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2592,
        -784
      ],
      "id": "af5c594f-b42a-4caa-a004-872ba25f2fea",
      "name": "wait 1s",
      "webhookId": "fffd754f-efdc-4045-8010-e41a3f34d5ec"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1BDtw7l3uHHHQfVDQg35-zkRhkF1ZVav20XPSquVjkMY/edit?tab=t.0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=-----------------------------------------------------------\nfile : {{ $('Download file').item.json.file_name }}\n\n{{ $now.format('yyyy-MM-dd hh:mm:ss') }}\n\n{{ $json.candidates[0].content.parts[0].text }}\n\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2144,
        -856
      ],
      "id": "37d1e5a9-85ce-49a3-8609-ff503d59abee",
      "name": "Update Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "624c4468-652d-48e0-8fb4-ee65eb1cb786",
              "name": "file_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
              "name": "file_extension",
              "value": "={{ $json.name.split('.').pop().toLowerCase() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4b5ba750-af36-4e17-b38e-51c1daadd041",
      "name": "Set File Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        -856
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "doc-condition-1",
              "leftValue": "={{ $json.file_type }}",
              "rightValue": "=image/png",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "2b4d11fc-b325-4a07-affd-e23320052b1a",
              "leftValue": "={{ $json.file_type }}",
              "rightValue": "application/vnd.google-apps.drawing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "2a208540-63b3-44fb-8676-d6c4d1c97959",
      "name": "If Google Document",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1248,
        -856
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "minutes"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1t_AfS8Z7Uh60ilVu3ylk9BD0L57v4ezD",
          "mode": "url"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "c67354fb-5252-445f-9bb8-1cffa7ccafa7",
      "name": "File Created1",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        576,
        -880
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "minutes"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1t_AfS8Z7Uh60ilVu3ylk9BD0L57v4ezD",
          "mode": "url"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "f5500461-fdbb-4bfa-8d2e-1aac12303e3c",
      "name": "File Updated1",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        576,
        -688
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        -784
      ],
      "id": "17e6753b-f70a-4487-ab60-2c06e7522da0",
      "name": "Loop Over Items"
    }
  ],
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "wait 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait 1s": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Docs": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File Info": {
      "main": [
        [
          {
            "node": "If Google Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Google Document": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "L9RQFagA7DehEy9F",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:00:05 daily1": {
      "recurrenceRules": []
    },
    "node:00:00 daily1": {
      "recurrenceRules": []
    },
    "node:17:20 daily": {
      "recurrenceRules": []
    },
    "node:File Created1": {
      "lastTimeChecked": "2025-08-07T00:49:40Z"
    },
    "node:File Updated1": {
      "lastTimeChecked": "2025-08-07T00:49:22Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 1,
  "shared": [
    {
      "updatedAt": "2025-08-07T01:34:26.844Z",
      "createdAt": "2025-08-07T01:34:26.844Z",
      "role": "workflow:owner",
      "workflowId": "3eM0FF7FexAZ60WN",
      "projectId": "0liZARjPSF29Xm7S",
      "project": {
        "updatedAt": "2025-05-09T03:15:11.991Z",
        "createdAt": "2025-05-09T03:15:09.651Z",
        "id": "0liZARjPSF29Xm7S",
        "name": "ChengHsien Yang <chenghyang2001@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "67155d98-04ab-4531-a011-993eff9c535f"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-03T03:10:42.076Z",
      "createdAt": "2025-07-01T06:55:58.835Z",
      "id": "B7JmgQBPpNqnDc7Z",
      "name": "gdrive"
    },
    {
      "updatedAt": "2025-07-01T05:30:35.023Z",
      "createdAt": "2025-07-01T05:30:35.023Z",
      "id": "QD8iWXuhwLgT6gjM",
      "name": "ocr"
    }
  ],
  "activeVersion": null
}