workflows/peter-音頻生成文字-openai-api.json
{
  "id": "05REHsP3VSL0DZ7q",
  "name": "peter-音頻生成文字-openai-api",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Step1 - 將 google drive 的音檔，利用 Chatgpt 的 Whisper 功能整理出逐字稿\n",
        "height": 320,
        "width": 1050
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "5a5a1d40-022a-49fd-973d-5f2b16a9985f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Step2 - 將逐字稿生成到 google 文件中，方便後續使用\n",
        "height": 320,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1540,
        0
      ],
      "id": "0a843120-9acd-4a82-b590-8bff337e35cd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        940,
        100
      ],
      "id": "b12d04ba-8e91-4de3-aa16-b54df31d664b",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "name": "OpenRouter-API"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "minutes"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1QvQ-u4UUccaO6MHkkv4dyGHh0_ETR0QR",
          "mode": "url"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "879a4320-3fcb-459b-bd9d-32f37166f13b",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        120,
        100
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1QvQ-u4UUccaO6MHkkv4dyGHh0_ETR0QR",
          "mode": "url"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "e6b1d0a8-3eb0-4b94-ada6-d5b6332c0056",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        120,
        320
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "624c4468-652d-48e0-8fb4-ee65eb1cb786",
              "name": "file_name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e242290f-b086-495c-aab0-c4928a1c79ea",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        100
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "18013e00-2c11-4a2c-b0ef-1bbf4a882210",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        740,
        100
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "=1DYv5b9VS7R0TShJz7gUxZkp5fK0FePUY",
        "title": "={{ $('Set File ID').item.json.file_name }} - transcript - {{ $now }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1600,
        100
      ],
      "id": "f978d782-8f73-48a2-a7fa-2bef9b9e5f1c",
      "name": "Create Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('OpenAI Review').item.json.choices[0].message.content }}\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1820,
        100
      ],
      "id": "2d18ca04-30e3-4eaf-9209-b912999ef5e3",
      "name": "Update Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=您是繁體中文智能助理，您的任務是修正轉錄文本中的拼寫錯誤。",
              "role": "system"
            },
            {
              "content": "={{ $json.text }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1160,
        100
      ],
      "id": "6d5c98f6-6e47-46c4-bf15-8ebcda890365",
      "name": "OpenAI Review",
      "credentials": {
        "openAiApi": {
          "name": "OpenRouter-API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Step0 - 上傳音檔到 Google Drive，觸發動作產生文檔\n",
        "height": 600,
        "width": 470,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20,
        0
      ],
      "id": "9c3bf4b9-00b7-4587-9cf9-24b4e245b8c8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Step3 - 生成 srt 字幕檔案\n",
        "height": 280,
        "width": 1340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        320
      ],
      "id": "6fede61b-4a4f-4f06-9f04-6d35e732544f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "name": "={{ $('Set File ID').item.json.file_name }} - subtitle - {{ $now }}.srt",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1Gg_wYqLf3FNLxnq1vyqxO7Dg02ephWZW",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1400,
        400
      ],
      "id": "a560d3ce-c4e5-467c-877e-ed6150276189",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1gcXbIzrvgrZsofmciIO22Gto379k2Yj5",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        940,
        720
      ],
      "id": "06c68de4-6261-44cf-a6e6-c93ee2541c86",
      "name": "Done",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Step4 - 任務完成，將音檔放到完成作業資料夾\n",
        "height": 280,
        "width": 1340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        600
      ],
      "id": "854cbd45-8180-44e8-af83-03a112fba976",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            },
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_OPENAI_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "response_format",
              "value": "srt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        400
      ],
      "id": "2edf3362-e1cc-407b-983c-98af8ade62ef",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "name": "unknown Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "data",
        "binaryPropertyName": "=data",
        "options": {
          "fileName": "=subtitle.srt"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1180,
        400
      ],
      "id": "039a23fc-be55-498c-84e5-1bf225657472",
      "name": "Convert to Subtitle"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "701a2fc8-85c4-4048-8087-090a6b67c01c",
              "leftValue": "={{ $json.fileExtension }}",
              "rightValue": "m4a",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "13b504e9-cc6e-4d33-b434-b167d4f9cff5",
              "leftValue": "={{ $json.fileExtension }}",
              "rightValue": "mp3",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "472e8f8e-f12b-48bb-935f-676683843110",
              "leftValue": "={{ $json.fileExtension }}",
              "rightValue": "wav",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        200
      ],
      "id": "0839b0b3-09c5-48d9-b9ba-51c3e3c0be9d",
      "name": "If file is mp3/m4a/wav"
    },
    {
      "parameters": {
        "content": "## 1. method : youtube link url remove ube and save as mp3 file. Then use NotebookLM\n## 2. Google Drive folder : https://drive.google.com/drive/folders/1QvQ-u4UUccaO6MHkkv4dyGHh0_ETR0QR\n\n",
        "width": 1360,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20,
        -220
      ],
      "id": "4faad4f3-f01a-42d1-9248-2757b80d6090",
      "name": "Sticky Note5"
    }
  ],
  "connections": {
    "File Created": {
      "main": [
        [
          {
            "node": "If file is mp3/m4a/wav",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "If file is mp3/m4a/wav",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Docs": {
      "main": [
        [
          {
            "node": "Update Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "OpenAI Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Review": {
      "main": [
        [
          {
            "node": "Create Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to Subtitle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Subtitle": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file is mp3/m4a/wav": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:File Created": {
      "lastTimeChecked": "2025-05-16T05:41:35Z"
    },
    "node:File Updated": {
      "lastTimeChecked": "2025-05-16T05:41:35Z"
    }
  },
  "meta": null,
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 1,
  "shared": [
    {
      "updatedAt": "2025-07-01T00:22:30.772Z",
      "createdAt": "2025-07-01T00:22:30.772Z",
      "role": "workflow:owner",
      "workflowId": "05REHsP3VSL0DZ7q",
      "projectId": "0liZARjPSF29Xm7S",
      "project": {
        "updatedAt": "2025-05-09T03:15:11.991Z",
        "createdAt": "2025-05-09T03:15:09.651Z",
        "id": "0liZARjPSF29Xm7S",
        "name": "ChengHsien Yang <chenghyang2001@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "67155d98-04ab-4531-a011-993eff9c535f"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-01T05:31:57.087Z",
      "createdAt": "2025-07-01T05:31:30.194Z",
      "id": "cMDuD6Fpp0c9x76Q",
      "name": "ElevenLabs"
    }
  ],
  "activeVersion": null
}