workflows/recovery-github-working-v1-ok.json
{
  "id": "Bm1a24ck5jjXC5lM",
  "name": "recovery-github-working-v1-ok",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -340,
        1035
      ],
      "id": "ea6d3c40-626e-4f3c-8c52-33448d0f957a",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        100,
        1035
      ],
      "id": "b2db8b40-0598-4836-a3e9-a470d6bffe03",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.decodedjson.toJsonString() }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        960,
        1060
      ],
      "id": "deb11c2d-ffa3-4c51-a089-3afc232d9fa8",
      "name": "createWorkflow",
      "credentials": {
        "n8nApi": {
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        480,
        780
      ],
      "id": "32f64995-756b-43be-88ae-a793f39d05fe",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        540,
        1060
      ],
      "id": "fd2c6b82-ec2c-426d-b1c2-b52cae2018ba",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "decodedjson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        760,
        1060
      ],
      "id": "c8ad7050-1782-479d-8dc2-ece272463285",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "chenghyang2001",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflow-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflow-backup",
          "cachedResultUrl": "https://github.com/chenghyang2001/n8n-workflow-backup"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        360,
        1060
      ],
      "id": "f15520ba-fcff-4181-b117-3b4a83836184",
      "name": "GitHub",
      "webhookId": "d3c569cb-8390-4f0b-b80a-7266ffa02e0d",
      "credentials": {
        "githubApi": {
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "chenghyang2001",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflow-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflow-backup",
          "cachedResultUrl": "https://github.com/chenghyang2001/n8n-workflow-backup"
        },
        "filePath": "/workflows"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -120,
        1035
      ],
      "id": "c7fd61c4-a258-4768-b610-f9b989d808de",
      "name": "GitHub1",
      "webhookId": "7a4876ed-5dd6-4941-b342-0076d0ab03b3",
      "credentials": {
        "githubApi": {
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Hochien Chang  |  HC AI說人話       ---       影片連結: https://youtu.be/uA82jAjcLBY",
        "height": 80,
        "width": 2160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b1587956-70ab-4d98-a18b-129a620fadc4",
      "name": "Sticky Note63",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YZMkIYIoxkeTerTi",
          "mode": "list",
          "cachedResultName": "subFlow-line"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "github recovery done"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        760,
        780
      ],
      "id": "3171bbcb-0932-46df-8ae4-91c7b938565b",
      "name": "Execute Workflow1"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "GitHub1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "createWorkflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "createWorkflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 1,
  "shared": [
    {
      "updatedAt": "2025-06-19T06:24:51.293Z",
      "createdAt": "2025-06-19T06:24:51.293Z",
      "role": "workflow:owner",
      "workflowId": "Bm1a24ck5jjXC5lM",
      "projectId": "0liZARjPSF29Xm7S",
      "project": {
        "updatedAt": "2025-05-09T03:15:11.991Z",
        "createdAt": "2025-05-09T03:15:09.651Z",
        "id": "0liZARjPSF29Xm7S",
        "name": "ChengHsien Yang <chenghyang2001@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "67155d98-04ab-4531-a011-993eff9c535f"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}