workflows/research-02-deekseek.json
{
  "id": "58yiDckxx6rpYMyH",
  "name": "research-02-deekseek",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -300,
        260
      ],
      "id": "d138712e-8f1f-4ada-b42b-15a578f2d2ea",
      "name": "When chat message received",
      "webhookId": "d657f57c-5a81-4835-b1a1-51a326be3c5a"
    },
    {
      "parameters": {
        "model": "=deepseek-reasoner",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        880,
        1780
      ],
      "id": "a60871a2-9038-4fb8-b20c-c3cb4f3d98cd",
      "name": "Deepseek R1"
    },
    {
      "parameters": {
        "model": "=deepseek/deepseek-r1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        60,
        920
      ],
      "id": "cdf7e920-67f5-4219-9e4a-fed8deac800d",
      "name": "Deepseek OpenRouter",
      "credentials": {
        "openAiApi": {
          "name": "OpenRouter-API"
        }
      }
    },
    {
      "parameters": {
        "model": "=gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        480,
        920
      ],
      "id": "7fde082d-3692-45d8-9f9b-b36ff58a3dd3",
      "name": "gpt-4o-mini",
      "credentials": {
        "openAiApi": {
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to conduct research on the web",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-sonar-small-128k-online\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Be precise and concise.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('DeepseekPlanner Cheap').item.json.text }}\"\n    }\n  ],\n  \"max_tokens\": 1024,\n  \"temperature\": 0.2,\n  \"top_p\": 0.9,\n  \"return_images\": false,\n  \"return_related_questions\": false,\n  \"search_recency_filter\": \"month\",\n  \"top_k\": 0,\n  \"stream\": false,\n  \"presence_penalty\": 0,\n  \"frequency_penalty\": 1\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        700,
        940
      ],
      "id": "aba4d44d-9e9f-4938-a3d6-48d146c77a29",
      "name": "Perplexity_Tool",
      "credentials": {
        "httpHeaderAuth": {
          "name": "perplexity.ai"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=query: {{ $json.text }}",
        "options": {
          "systemMessage": "=You are an advanced research assistant with access to live data via Perplexity via the Perplexity_Tool. Your task is to execute a structured research plan provided by another AI agent (the \"Planner Agent\"). Follow these steps:\n\n1. Use Perplexity's live data capabilities to gather information on each task provided in the input prompt, passing in the recieved {query}. Call it only once with one longer query. \n2. Focus on finding accurate, up-to-date information from reliable sources such as official documentation, forums etc.\n3. Format your findings into a clean and organized Markdown format.\n\n**Additional Notes:**\n- Ensure all data is sourced from live queries using Perplexity's HTTP request.\n- If specific data cannot be found, note it as \"Information not available\".\n- Provide concise yet comprehensive summaries for each column.\n- Cite sources"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        480,
        740
      ],
      "id": "d9661d5d-3b06-4db1-a3bd-1e4336d36ee8",
      "name": "Tools Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"llama-3.1-sonar-small-128k-online\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Be precise and concise.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"top ai saas trends in jan 2025\"\n    }\n  ],\n  \"max_tokens\": 1024,\n  \"temperature\": 0.2,\n  \"top_p\": 0.9,\n  \"return_images\": false,\n  \"return_related_questions\": false,\n  \"search_recency_filter\": \"month\",\n  \"top_k\": 0,\n  \"stream\": false,\n  \"presence_penalty\": 0,\n  \"frequency_penalty\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        1760
      ],
      "id": "2531b4e7-acfd-461a-ba84-da43aee3017f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "model": "=deepseek/deepseek-r1:online",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        80,
        260
      ],
      "id": "01b0a82f-90ac-46ae-8c9a-926f06ed66d9",
      "name": "Deepseek OpenRouter1",
      "credentials": {
        "openAiApi": {
          "name": "OpenRouter-API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Easy mode\n:online",
        "height": 240,
        "width": 380,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7c7953e4-e8d3-4f85-bec5-c45b3e356856",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=You are an advanced AI planning assistant. Your task is to take a user query, create a detailed research plan and execute the research plan i.e. return relevant research. Follow these steps:\n\n1. Analyze the user query to understand the research goal.\n2. Break down the query into smaller, actionable research tasks that can be executed by the Tools Agent.\n3. Formulate a clear research query specifying the specific topics or questions to research, any constraints or focus areas (e.g., cost, features, popularity).\n4. Conduct the research\n5. Return a detailed summary of the research results\n\n**Input Query:** \"{{$json.chatInput}}\"\n\n**The date today is:** {{ $now }}\n\n**Output:**\nThe full research findings (in a plan text paragraph), between 500-1000 words. always response in tranditiona chinese."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        60,
        80
      ],
      "id": "e13ae3d1-e026-435b-a0eb-8b7c81189203",
      "name": "DeepseekPlanner Easy"
    },
    {
      "parameters": {
        "content": "## Cheap mode\nDeepSeek R1 Pricing:\nInput: $0.55 per 1M tokens\nOutput: $2.19 per 1M tokens1\n\nOpenAI o1 Pricing:\nInput: $15.00 per 1M tokens\nOutput: $60.00 per 1M tokens",
        "height": 380,
        "width": 380,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        540
      ],
      "id": "fe65c030-ce59-493b-829a-802a309aa420",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        80
      ],
      "id": "943acd7c-302c-47b4-8366-b9e843163251",
      "name": "Output"
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=You are an advanced AI planning assistant. Your task is to take a user query and create a detailed research plan for another AI agent (the \"Tools Agent\") to execute. Follow these steps:\n\n1. Analyze the user query to understand the research goal.\n2. Break down the query into smaller, actionable research tasks that can be executed by the Tools Agent.\n3. Formulate a clear research query for the tools agent specifying the specific topics or questions to research, any constraints or focus areas (e.g., cost, features, popularity).\n\n**Input Query:** \"{{$json.chatInput}}\"\n\n**Output:**\nA summary of the research goal and a structured research query for the Tools Agent. (a plain text paragraph with no formatting.)"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        40,
        740
      ],
      "id": "d389b124-570e-49bd-becf-5bee92400963",
      "name": "DeepseekPlanner Cheap"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        740
      ],
      "id": "3f47089e-3e7b-4d1e-b1d9-46e4836a90a3",
      "name": "Output2"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "DeepseekPlanner Cheap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deepseek OpenRouter": {
      "ai_languageModel": [
        [
          {
            "node": "DeepseekPlanner Cheap",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Tools Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity_Tool": {
      "ai_tool": [
        [
          {
            "node": "Tools Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tools Agent": {
      "main": [
        [
          {
            "node": "Output2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deepseek OpenRouter1": {
      "ai_languageModel": [
        [
          {
            "node": "DeepseekPlanner Easy",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepseekPlanner Easy": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepseekPlanner Cheap": {
      "main": [
        [
          {
            "node": "Tools Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 1,
  "shared": [
    {
      "updatedAt": "2025-06-28T19:36:40.232Z",
      "createdAt": "2025-06-28T19:36:40.232Z",
      "role": "workflow:owner",
      "workflowId": "58yiDckxx6rpYMyH",
      "projectId": "0liZARjPSF29Xm7S",
      "project": {
        "updatedAt": "2025-05-09T03:15:11.991Z",
        "createdAt": "2025-05-09T03:15:09.651Z",
        "id": "0liZARjPSF29Xm7S",
        "name": "ChengHsien Yang <chenghyang2001@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "67155d98-04ab-4531-a011-993eff9c535f"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-03T02:58:25.173Z",
      "createdAt": "2025-07-03T02:58:25.173Z",
      "id": "ECx8yP3LzhFc81Na",
      "name": "research"
    },
    {
      "updatedAt": "2025-07-01T05:43:00.286Z",
      "createdAt": "2025-07-01T05:42:34.424Z",
      "id": "TdNNYFQCYcaCe34J",
      "name": "simon"
    }
  ],
  "activeVersion": null
}