workflows/simon-bookkeeping-ok-20250904.json
{
  "id": "3YLv6K1pBX9QMPPd",
  "name": "simon-bookkeeping-ok-20250904",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1456,
        1184
      ],
      "id": "3c8e3458-41e0-40d2-a112-6810bcfa854a",
      "name": "Openrouter",
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Pre-processing\nData formatting",
        "height": 240,
        "width": 900,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "01dd6f88-892d-4db3-a8cc-1c7e200769bc",
      "name": "Sticky Note5",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Extract key info\nLLM ",
        "height": 240,
        "width": 360,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -896,
        800
      ],
      "id": "22e6807a-864b-4fa0-aa9e-e4de9a29c98c",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_1",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        544,
        80
      ],
      "id": "8ed1c78f-0834-4cee-a627-e30a1a89ee16",
      "name": "Extract from File",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and clean the text field\nfor (const item of $input.all()) {\n  // Get the text from input\n  const dirtyText = item.json.text;\n  \n  // Remove all special characters except commas and periods\n  // Also removes newlines, tabs, and multiple spaces\n  const cleanText = dirtyText\n    .replace(/[\\r\\n]+/g, ' ')           // Replace newlines with space\n    .replace(/[^\\w\\s,.]|\\t/g, '')       // Remove everything except words, spaces, commas, periods\n    .replace(/\\s+/g, ' ')               // Replace multiple spaces with single space\n    .trim();                            // Remove leading/trailing spaces\n    \n  // Update the text field with cleaned version\n  item.json.text = cleanText;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        80
      ],
      "id": "4bfdcc6d-229f-48e0-a4a2-93652cfa1178",
      "name": "FormatText",
      "disabled": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\n    \"Invoice number\",\n    \"Invoice date\",\n    \"Description\",\n    \"Payment date\",\n    \"Type\",\n    \"Total price\"\n  ],\n  \"properties\": {\n    \"Description\": { \"type\": \"string\" },\n    \"Invoice date\": { \"type\": \"date\" },\n    \"Payment date\": { \"type\": \"date\" },\n    \"Type\": { \n      \"type\": \"string\",\n      \"enum\": [\"Annual Recurring\", \"Monthly Recurring\", \"Single Payment\"]\n    },\n    \"Invoice number\": { \"type\": \"string\" },\n    \"Purchase order number\": { \"type\": \"string\" },\n    \"Supplier name\": { \"type\": \"string\" },\n    \"Supplier address\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"address 1\": { \"type\": \"string\" },\n        \"address 2\": { \"type\": \"string\" },\n        \"city\": { \"type\": \"string\" },\n        \"postcode\": { \"type\": \"string\" }\n      }\n    },\n    \"Supplier VAT identification number\": { \"type\": \"string\" },\n    \"Customer name\": { \"type\": \"string\" },\n    \"Customer address\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"address 1\": { \"type\": \"string\" },\n        \"address 2\": { \"type\": \"string\" },\n        \"city\": { \"type\": \"string\" },\n        \"postcode\": { \"type\": \"string\" }\n      }\n    },\n    \"Customer VAT identification number\": { \"type\": \"string\" }, \n    \"Shipping addresses\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"address 1\": { \"type\": \"string\" },\n          \"address 2\": { \"type\": \"string\" },\n          \"city\": { \"type\": \"string\" },\n          \"postcode\": { \"type\": \"string\" }\n        }\n      }\n    },\n    \"Line items\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"name\": \"string\",\n        \"description\": \"string\",\n        \"price\": \"number\",\n        \"discount\": \"number\"\n      }\n    },\n    \"Subtotal without VAT\": { \"type\": \"number\" },\n    \"Subtotal with VAT\": { \"type\": \"number\" },\n    \"Total price\": { \"type\": \"number\" },\n    \"Currency\": { \"type\": \"string\" },\n    \"Additional information\": { \"type\": \"string\" }\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -768,
        1072
      ],
      "id": "77111872-1691-4bcc-9553-07477f6e88e7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen/qwen2.5-vl-32b-instruct:free\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Extract all text from this image\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"{{ $json.data.url }}\"\n          }\n        }\n      ]\n    }\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        80
      ],
      "id": "90920301-95c1-49ba-9ff3-d50960e56c79",
      "name": "Qwen2.5VL",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n} ",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "ocr_output.json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        1392
      ],
      "id": "c2c38d3e-d1f2-4b92-87b7-18c8a20f52f4",
      "name": "Mistral OCR - Document",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Mistral-AI-OCR"
        }
      }
    },
    {
      "parameters": {
        "content": "## Attachments\nIf attachments - upload & parse\nIf no attachments - nothing",
        "height": 253,
        "width": 423,
        "color": 7
      },
      "id": "ed4195c9-5d95-4149-945d-ff5a84291512",
      "name": "Sticky Note25",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "22f8d83a-b7d1-4b4a-8967-4335c0d1f510",
              "leftValue": "={{ $('GetSingleEmail').item.binary }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        864
      ],
      "id": "b059f91b-ca98-4693-bff1-8f14419dfdbc",
      "name": "Attachment"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ \n$('ExtractTextInfo').item.json.output['Invoice date'].toDateTime().format('yyyy.MM.dd')\n+ \" - \"\n+  $('ExtractTextInfo').item.json.output['Supplier name']\n+ ' - ' \n+ $('GetBinaryDataALL').item.json.fileName.split(\".\")[0] \n+ \".\" + $('GetBinaryDataALL').item.json.fileName.split(\".\")[1] + '_EMAILID_' + 'https://mail.google.com/mail/u/3/#all/' + $('GetSingleEmail').item.json.id }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/folders/1L9cZ7ofFrFhV_lpGwVoJQd8Ptp-x6IRp",
            "mode": "url"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        352,
        832
      ],
      "id": "e9325aaa-4bed-444d-9b69-f513f3ee305d",
      "name": "GetAttachments",
      "notesInFlow": true,
      "retryOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "44944380-9ba0-4cf7-abbb-aba711fb0b9a",
              "leftValue": "={{ $('GetAttachments').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        832
      ],
      "id": "a8b88bf5-778f-4bc6-ba25-f41f8f500f58",
      "name": "IfExists"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        752,
        944
      ],
      "id": "d7aadcaa-2ae6-454c-b722-ab281830eb7a",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "## Uploads Attachments\nIf they don't already exist, only",
        "height": 485,
        "width": 883,
        "color": 7
      },
      "id": "8fe8afa6-a661-412e-a4f2-8098b352015b",
      "name": "Sticky Note26",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "let results = [];\nconst emailData = $('GetSingleEmail').item;\nif (emailData.binary) {\n  for (const key of Object.keys(emailData.binary)) {\n    const attachment = emailData.binary[key];\n    results.push({\n      json: {\n        fileName: attachment.fileName,\n        mimeType: attachment.mimeType\n      },\n      binary: {\n        data: attachment\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "dbac5969-08d3-42e1-a842-98cf45d12f1b",
      "name": "GetBinaryDataALL",
      "type": "n8n-nodes-base.function",
      "position": [
        -16,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "minutes"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "dataPropertyAttachmentsPrefixName": "data_",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1840,
        880
      ],
      "id": "940e0bd5-7ce5-4aef-8ed0-c0db7ba36877",
      "name": "ReceiveEmail_Trigger",
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=email_subject: {{ $('GetSingleEmail').item.json.subject }}\nemail_body: \n{{ $('GetSingleEmail').item.json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=鑑於 <invoice> xml 標籤中的以下發票，請提取以下列出的資訊。\n如果您找不到特定項目的信息，請留空並跳至下一個。例如，如果電子郵件中沒有文本，請勿編造詳細資訊！\n\n**最重要的一點**\n如果電子郵件正文或主題不包含此訊息，請留空。請勿編造資訊。\n\n* 描述 - 發票的簡短描述（1-2 行），例如Supabase 每月資料庫使用量 - 必填項\n* 類型 - [選項：月付、年付、單筆付款] - 必填項\n* 發票日期（收到發票的日期） - 必填項\n* 付款日期（付款日期 - 此日期不一定與發票發送日期相同） - 必填項\n* 發票號碼 - 必填項\n* 採購訂單編號\n* 供應商名稱（如果您無法確定，請使用通用名稱，例如“餐廳”）\n* 供應商增值稅識別號\n* 明細項目，包括所提供商品或服務的描述\n* 含增值稅和不含增值稅的價格（不含貨幣）\n* 總價（不含貨幣） - 必填項\n* 貨幣（美元、以色列新謝克爾、歐元、英鎊） - 必填項\n* 您認為重要但以上未包含的其他信息\n其他重要訊息，例如：\n- 付款條件（30 天淨付款、立即付款等）\n- 接受的付款方式\n- 銀行帳戶資訊（如有提供）\n- 折扣條款或提前付款激勵措施\n- 逾期付款罰金或利率\n- 免稅參考\n- 合約或框架協議參考\n- 交貨條款\n- 特殊說明\n- 帳單查詢聯絡方式\n- 退貨/退款政策\n- 保固資訊（如適用）\n- 原產地證明書（如有）\n- 保險要求\n- 國際貨運海關訊息"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -864,
        880
      ],
      "id": "2b8f0c13-85bb-45a1-a7cd-252bbd260e9a",
      "name": "ExtractTextInfo"
    },
    {
      "parameters": {
        "content": "## Assess Email\nIf financial based on subject and content",
        "height": 240,
        "width": 360,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1456,
        800
      ],
      "id": "ecfa7f1b-8f7b-48ae-bba1-20cbb1d0e5be",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"requires_processing\": {\n\t\t\t\"type\": \"boolean\"\n\t\t}\n\t}\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1248,
        1200
      ],
      "id": "c053ad25-8486-443d-929c-2434cac32df5",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=email_subject: {{ $('GetSingleEmail').item.json.subject }}\nemail_body: \n{{ $('GetSingleEmail').item.json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=角色\n您是一位電子郵件處理過濾代理，專門負責識別包含需要財務處理的發票或帳單相關內容的電子郵件。您的任務是快速且準確地判斷收到的電子郵件是否需要路由到發票處理系統。\n約束\n\n輸出結果必須為“true”或“false”\n處理電子郵件主旨行和正文內容\n重點關注發票和帳單相關內容\n保持高準確率，防止發票遺漏或誤報\n處理商務信函中常用的各種電子郵件格式和語言\n同時考慮直接發票和發票相關通信\n快速處理電子郵件，無需使用者額外輸入\n\n輸入\n\nemail_subject：電子郵件主旨（字串，必需）\nemail_body：電子郵件正文全文（字串，必需）\n\n說明\n\n主題行分析：\n\n掃描與發票相關的關鍵字（發票、帳單、付款、對帳單、收據等）\n檢查供應商/供貨商名稱與財務術語的組合\n查找發票號碼、金額或付款參考號\n\n電子郵件正文分析：\n\n識別發票特定訊息，例如：\n\n發票號碼或參考號\n付款金額和貨幣符號\n付款到期日或條款\n供應商/供貨商詳情及增值稅號\n明細項目或服務描述\n付款說明或銀行詳情\n\n檢查附件中可能包含發票的內容（PDF、Excel 文件）\n尋找自動計費系統簽名或頁腳\n\n內容評估：\n\n確定電子郵件是否包含足夠的發票相關元素\n「商務午餐」或「聖誕節活動」等內容表明它可能與費用相關\n考慮指示計費/財務處理要求的上下文線索\n評估電子郵件是否需要擷取財務數據\n\n決策制定：\n\n如果電子郵件包含需要處理的發票或帳單內容，則傳回“true”\n如果電子郵件不包含相關的財務/發票訊息，則傳回“false”\n如果對邊界情況有疑問，則寧可包含（傳回「true」）\n\n結論\n\n輸出格式：單一字串值 - “true”或“false”\n處理速度：快速分析，適用於大量電子郵件過濾\n準確性重點：在保持合理精度的同時，最大限度地減少漏報（漏報發票）\n\n解決方案\n\n如果電子郵件內容損壞或無法讀取，則傳回“false”\n如果電子郵件使用外語，但包含可識別的發票元素（數字、貨幣符號、日期），則傳回“true”\n如果電子郵件提及發票相關主題，但缺乏具體的財務數據，則傳回“false”\n如果出現技術處理錯誤，則預設為“false”，以防止系統過載\n對於內容混合且僅部分內容與發票相關的電子郵件，請專注於主要目的和內容量"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -1424,
        880
      ],
      "id": "18ee26e1-9581-4e71-a3c0-dbca3a90d74b",
      "name": "AssessEmail"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8beed4e9-f243-4103-8e66-d006c01e4c1f",
              "leftValue": "={{ $json.output.requires_processing }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1056,
        880
      ],
      "id": "a29fb1af-c321-45db-a9c7-81e25f8ad90f",
      "name": "Process?"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        },
        "path": "26a2a492-88f1-4ab3-b092-b808c9fdadd5"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1648,
        880
      ],
      "id": "c5560332-2c47-49da-891f-70c4e6ef6235",
      "name": "GetSingleEmail",
      "webhookId": "26a2a492-88f1-4ab3-b092-b808c9fdadd5",
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 3,
              "unit": "minutes"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "your_own_bank_transactions_sheet_url",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1840,
        464
      ],
      "id": "9f6e5fd4-f4ea-4b0f-af67-d2ee5cea218e",
      "name": "Google Sheets Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 1. Fetch raw transaction\nFetches transactions from your live transactions and populates them in a copy of [this GSheet](https://docs.google.com/spreadsheets/d/1DYHQ7EZ-cDBJZ5SCC2brmXASXcZCqhtYtxUW-mGw4G4/edit?usp=sharing) \n",
        "height": 276,
        "width": 460,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1904,
        368
      ],
      "id": "13b3ad28-2b06-4ab2-a175-1acb5ab79748",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Wkn8SPR1rFBtj7DhZvgsvjNYAhb4yUMEeu8ewd7fv7Y",
          "mode": "list",
          "cachedResultName": "Finance Reconciliation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Wkn8SPR1rFBtj7DhZvgsvjNYAhb4yUMEeu8ewd7fv7Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Raw_LIVE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DYHQ7EZ-cDBJZ5SCC2brmXASXcZCqhtYtxUW-mGw4G4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Transaction ID": "={{ $json[\"Transaction ID\"] }}",
            "Date": "={{ $json.Date }}",
            "Category split": "={{ $json[\"Category split\"] }}",
            "Description": "={{ $json.Description }}",
            "Receipt": "={{ $json.Receipt }}",
            "Address": "={{ $json.Address }}",
            "Notes and #tags": "={{ $json[\"Notes and #tags\"] }}",
            "Local currency": "={{ $json[\"Local currency\"] }}",
            "Local amount": "={{ $json[\"Local amount\"] }}",
            "Currency": "={{ $json.Currency }}",
            "Amount": "={{ $json.Amount }}",
            "Category": "={{ $json.Category }}",
            "Emoji": "={{ $json.Emoji }}",
            "Name": "={{ $json.Name }}",
            "Type": "={{ $json.Type }}",
            "Time": "={{ $json.Time }}"
          },
          "matchingColumns": [
            "Transaction ID"
          ],
          "schema": [
            {
              "id": "Year",
              "displayName": "Year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Month name",
              "displayName": "Month name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Transaction ID",
              "displayName": "Transaction ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emoji",
              "displayName": "Emoji",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Local amount",
              "displayName": "Local amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Local currency",
              "displayName": "Local currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes and #tags",
              "displayName": "Notes and #tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Receipt",
              "displayName": "Receipt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category split",
              "displayName": "Category split",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Receipt_GDrive",
              "displayName": "Receipt_GDrive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File name",
              "displayName": "File name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Extracted Text",
              "displayName": "Extracted Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Download",
              "displayName": "Download",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "change_type",
              "displayName": "change_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P&L Category",
              "displayName": "P&L Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1600,
        464
      ],
      "id": "00b6033e-435d-43e6-827c-2fa89baf4ce8",
      "name": "AppendandUpdateRows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 2. Receive email accounts@\nRetrieves every email\n",
        "height": 260,
        "width": 380,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1904,
        800
      ],
      "id": "e41f03e4-bbb5-4e33-8bf6-43ef88dee0ca",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Text-based info\n",
        "height": 320,
        "width": 520,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -928,
        752
      ],
      "id": "d0e91f8b-c504-440f-942f-cfa6123512b6",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Attachment info\n",
        "height": 380,
        "width": 520,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        736
      ],
      "id": "7e24f8de-eac3-4b4a-86c9-3728190ea648",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "name": "={{ \n($('ExtractTextInfo').item.json.output['Invoice date'] ? \n  ($('ExtractTextInfo').item.json.output['Invoice date'].toString().length > 0 ? \n    $('ExtractTextInfo').item.json.output['Invoice date'].toDateTime().format('yyyy.MM.dd') : \n    $now.format('yyyy.MM.dd')) : \n  $now.format('yyyy.MM.dd'))\n+ \" - \"\n+  $('ExtractTextInfo').item.json.output['Supplier name']\n+ ' - ' \n+ $('GetBinaryDataALL').item.json.fileName.split(\".\")[0] \n+ \".\" + $('GetBinaryDataALL').item.json.fileName.split(\".\")[1] + '_EMAILID_' + 'https://mail.google.com/mail/u/3/#all/' + $('GetSingleEmail').item.json.id }}\n",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1L9cZ7ofFrFhV_lpGwVoJQd8Ptp-x6IRp",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        944,
        944
      ],
      "id": "8206fe0a-5d07-412b-8feb-e47e6ece9dfe",
      "name": "SaveAttachments",
      "notesInFlow": true,
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      }
    },
    {
      "parameters": {
        "content": "## 3. New Receipt\n",
        "height": 260,
        "width": 440,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1776,
        1312
      ],
      "id": "00ac0cd4-65ff-4b8f-9195-bf6707533193",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1504,
        1392
      ],
      "id": "3cea7fda-c917-4009-a802-976608405cd3",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1L9cZ7ofFrFhV_lpGwVoJQd8Ptp-x6IRp",
          "mode": "url"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1728,
        1392
      ],
      "id": "11674ece-81f6-4263-adfb-a26792241215",
      "name": "GDrive_Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      }
    },
    {
      "parameters": {
        "content": "## Extract info from file\n",
        "height": 260,
        "width": 940,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1168,
        1312
      ],
      "id": "8f332b05-2298-4c48-b444-bc24092a20bd",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        1392
      ],
      "id": "b9cb9359-5963-41a7-8570-1833367302d0",
      "name": "Get Signed Url",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Mistral-AI-OCR"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1104,
        1392
      ],
      "id": "e7d2f5a6-7401-4032-8325-90e7ba710728",
      "name": "Mistral - Upload File",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Mistral-AI-OCR"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Wkn8SPR1rFBtj7DhZvgsvjNYAhb4yUMEeu8ewd7fv7Y/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Raw_LIVE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Wkn8SPR1rFBtj7DhZvgsvjNYAhb4yUMEeu8ewd7fv7Y/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        240,
        1392
      ],
      "id": "d9a00e91-fc8a-496e-8cfc-675690a5da6d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "ocr_output.json",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -448,
        1392
      ],
      "id": "42735f3f-3da4-4a3f-8d1e-c475ba81200c",
      "name": "Extract from JSON"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -160,
        1584
      ],
      "id": "7abc60c1-c5d8-4772-b3a7-ceb897132fee",
      "name": "Openrouter1",
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"amount_due\": {\n\t\t\t\"type\": \"number\"\n\t\t}\n\t}\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        32,
        1584
      ],
      "id": "9c2a8143-1fbf-41d8-8ebb-3b6bfbb9b875",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=invoice_markdown:\n{{ $json.text?.pages[0].markdown || JSON.stringify($('Attachment').item.json.output,null,2) }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=角色\n您是一位發票金額提取代理，專門負責從發票減價內容中識別和提取應付總額。您的任務是找到準確的本地應付金額，並將其以清晰的數值形式返回。\n約束\n\n必須僅傳回不含貨幣符號或格式的數字金額\n從發票中明確提取「應付金額」或等值總額\n使用當地貨幣金額（發票上顯示的主要貨幣）\n不要猜測或估算 - 僅提取明確規定的金額\n處理各種發票格式和佈局\n僅傳回帶小數的數字（例如，2028.80）\n\n輸入\n\ninvoice_markdown：發票的 markdown 格式文字內容（字串，必需）\n\n說明\n\n查找應付金額部分：\n\n搜尋「應付金額」、「應付總額」、「總計」或類似的最終金額指示符\n在表格結構、摘要部分或反白區域中尋找\n確定最終應付金額（不包括小計或行項目）\n\n提取數值：\n\n刪除所有貨幣符號（美元、$、歐元、英鎊等）\n刪除所有格式字元（逗號、空格）\n保留小數點和小數位\n僅提取數值\n\n驗證：\n\n確保提取的金額與「應付金額」的上下文相符\n驗證其為總金額/最終金額，而非明細項目或小計\n確認該金額為發票的當地貨幣\n\n輸出格式：\n\n傳回帶小數的純數字\n無貨幣符號、逗號或其他格式\n範例格式：2028.80\n\n結論\n\n輸出格式：帶小數的純數值（例如：2028.80）\n精度：提取精確金額，不進行四捨五入或估算\n可靠性：僅傳回可明確識別為應付總額的值\n\n解決方案\n\n如果存在多個“總計”金額，則優先考慮“應付金額”，而不是其他總計\n如果未找到明確的應付金額，則傳回空值/null，而不是猜測\n如果顯示貨幣換算，則使用當地/主要貨幣金額\n如果Markdown 格式錯誤，但 amount 可讀，則擷取清晰的數值\n如果發生技術解析錯誤，則傳回 null 而不是錯誤數據"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -96,
        1392
      ],
      "id": "fc61497a-cea5-44ee-826b-c26a0b29505d",
      "name": "AmountDue"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1232,
        1584
      ],
      "id": "e5f2195a-ad42-42f9-ac47-110c4469dec3",
      "name": "Openrouter2",
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"is_match\": {\n\t\t\t\"type\": \"boolean\"\n\t\t}\n\t}\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1408,
        1584
      ],
      "id": "cce90615-3b3b-40c6-b9e0-eef6be4a0021",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1008,
        1392
      ],
      "id": "a0962106-92cc-4e72-9193-4a3723673bf9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=transaction_data: \n{{ JSON.stringify($json, null, 2) }}\ninvoice_markdown: \n{{ $('GDrive_Trigger').isExecuted ? $('Extract from JSON').item.json.text?.pages[0].markdown : JSON.stringify($('Attachment').item.json.output,null,2) }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=角色\n您是一位交易配對代理，專門負責將發票資料與現有交易記錄進行比較，以確定它們是否代表同一筆金融交易。您的任務是準確識別發票與銀行/付款交易之間的匹配關係。\n約束\n\n輸出結果必須為“true”或“false”\n將發票詳情與交易記錄資料進行比較\n專注於關鍵匹配標準：金額、日期接近度和上下文資訊\n處理貨幣差異和日期格式差異\n保持高準確度，避免錯誤匹配\n不要猜測 - 要求對匹配結果有合理的置信度\n\n輸入\n\ntransaction_data：包含交易記錄的數組，其中包含金額、本地金額、日期、描述、貨幣等欄位（數組，必需）\ninvoice_markdown：發票的 markdown 格式文字內容（字串，必需）\n\n說明\n\n提取發票關鍵資料：\n\n解析發票到期金額和貨幣\n提取發票日期（開立日期或到期日）\n識別供應商/供貨商名稱或服務描述\n記錄任何參考編號或交易標識符\n\n比較財務金額：\n\n將發票金額與交易「金額」或「本地金額」欄位相符\n考慮貨幣差異（發票貨幣與交易貨幣）\n允許由於匯率造成的細微捨入差異\n同時考慮正發票金額和負交易金額\n\n評估日期接近度（重要）：\n- 確保日期相似（交易通常按月收取相同金額，因此我想確保您將發票分配到正確的交易）\n- 仔細檢查發票日期，確保其與交易日期接近（例如，發票日期為 2025 年 6 月 1 日至 30 日，交易處理日期為 2025 年 7 月 1 日 -> 可能匹配；發票日期為 2025 年 6 月 1 日至 30 日，交易處理日期為 2025 年）\n- 將發票日期與交易日期進行比較\n- 留出合理的時間窗口（通常在幾天內）\n- 考慮不同的日期格式\n\n評估上下文匹配度：\n\n將供應商名稱與交易的「名稱」或「描述」欄位進行比較\n尋找符合的服務說明或參考編號\n評估交易類型相關性（例如，「international-payments」）\n考慮任何註釋或其他標識符\n\n進行匹配判斷：\n\n僅當多個條件符合合理置信度時才傳回“true”\n如果關鍵細節不匹配或不一致，則傳回“false”\n金額和日期的準確性優先於描述性匹配\n\n<定期付款範例>\n交易資料（範例）：\n{\n“row_number”：467,\n「Year」：2025,\n「Month name」：5月,\n「Transaction ID」：tx_0000AvgnxwbY8ViKClZeXF,\n「Date」：2025年1月5日,\n「Time」：12:30:17,\n“Type”：卡支付,\n「名字」：Google Workspace,\n「Emoji」：📅,\n「Category」：服務,\n「Amount」： -11.8,\n“貨幣”: “英鎊”,\n「當地金額」: -11.8,\n“當地貨幣”: “英鎊”,\n「備註和 #tags」: “”,\n「地址」: “”,\n「收據」: “”,\n“描述”: “Google GSUITE_scrapes. Dublin IRL”,\n“類別拆分”: “”,\n}\n\n發票降價範例：\n# Google\n\n發票編號：5295322548\n\n**Google Cloud EMEA Limited**\n\nVelasco Clanwilliam Place Dublin 2 Ireland VAT 號：IE3668997OH\n\n帳單寄至 Simon Coton scrapes.ai 50 Hampton Park First Floor Flat BRISTOL BS6 6LJ United Kingdom\n\n| 詳情 | Google Workspace |\n| --- | --- |\n| 發票編號 | 5295322548 |\n|發票日期 | 2025年6月30日 |\n| 帳單ID | 4844-1438-8906 |\n| 網域 | scrapes.ai |\n\n| 總計（英鎊） | £11.80 |\n| --- | --- |\n| | |\n\n2025年6月1日至2025年6月30日帳單摘要\n\n| 小計（英鎊） | £11.80 |\n| --- | --- |\n| 增值稅 (0%) | £0.00 |\n| 總計（英鎊） | £11.80 |\n\n您將自動支付所有應付金額。\n\n決策範例：\n1. 找出潛在成本匹配項\n2. 找到同一供應商匹配項\n3. 但是，交易中的「日期」（2025年1月5日）明顯與發票降價（2025年7月）不符\n4. 返回 false\n\n結論\n\n輸出格式：單一字串值 - “true”或“false”\n匹配置信度：要求金額、時間和上下文合理匹配\n錯誤預防：優先使用假陰性而不是假陽性，以防止錯誤匹配\n\n解決方案\n\n如果交易數組為空，則傳回“false”\n如果發票資料不完整或不清楚，則傳回“false”\n如果金額接近但不完全一致，請考慮匯率波動，並在合理的差異範圍內傳回“true”\n如果日期格式不同，請解析並比較基礎日期\n如果出現技術解析錯誤，則傳回“false”以防止錯誤匹配\n對於置信度較低的模糊情況，傳回“false”"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1280,
        1392
      ],
      "id": "ec6a82ca-37d3-4412-860e-2780d3963b4b",
      "name": "MatchTransaction"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1DYHQ7EZ-cDBJZ5SCC2brmXASXcZCqhtYtxUW-mGw4G4",
          "mode": "list",
          "cachedResultName": "Finance Reconciliation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DYHQ7EZ-cDBJZ5SCC2brmXASXcZCqhtYtxUW-mGw4G4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Raw_LIVE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DYHQ7EZ-cDBJZ5SCC2brmXASXcZCqhtYtxUW-mGw4G4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Transaction ID": "={{ $('Get row(s) in sheet').item.json['Transaction ID'] }}",
            "Extracted Text": "={{ $('GDrive_Trigger').isExecuted ? $('Extract from JSON').item.json?.text.pages[0].markdown : JSON.stringify($('Attachment').item.json.output,null,2) }}",
            "File name": "={{ $('GDrive_Trigger').isExecuted ? $('GDrive_Trigger').item.json.name : \"N/A\" }}",
            "Download": "={{ $('GDrive_Trigger').isExecuted ? $('GDrive_Trigger').item.json?.webContentLink : \"N/A\" }}",
            "Email": "={{ $('GDrive_Trigger').isExecuted ? $('GDrive_Trigger').item.json?.name?.split('_EMAILID_')[1] : 'https://mail.google.com/mail/u/3/#all/' + $('GetSingleEmail').item.json?.id }}",
            "Receipt_GDrive": "={{ $('GDrive_Trigger').isExecuted ? $('GDrive_Trigger').item.json?.webViewLink : \"Email\" }}"
          },
          "matchingColumns": [
            "Transaction ID"
          ],
          "schema": [
            {
              "id": "Year",
              "displayName": "Year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Month name",
              "displayName": "Month name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Transaction ID",
              "displayName": "Transaction ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Emoji",
              "displayName": "Emoji",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Local amount",
              "displayName": "Local amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Local currency",
              "displayName": "Local currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notes and #tags",
              "displayName": "Notes and #tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Receipt",
              "displayName": "Receipt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Category split",
              "displayName": "Category split",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Receipt_GDrive",
              "displayName": "Receipt_GDrive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "File name",
              "displayName": "File name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Extracted Text",
              "displayName": "Extracted Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Download",
              "displayName": "Download",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "change_type",
              "displayName": "change_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1904,
        1392
      ],
      "id": "18a7f28a-0666-46be-b758-68109d932ebd",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3e241571-d526-4e92-b0fb-67f3f49bb489",
              "leftValue": "={{ $json.output.is_match }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1664,
        1392
      ],
      "id": "cdb8422e-7220-4ec0-a772-b091e629ceaf",
      "name": "isMatch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Wkn8SPR1rFBtj7DhZvgsvjNYAhb4yUMEeu8ewd7fv7Y",
          "mode": "list",
          "cachedResultName": "Finance Reconciliation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Wkn8SPR1rFBtj7DhZvgsvjNYAhb4yUMEeu8ewd7fv7Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2050252644,
          "mode": "list",
          "cachedResultName": "Unmatched_Receipts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Wkn8SPR1rFBtj7DhZvgsvjNYAhb4yUMEeu8ewd7fv7Y/edit#gid=2050252644"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date of invoice": "TBC",
            "Email": "={{ $('GDrive_Trigger').isExecuted ? $('GDrive_Trigger').item.json?.name?.split('_EMAILID_')[1] : 'https://mail.google.com/mail/u/3/#all/' + $('GetSingleEmail').item.json?.id }}",
            "Receipt_GDrive": "={{ $('GDrive_Trigger').isExecuted ? $('GDrive_Trigger').item.json?.webViewLink : \"N/A\" }}",
            "File name": "={{ $('GDrive_Trigger').isExecuted ? $('GDrive_Trigger').item.json.name : \"N/A\" }}",
            "Extracted Text": "={{ $('GDrive_Trigger').isExecuted ? $('Extract from JSON').item.json?.text.pages[0].markdown : JSON.stringify($('Attachment').item.json.output,null,2) }}",
            "Download": "={{ $('GDrive_Trigger').isExecuted ? $('GDrive_Trigger').item.json?.webContentLink : \"N/A\" }}",
            "Total Due": "={{ $('AmountDue').item.json.output.amount_due }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date of invoice",
              "displayName": "Date of invoice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Receipt_GDrive",
              "displayName": "Receipt_GDrive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File name",
              "displayName": "File name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Extracted Text",
              "displayName": "Extracted Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Download",
              "displayName": "Download",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Due",
              "displayName": "Total Due",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1824,
        1104
      ],
      "id": "de500012-6553-406b-8ea1-d65504e3f06b",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Extract amount due to find corresponding bank transaction\n",
        "height": 260,
        "width": 1912,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        1312
      ],
      "id": "f6ace0b1-e846-443a-8d3b-57208c912d33",
      "name": "Sticky Note9"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.awsTextract",
      "typeVersion": 1,
      "position": [
        320,
        80
      ],
      "id": "f00fc2c4-a5bc-4a4a-a7b1-dd61a5010972",
      "name": "AWS Textract",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Append as unmatched\nIf no matches are found, only",
        "height": 260,
        "width": 320,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1744,
        1008
      ],
      "id": "f52dbf62-b4fb-413e-b03a-a0688544d17d",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "Date",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        464,
        1392
      ],
      "id": "ad0e63ab-a76c-4acb-a036-9c4ebdd613c4",
      "name": "NewestFirst"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"image_url\",\n    \"image_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true,\n  \"bbox_annotation_format\": {\n    \"type\": \"json_schema\",\n    \"json_schema\": {\n      \"schema\": {\n        \"type\": \"object\",\n        \"title\": \"BBOXAnnotation\",\n        \"properties\": {\n          \"document_type\": {\n            \"title\": \"Document_Type\",\n            \"description\": \"The type of the image.\",\n            \"type\": \"string\"\n          },\n          \"short_description\": {\n            \"title\": \"Short_Description\",\n            \"description\": \"A description in English describing the image.\",\n            \"type\": \"string\"\n          },\n          \"summary\": {\n            \"title\": \"Summary\",\n            \"description\": \"Summarize the image.\",\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\"document_type\", \"short_description\", \"summary\"],\n        \"additionalProperties\": false\n      },\n      \"name\": \"bbox_annotation\",\n      \"strict\": true\n    }\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "ocr_output.json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        1664
      ],
      "id": "33716657-b6c6-400e-b3a4-7e16e53d1bc1",
      "name": "Mistral OCR - Image",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Mistral-AI-OCR"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1104,
        1664
      ],
      "id": "5b5e9346-e2b9-49e0-a952-c74b8e28950a",
      "name": "Mistral - Upload File1",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Mistral-AI-OCR"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        1664
      ],
      "id": "09e16ff3-24b5-48e4-8325-1fa53f3dbfff",
      "name": "Get Signed Url1",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Mistral-AI-OCR"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3ccf10e1-7d8d-418d-adf4-b27eadc50173",
              "leftValue": "={{ $binary.data.mimeType }}",
              "rightValue": "=image",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1344,
        1392
      ],
      "id": "3ef62db3-f79e-4677-926a-965f91f5140c",
      "name": "IfImage"
    },
    {
      "parameters": {
        "content": "## Extract info from image\n",
        "height": 260,
        "width": 940,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1168,
        1584
      ],
      "id": "40291c2b-0ce2-46ea-ac98-7a6eda4c59d9",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Setup instructions - [video and assets here](https://www.skool.com/scrapes/classroom/5cb99289?md=3c467e09169a485e8b4d2d5e04d3962f)\n\n**All orange notes signify that changes need to be made before the template will work for you e.g. by connecting up your account. All instructions step-by-step are below.**\n\n### Fetch live transactions from bank\nThis part of the automation is going to be unique to your bank. You'll need your transactions to be imported to a Google sheet, either live transactions (preferable) or a manual export each month.\n1. Set up your business / personal banking to automatically export live transactions to a GSheet, or use a third party app to do so.\n2. Make a copy of this [Google Sheet](https://docs.google.com/spreadsheets/d/1DYHQ7EZ-cDBJZ5SCC2brmXASXcZCqhtYtxUW-mGw4G4/edit?usp=sharing) which stores `Raw_LIVE` transactions, some `lookups` e.g. category matching information, and will store our `unmatched receipts` for any non-matching items to make it simpler to reconcile later\n\n### Set up your receipt monitoring email e.g. accounts@companyname.com and Invoice folder\nHaving a specific email address to receive the receipts and invoices is going to make this process significantly simpler\n1. Set up the credentials for your Gmail, if this is your first time, follow [this guide](https://www.skool.com/scrapes/classroom/5cb99289?md=f58e8fbe14ad460bb0c1b4a30c420a96) - (_Optional - You can swap out Gmail for Outlook or another email provider)_\n2. Set up a folder in GDrive (recommended) or another service to receive all invoice uploads for record-keeping\n3. Connect all GSheets in the orange boxes to your own sheet credentials, and to the sheet you copied at the start.\n4. Set up [Mistral OCR](https://mistral.ai/pricing) ($1 per 1000 pages) or another OCR provider for the image recognition (when an invoice is an image, not a PDF). Here's a [comparison video](https://youtu.be/1v9859y-gGg?si=X55k1PiG5LG9Tq4U).\n5. Grab your Mistral API key and set up a Generic Credential - Header Auth in the HTTP request nodes. \nName: `Authorization`. Value: `your_api_key`.\n6. Set up Openrouter (for the AI functionality) - [guide here](https://www.skool.com/scrapes/classroom/5cb99289?md=2597191838bd4524873b8f77b27ebee4) or swap out for another AI Model Provider e.g. OpenAI\n7. Activate the workflow\n8. Enjoy the time you get back from not manually reconciling invoices!\n\n\nExtensions:\nThe next step for this template is integrating it directly with accounting software e.g. FreeAgent, Quickbooks, Xero",
        "height": 672,
        "width": 960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2928,
        400
      ],
      "id": "61e58285-41fd-42aa-974c-e9d174b29157",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "**Update**",
        "height": 192,
        "width": 192,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1856,
        1360
      ],
      "id": "32d0f777-81e1-464d-ad64-5ecb7f882508",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "**Get account using Mistral OCR**",
        "height": 192,
        "width": 656,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1152,
        1360
      ],
      "id": "1955e2ee-dc7e-4eda-bbf6-cd52d7f0591f",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "**Get account using Mistral OCR**",
        "height": 192,
        "width": 656,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1152,
        1632
      ],
      "id": "b929325c-aaa0-4514-98d4-911dde6f6933",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "**Update**",
        "height": 192,
        "width": 192,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        1360
      ],
      "id": "ab8ecadb-ea62-46df-95c0-1ce08ad6fb07",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "**Update**",
        "height": 176,
        "width": 176,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        896,
        896
      ],
      "id": "5cb3e814-a36f-4817-b069-0d2ad45997a3",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "**Update**",
        "height": 176,
        "width": 176,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        800
      ],
      "id": "c315e4ab-68bf-431b-b280-81c39ec40dbf",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## Demo\n1. Matching to the correct transaction (from multiple similar)\n2. How it handles images using Optical Character Recognition, and PDFs\n3. How it handles receipts with no matching transaction",
        "height": 144,
        "width": 656,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1904,
        96
      ],
      "id": "4928218d-ca36-428c-86c7-737ae5c37e7f",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "**Update**",
        "height": 176,
        "width": 176,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1760,
        1360
      ],
      "id": "3e3ee852-186a-448e-a559-a7d3d04aad99",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "maxItems": 15
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        688,
        1392
      ],
      "id": "b0f787fb-eec7-4003-9422-464036d06227",
      "name": "Limit15"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=email_subject: {{ $('GetSingleEmail').item.json.subject }}\nemail_body: \n{{ $('GetSingleEmail').item.json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Role\nYou are an Email Processing Filter Agent specialized in identifying emails that contain invoices or billing-related content requiring financial processing. Your purpose is to quickly and accurately determine whether an incoming email needs to be routed to invoice processing systems.\nConstraints\n\nMust return only 'true' or 'false' as output\nProcess both email subject line and body content\nFocus specifically on invoice and billing-related content\nMaintain high accuracy to prevent missed invoices or false positives\nHandle various email formats and languages commonly used in business correspondence\nConsider both direct invoices and invoice-related communications\nProcess emails quickly without requiring additional user input\n\nInputs\n\nemail_subject: The subject line of the email (string, required)\nemail_body: The full text content of the email body (string, required)\n\nInstructions\n\nSubject Line Analysis:\n\nScan for invoice-related keywords (invoice, bill, payment, statement, receipt, etc.)\nCheck for supplier/vendor names combined with financial terms\nLook for invoice numbers, amounts, or payment references\n\n\nEmail Body Analysis:\n\nIdentify invoice-specific information such as:\n\nInvoice numbers or reference numbers\nPayment amounts and currency symbols\nPayment due dates or terms\nSupplier/vendor details and VAT numbers\nLine items or service descriptions\nPayment instructions or bank details\n\n\nCheck for attachments mentioned that might contain invoices (PDF, Excel files)\nLook for automated billing system signatures or footers\n\n\nContent Evaluation:\n\nDetermine if the email contains sufficient invoice-related elements\nThings like 'business lunch' or 'christmas do' justify that it is probably expense related\nConsider context clues that indicate billing/financial processing requirements\nEvaluate whether the email requires extraction of financial data\n\n\nDecision Making:\n\nReturn 'true' if the email contains invoice or billing content requiring processing\nReturn 'false' if the email does not contain relevant financial/invoice information\nWhen in doubt about borderline cases, err on the side of including (return 'true')\n\n\n\nConclusions\n\nOutput Format: Single string value - either 'true' or 'false'\nProcessing Speed: Quick analysis suitable for high-volume email filtering\nAccuracy Focus: Minimize false negatives (missed invoices) while maintaining reasonable precision\n\nSolutions\n\nIf email content is corrupted or unreadable, return 'false'\nIf email is in a foreign language but contains recognizable invoice elements (numbers, currency symbols, dates), return 'true'\nIf email mentions invoice-related topics but lacks concrete financial data, return 'false'\nIf technical processing errors occur, default to 'false' to prevent system overload\nFor emails with mixed content where only portions relate to invoicing, focus on the primary purpose and content volume"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -1408,
        608
      ],
      "id": "1462e809-4a6d-4f9c-a391-cddf920edfe7",
      "name": "AssessEmail1",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=email_subject: {{ $('GetSingleEmail').item.json.subject }}\nemail_body: \n{{ $('GetSingleEmail').item.json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Given the following invoice in the <invoice> xml tags, extract the following information as listed below.\nIf you cannot find the information for a specific item, then leave blank and skip to the next. e.g. if the email has no text inside, don't make up the details!\n\n**MOST IMPORTANT THING**\nIf the email body or subject does NOT contain this information, leave it blank. DO NOT MAKE UP INFORMATION.\n\n* Description - short (1-2 line) description of the invoice 'e.g. Monthly database usage for Supabase' - REQUIRED\n* Type - [OPTIONS: Monthly Recurring, Annual Recurring, Single Payment] - REQUIRED\n* Invoice date (date invoice received) - REQUIRED\n* Payment date (date that payment will come out - this is not always the same as the invoice sent date) - REQUIRED\n* Invoice number - REQUIRED\n* Purchase order number\n* Supplier name (make generic if you can't work it out e.g. Restaurant)\n* Supplier VAT identification number\n* Line items, including a description of the goods or services rendered\n* Price with and without VAT (without currency)\n* Total price (without currency) - REQUIRED\n* Currency (USD, Israeli New Shekel, Euro, GBP) - REQUIRED\n* Additional information you deem important that isn't included above \nAdditional important information such as:\n- Payment terms (Net 30, immediate payment, etc.)\n- Payment methods accepted\n- Bank account details if provided\n- Discount terms or early payment incentives\n- Late payment penalties or interest rates\n- Tax exemption references\n- Contract or framework agreement references\n- Delivery terms\n- Special instructions\n- Contact information for billing inquiries\n- Return/refund policies\n- Warranty information if applicable\n- Certificate of origin if present\n- Insurance requirements\n- Customs information for international shipments"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -880,
        560
      ],
      "id": "4e43bb33-dcd4-45a7-bffb-7f52d36d5647",
      "name": "ExtractTextInfo1",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=invoice_markdown:\n{{ $json.text?.pages[0].markdown || JSON.stringify($('Attachment').item.json.output,null,2) }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Role\nYou are an Invoice Amount Extraction Agent specialized in identifying and extracting the total amount due from invoice markdown content. Your purpose is to locate the exact local amount due and return it as a clean numeric value.\nConstraints\n\nMust return only the numeric amount with no currency symbols or formatting\nExtract specifically the \"Amount due\" or equivalent total from the invoice\nUse local currency amount (the primary currency shown on the invoice)\nDo not guess or estimate - only extract clearly stated amounts\nHandle various invoice formats and layouts\nReturn only the number with decimal places (e.g., 2028.80)\n\nInputs\n\ninvoice_markdown: The markdown-formatted text content of an invoice (string, required)\n\nInstructions\n\nLocate Amount Due Section:\n\nSearch for \"Amount due\", \"Total due\", \"Total\", or similar final amount indicators\nLook in table structures, summary sections, or highlighted areas\nIdentify the final payable amount (not subtotals or line items)\n\n\nExtract Numeric Value:\n\nRemove all currency symbols (US$, $, €, £, etc.)\nRemove all formatting characters (commas, spaces)\nPreserve decimal points and decimal places\nExtract only the numerical value\n\n\nValidation:\n\nEnsure the extracted amount matches the context of \"amount due\"\nVerify it's the total/final amount, not a line item or subtotal\nConfirm the value is in the local currency of the invoice\n\n\nOutput Formatting:\n\nReturn as plain number with decimal places\nNo currency symbols, commas, or other formatting\nExample format: 2028.80\n\n\n\nConclusions\n\nOutput Format: Plain numeric value with decimals (e.g., 2028.80)\nPrecision: Extract exact amount with no rounding or estimation\nReliability: Only return values that are clearly identifiable as the total amount due\n\nSolutions\n\nIf multiple \"Total\" amounts exist, prioritize \"Amount due\" over other totals\nIf no clear amount due is found, return empty/null rather than guessing\nIf currency conversion is shown, use the local/primary currency amount\nIf the markdown is malformed but amount is readable, extract the clear numeric value\nIf technical parsing errors occur, return null rather than incorrect data"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -112,
        1168
      ],
      "id": "fdf21e04-254d-4d81-a62e-dfd3302ec8d8",
      "name": "AmountDue1",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=transaction_data: \n{{ JSON.stringify($json, null, 2) }}\ninvoice_markdown: \n{{ $('GDrive_Trigger').isExecuted ? $('Extract from JSON').item.json.text?.pages[0].markdown : JSON.stringify($('Attachment').item.json.output,null,2) }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Role\nYou are a Transaction Matching Agent specialized in comparing invoice data with existing transaction records to determine if they represent the same financial transaction. Your purpose is to accurately identify matches between invoices and bank/payment transactions.\nConstraints\n\nMust return only 'true' or 'false' as output\nCompare invoice details with transaction record data\nFocus on key matching criteria: amount, date proximity, and contextual information\nHandle currency differences and date format variations\nMaintain high accuracy to prevent incorrect matches\nDo not guess - require reasonable confidence for positive matches\n\nInputs\n\ntransaction_data: Array containing transaction record with fields like Amount, Local amount, Date, Description, Currency, etc. (array, required)\ninvoice_markdown: The markdown-formatted text content of an invoice (string, required)\n\nInstructions\n\nExtract Invoice Key Data:\n\nParse invoice amount due and currency\nExtract invoice date (issue date or due date)\nIdentify supplier/vendor name or service description\nNote any reference numbers or transaction identifiers\n\n\nCompare Financial Amounts:\n\nMatch invoice amount with transaction \"Amount\" or \"Local amount\" fields\nAccount for currency differences (invoice currency vs transaction currency)\nAllow for minor rounding differences due to exchange rates\nConsider both positive invoice amounts and negative transaction amounts\n\n\nEvaluate Date Proximity (IMPORTANT):\n- Make sure to be certain that dates are similar (transactions often get charged monthly for the same amount so I want to make sure you're allocating the invoice to the correct transaction)\n- Double check the invoice date to check it's in close proximity to the transaction (e.g. invoice is for 1-30th June 2025, transaction is processed on 1st July 2025 -> likely to be a match, invoice is for 1-30th June 2025, transaction is processed on 1st June 2025 -> unlikely to be a match)\n- Compare invoice date with transaction date\n- Allow reasonable time window (typically within days)\n- Account for different date formats\n\n\nAssess Contextual Match:\n\nCompare supplier names with transaction \"Name\" or \"Description\" fields\nLook for matching service descriptions or reference numbers\nEvaluate transaction type relevance (e.g., \"international-payments\")\nConsider any notes or additional identifiers\n\n\nMake Match Determination:\n\nReturn 'true' only if multiple criteria align with reasonable confidence\nReturn 'false' if key details don't match or are inconsistent\nPrioritize amount and date accuracy over descriptive matches\n\n<Example of recurring payment>\nTransaction data (example):\n{\n  \"row_number\": 467,\n  \"Year\": 2025,\n  \"Month name\": \"May\",\n  \"Transaction ID\": \"tx_0000AvgnxwbY8ViKClZeXF\",\n  \"Date\": \"01/05/2025\",\n  \"Time\": \"12:30:17\",\n  \"Type\": \"Card payment\",\n  \"Name\": \"Google Workspace\",\n  \"Emoji\": \"📅\",\n  \"Category\": \"Services\",\n  \"Amount\": -11.8,\n  \"Currency\": \"GBP\",\n  \"Local amount\": -11.8,\n  \"Local currency\": \"GBP\",\n  \"Notes and #tags\": \"\",\n  \"Address\": \"\",\n  \"Receipt\": \"\",\n  \"Description\": \"Google GSUITE_scrapes. Dublin        IRL\",\n  \"Category split\": \"\",\n}\n\nInvoice markdown example:\n# Google\n\nInvoice number: 5295322548\n\n**Google Cloud EMEA Limited**\n\nVelasco Clanwilliam Place Dublin 2 Ireland VAT number: IE3668997OH\n\nBill to Simon Coton scrapes.ai 50 Hampton Park First Floor Flat BRISTOL BS6 6LJ United Kingdom\n\n|  Details | Google Workspace  |\n| --- | --- |\n|  Invoice number | 5295322548  |\n|  Invoice date | 30 Jun 2025  |\n|  Billing ID | 4844-1438-8906  |\n|  Domain name | scrapes.ai  |\n\n|  Total in GBP | £11.80  |\n| --- | --- |\n|  |   |\n\nSummary for 1 Jun 2025 - 30 Jun 2025\n\n|  Subtotal in GBP | £11.80  |\n| --- | --- |\n|  VAT (0%) | £0.00  |\n|  Total in GBP | £11.80  |\n\nYou will be automatically charged for any amount due.\n\nDecision example: \n1. Found a match in terms of potential cost\n2. Found a match in terms of the same supplier \n3. However, the 'date' in the transaction (01/05/2025) clearly does not align with the Invoice Markdown (July 2025) \n4. Return false\n\n\nConclusions\n\nOutput Format: Single string value - either 'true' or 'false'\nMatch Confidence: Require reasonable alignment of amount, timing, and context\nError Prevention: Favor false negatives over false positives to prevent incorrect matches\n\nSolutions\n\nIf transaction array is empty, return 'false'\nIf invoice data is incomplete or unclear, return 'false'\nIf amounts are close but not exact, consider exchange rate fluctuations and return 'true' if within reasonable variance\nIf dates are formatted differently, parse and compare the underlying dates\nIf technical parsing errors occur, return 'false' to prevent incorrect matches\nFor ambiguous cases where confidence is low, return 'false'"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1264,
        1168
      ],
      "id": "95c9c310-d831-4243-b8d2-a547895fa6ec",
      "name": "MatchTransaction1",
      "disabled": true
    }
  ],
  "connections": {
    "Openrouter": {
      "ai_languageModel": [
        [
          {
            "node": "ExtractTextInfo",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AssessEmail",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "FormatText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "ExtractTextInfo",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Attachment": {
      "main": [
        [
          {
            "node": "GetBinaryDataALL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AmountDue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetAttachments": {
      "main": [
        [
          {
            "node": "IfExists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfExists": {
      "main": [
        [],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "SaveAttachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetBinaryDataALL": {
      "main": [
        [
          {
            "node": "GetAttachments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ReceiveEmail_Trigger": {
      "main": [
        [
          {
            "node": "GetSingleEmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExtractTextInfo": {
      "main": [
        [
          {
            "node": "Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AssessEmail",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AssessEmail": {
      "main": [
        [
          {
            "node": "Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process?": {
      "main": [
        [
          {
            "node": "ExtractTextInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetSingleEmail": {
      "main": [
        [
          {
            "node": "AssessEmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "AppendandUpdateRows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDrive_Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "IfImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Signed Url": {
      "main": [
        [
          {
            "node": "Mistral OCR - Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral - Upload File": {
      "main": [
        [
          {
            "node": "Get Signed Url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral OCR - Document": {
      "main": [
        [
          {
            "node": "Extract from JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from JSON": {
      "main": [
        [
          {
            "node": "AmountDue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Openrouter1": {
      "ai_languageModel": [
        [
          {
            "node": "AmountDue",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AmountDue",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AmountDue": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Openrouter2": {
      "ai_languageModel": [
        [
          {
            "node": "MatchTransaction",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "MatchTransaction",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "NewestFirst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MatchTransaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MatchTransaction": {
      "main": [
        [
          {
            "node": "isMatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isMatch": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NewestFirst": {
      "main": [
        [
          {
            "node": "Limit15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral - Upload File1": {
      "main": [
        [
          {
            "node": "Get Signed Url1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Signed Url1": {
      "main": [
        [
          {
            "node": "Mistral OCR - Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfImage": {
      "main": [
        [
          {
            "node": "Mistral - Upload File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mistral - Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral OCR - Image": {
      "main": [
        [
          {
            "node": "Extract from JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit15": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:ReceiveEmail_Trigger": {
      "ReceiveEmail_Trigger": {
        "lastTimeChecked": 1754884240,
        "possibleDuplicates": [
          "1989740782de1c2b"
        ]
      }
    },
    "node:GDrive_Trigger": {
      "lastTimeChecked": "2025-08-11T03:51:48Z"
    }
  },
  "meta": null,
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 1,
  "shared": [
    {
      "updatedAt": "2025-09-04T03:29:29.697Z",
      "createdAt": "2025-09-04T03:29:29.697Z",
      "role": "workflow:owner",
      "workflowId": "3YLv6K1pBX9QMPPd",
      "projectId": "0liZARjPSF29Xm7S",
      "project": {
        "updatedAt": "2025-05-09T03:15:11.991Z",
        "createdAt": "2025-05-09T03:15:09.651Z",
        "id": "0liZARjPSF29Xm7S",
        "name": "ChengHsien Yang <chenghyang2001@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "67155d98-04ab-4531-a011-993eff9c535f"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}