workflows/simon-ocr-llm-aaa.json
{
  "id": "0648Y2XeSiBDruBy",
  "name": "simon-ocr-llm-aaa",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## [Mistral OCR](https://mistral.ai/news/mistral-ocr)\n\n## api key : https://console.mistral.ai/api-keys\n\n\n\n• Type: AI-powered OCR service\n• Features: Parses multi-page PDFs and images, performs document page splitting, markdown conversion\n• Integration: Accessible via API, can be used with n8n HTTP Request node\n• Notes: Free tier or trial available for testing; focused on document parsing workflows\n",
        "height": 368,
        "width": 1512
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        2048
      ],
      "id": "0e052789-37b6-4a7e-8293-38397150c692",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        2512
      ],
      "id": "2e0be47f-f070-4e36-ac99-9d43e39f9b21",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/10t0F9Ol7hxfm92CNmffAkzNX8oIdqEHM/view?usp=drive_link",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -416,
        2000
      ],
      "id": "98dda051-2cf2-4c9a-8b01-e995fa76e899",
      "name": "OCR_Captcha",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      }
    },
    {
      "parameters": {
        "content": "## Download image file\n",
        "height": 280,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -608,
        1920
      ],
      "id": "98d726af-42d6-4a38-89d8-0cd3e670d646",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/13u05ngOU-S2Y2FF6snp67LJedSETuwit/view?usp=drive_link",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -416,
        2688
      ],
      "id": "96757693-5eef-4988-8081-59fab09ba42f",
      "name": "OCR_Research_Paper",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        2000
      ],
      "id": "a4db0c6c-9e3d-4d77-af15-f4de7ef55cd7",
      "name": "Mistral - Upload File",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Mistral-AI-OCR"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        2016
      ],
      "id": "108db90d-beb7-453f-84bd-64fd54eb24ac",
      "name": "Get Signed Url",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Mistral-AI-OCR"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"image_url\",\n    \"image_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true,\n  \"bbox_annotation_format\": {\n    \"type\": \"json_schema\",\n    \"json_schema\": {\n      \"schema\": {\n        \"type\": \"object\",\n        \"title\": \"BBOXAnnotation\",\n        \"properties\": {\n          \"document_type\": {\n            \"title\": \"Document_Type\",\n            \"description\": \"The type of the image.\",\n            \"type\": \"string\"\n          },\n          \"short_description\": {\n            \"title\": \"Short_Description\",\n            \"description\": \"A description in English describing the image.\",\n            \"type\": \"string\"\n          },\n          \"summary\": {\n            \"title\": \"Summary\",\n            \"description\": \"Summarize the image.\",\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\"document_type\", \"short_description\", \"summary\"],\n        \"additionalProperties\": false\n      },\n      \"name\": \"bbox_annotation\",\n      \"strict\": true\n    }\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "ocr_output.json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        2032
      ],
      "id": "477f45f4-a817-4e91-8281-2a21e301d3d9",
      "name": "Mistral OCR - Image",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Mistral-AI-OCR"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n} ",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "ocr_output.json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        3456
      ],
      "id": "c13b5ff4-51c7-4c92-933d-4cbfdaacb44a",
      "name": "Mistral OCR - Document",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Mistral-AI-OCR"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        3456
      ],
      "id": "282e1cdb-8a3b-44ee-bb43-f23ba4225e4c",
      "name": "Mistral - Upload File1",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Mistral-AI-OCR"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        3456
      ],
      "id": "e40c067c-ab0c-4ca7-b614-8c2889ced9ee",
      "name": "Get Signed Url1",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Mistral-AI-OCR"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Claude 3 Opus",
        "height": 420,
        "width": 760
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        2896
      ],
      "id": "4289a693-6909-4552-8496-052d3066e309",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## GPT 4o",
        "height": 308,
        "width": 760
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        2496
      ],
      "id": "186544e8-cfb3-4377-a1d0-3d1959cb0111",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "=Extract all text from this image and infer any information from this chart.\n如果圖片內容是中文繁體,請用中文繁體辯視並且用中文繁體輸出.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        128,
        2640
      ],
      "id": "834be64a-5d40-4c4d-82ec-6eca5cc13d5b",
      "name": "ExtractImageData",
      "credentials": {
        "openAiApi": {
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "anthropic-beta",
              "value": "files-api-2025-04-14"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        3056
      ],
      "id": "794857dd-05aa-46df-b656-d53fe56f4f02",
      "name": "UploadImage",
      "retryOnFail": true,
      "credentials": {
        "anthropicApi": {
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "anthropic-beta",
              "value": "files-api-2025-04-14"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-opus-20240229\",\n  \"max_tokens\": 2048,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image\",\n          \"source\": {\n            \"type\": \"file\",\n            \"file_id\": \"{{ $json.id }}\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Extract all text from this image and infer information from the chart.\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        2944
      ],
      "id": "6ec01d73-f0b8-41d9-943b-a467f04660a5",
      "name": "RequestDataExtraction",
      "retryOnFail": true,
      "credentials": {
        "anthropicApi": {
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "anthropic-beta",
              "value": "files-api-2025-04-14"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-5-sonnet-20241022\",\n  \"max_tokens\": 2048,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"document\",\n          \"source\": {\n            \"type\": \"file\",\n            \"file_id\": \"{{ $json.id }}\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Extract all text from this image and infer information from the chart.\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        3136
      ],
      "id": "c5f0502d-ab91-4531-8c66-502d6faa3dbf",
      "name": "RequestDocumentExtraction",
      "retryOnFail": true,
      "credentials": {
        "anthropicApi": {
          "name": "Anthropic account"
        },
        "httpHeaderAuth": {
          "name": "Anthropic Header Auth 20250704"
        }
      }
    },
    {
      "parameters": {
        "content": "# anthropic : \n## Credit : https://console.anthropic.com/settings/billing\n## api key : https://console.anthropic.com/settings/keys\n## api key : https://console.mistral.ai/api-keys\n",
        "height": 336,
        "width": 1140
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        2896
      ],
      "id": "37394ae1-7f62-4ef3-8f98-b2c8bcd6ea7b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Download pdf file\n",
        "height": 280,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -592,
        2624
      ],
      "id": "c39a24dd-7a63-4e7e-b97a-e2c22d4c03fd",
      "name": "Sticky Note8"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "OCR_Captcha",
            "type": "main",
            "index": 0
          },
          {
            "node": "OCR_Research_Paper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral - Upload File": {
      "main": [
        [
          {
            "node": "Get Signed Url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Signed Url": {
      "main": [
        [
          {
            "node": "Mistral OCR - Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR_Research_Paper": {
      "main": [
        [
          {
            "node": "Mistral - Upload File1",
            "type": "main",
            "index": 0
          },
          {
            "node": "UploadImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral - Upload File1": {
      "main": [
        [
          {
            "node": "Get Signed Url1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Signed Url1": {
      "main": [
        [
          {
            "node": "Mistral OCR - Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UploadImage": {
      "main": [
        [
          {
            "node": "RequestDataExtraction",
            "type": "main",
            "index": 0
          },
          {
            "node": "RequestDocumentExtraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR_Captcha": {
      "main": [
        [
          {
            "node": "Mistral - Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 1,
  "shared": [
    {
      "updatedAt": "2025-07-04T00:38:45.583Z",
      "createdAt": "2025-07-04T00:38:45.583Z",
      "role": "workflow:owner",
      "workflowId": "0648Y2XeSiBDruBy",
      "projectId": "0liZARjPSF29Xm7S",
      "project": {
        "updatedAt": "2025-05-09T03:15:11.991Z",
        "createdAt": "2025-05-09T03:15:09.651Z",
        "id": "0liZARjPSF29Xm7S",
        "name": "ChengHsien Yang <chenghyang2001@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "67155d98-04ab-4531-a011-993eff9c535f"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}