workflows/subflow-line-v1.json
{
  "id": "5TgCpCi2jAUFV0lQ",
  "name": "subFlow-line-v1",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer  loGRufQo05yExhEUN4KACsX/BfEgh8ae0pHO2FJj3xyHUk4BuCBoPhzuVW3hNV8aHHtjgUY4D37roXhmTd9VEu+mC3hxzqjnmIGzrEg5mZl66uq2uNND0pwwQEs8sAI8dkcWD26YjijDYSppwJzWkwdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"U8ca91ed1c30228e776d83179a1893fb0\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{ $now.format('yyyy/M/d') + ' at ' + $now.format('HH:mm:ss a') }}   {{ $json.content.replace(/\\n/g, '\\\\n') }} \" \n    }\n\n\n  ]\n}\n\n\n",
        "options": {}
      },
      "id": "49d5d09b-5b17-47ef-a12b-4342ba55209e",
      "name": "Line : 推送訊息 Line使用者n8n-peter",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        416,
        672
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "content"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -64,
        672
      ],
      "id": "36008101-fb63-4c4d-9e47-9c833370c481",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "deee3538-b23d-4ebc-94be-ae6f7934f7b2",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        672
      ],
      "id": "e839b203-05b9-4753-87cd-fe6e37b2e53a",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Line : 推送訊息 Line使用者n8n-peter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:RSS Feed Trigger": {
      "lastItemDate": "2025-05-16T17:20:35.000Z"
    }
  },
  "meta": null,
  "pinData": {},
  "activeVersionId": "6679ff6c-d252-43f5-bffa-4b4741bac130",
  "versionCounter": 15,
  "shared": [
    {
      "updatedAt": "2025-07-01T01:05:24.080Z",
      "createdAt": "2025-07-01T01:05:24.080Z",
      "role": "workflow:owner",
      "workflowId": "5TgCpCi2jAUFV0lQ",
      "projectId": "0liZARjPSF29Xm7S",
      "project": {
        "updatedAt": "2025-05-09T03:15:11.991Z",
        "createdAt": "2025-05-09T03:15:09.651Z",
        "id": "0liZARjPSF29Xm7S",
        "name": "ChengHsien Yang <chenghyang2001@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "67155d98-04ab-4531-a011-993eff9c535f"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-01T02:35:59.378Z",
      "createdAt": "2025-07-01T02:35:59.378Z",
      "id": "HiiXf23hUcSshbxD",
      "name": "subflow"
    },
    {
      "updatedAt": "2025-07-01T08:14:11.963Z",
      "createdAt": "2025-07-01T08:14:11.963Z",
      "id": "QFvFTqOLs1VLlBts",
      "name": "line"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-11-27T01:00:44.252Z",
    "createdAt": "2025-11-27T01:00:44.252Z",
    "versionId": "6679ff6c-d252-43f5-bffa-4b4741bac130",
    "workflowId": "5TgCpCi2jAUFV0lQ",
    "nodes": [
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.line.me/v2/bot/message/push",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Bearer  loGRufQo05yExhEUN4KACsX/BfEgh8ae0pHO2FJj3xyHUk4BuCBoPhzuVW3hNV8aHHtjgUY4D37roXhmTd9VEu+mC3hxzqjnmIGzrEg5mZl66uq2uNND0pwwQEs8sAI8dkcWD26YjijDYSppwJzWkwdB04t89/1O/w1cDnyilFU="
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"to\": \"U8ca91ed1c30228e776d83179a1893fb0\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{ $now.format('yyyy/M/d') + ' at ' + $now.format('HH:mm:ss a') }}   {{ $json.content.replace(/\\n/g, '\\\\n') }} \" \n    }\n\n\n  ]\n}\n\n\n",
          "options": {}
        },
        "id": "49d5d09b-5b17-47ef-a12b-4342ba55209e",
        "name": "Line : 推送訊息 Line使用者n8n-peter",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          416,
          672
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "content"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -64,
          672
        ],
        "id": "36008101-fb63-4c4d-9e47-9c833370c481",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "deee3538-b23d-4ebc-94be-ae6f7934f7b2",
                "name": "content",
                "value": "={{ $json.content }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          160,
          672
        ],
        "id": "e839b203-05b9-4753-87cd-fe6e37b2e53a",
        "name": "Edit Fields"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Line : 推送訊息 Line使用者n8n-peter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2025-08-13T08:59:52.000Z",
        "id": 58,
        "workflowId": "5TgCpCi2jAUFV0lQ",
        "versionId": "6679ff6c-d252-43f5-bffa-4b4741bac130",
        "event": "activated",
        "userId": null
      }
    ]
  }
}