workflows/摘要-研能週報文件摘要-part1-20260119-ok.json
{
  "id": "1OPvnvqxcVJwxqbo",
  "name": "摘要-研能週報文件摘要-part1-20260119-ok",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('SetFileId').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1232,
        1312
      ],
      "id": "07530984-42f2-48ec-bb14-23ed5aa6d507",
      "name": "Download PPT File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pdf-url",
              "name": "pdf_url",
              "value": "={{ $json.Files[0].Url }}",
              "type": "string"
            },
            {
              "id": "pdf-name",
              "name": "pdf_name",
              "value": "={{ $('SetFileId').item.json.name.replace('.pptx', '.pdf').replace('.ppt', '.pdf') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        1312
      ],
      "id": "37e8048a-a35d-4806-b57b-98c9d352abf4",
      "name": "Extract PDF URL"
    },
    {
      "parameters": {
        "url": "={{ $('Extract PDF URL').item.json.pdf_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -544,
        1312
      ],
      "id": "1661ad1b-b5eb-4eb1-8635-a45970c0ba0d",
      "name": "Download PDF"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2016,
        1296
      ],
      "id": "fbc1fdb8-be2c-4d13-961d-3eb300f399d0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0501328-5e74-435f-afc3-a5796612c52d",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "6989f772-441d-4284-84a1-dbb37dd1541d",
              "name": "createdTime",
              "value": "={{ $json.createdTime }}",
              "type": "string"
            },
            {
              "id": "150cfee5-e9a7-40af-ba0f-114bd1485681",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1616,
        1312
      ],
      "id": "74d12665-5caa-44b5-8820-1ae2ce536409",
      "name": "SetFileId"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://v2.convertapi.com/convert/pptx/to/pdf",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "convertApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "StoreFile",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "File",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        1312
      ],
      "id": "5ff71ac8-bb14-42f4-80a6-b7a08a68a594",
      "name": "ConvertAPI HTTP Request1",
      "credentials": {
        "convertApi": {
          "name": "ConvertAPI 20250801"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n} ",
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        1312
      ],
      "id": "0d6fa661-2a9d-45db-92ed-36fe4cc7118d",
      "name": "Mistral OCR - Document",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Mistral-AI-OCR"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        1312
      ],
      "id": "fe1e2e6e-112d-44c5-9d8b-f2ef4bf94c57",
      "name": "Mistral - Upload File1",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Mistral-AI-OCR"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        1312
      ],
      "id": "1bcb6601-f95d-4d51-b3bb-fdcc62200fe9",
      "name": "Get Signed Url1",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Mistral-AI-OCR"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 獲取 Mistral OCR 節點的輸出\nconst ocrOutput = $input.all()[0].json;\n\n// 檢查是否有 pages 陣列\nif (!ocrOutput.pages || !Array.isArray(ocrOutput.pages)) {\n  throw new Error('找不到 pages 陣列在 OCR 輸出中');\n}\n\n// 提取所有頁面的 markdown 內容\nconst markdownContents = [];\n\n// 遍歷所有頁面\nfor (let i = 0; i < ocrOutput.pages.length; i++) {\n  const page = ocrOutput.pages[i];\n  \n  // 檢查該頁面是否有 markdown 內容\n  if (page && page.markdown) {\n    // 添加頁面分隔標記（可選）\n    markdownContents.push(`<!-- 第 ${i + 1} 頁 -->`);\n    markdownContents.push(page.markdown);\n    markdownContents.push(''); // 添加空行作為頁面之間的分隔\n  }\n}\n\n// 合併所有 markdown 內容\nconst combinedMarkdown = markdownContents.join('\\n');\n\n// 返回合併後的結果\nreturn {\n  json: {\n    combinedMarkdown: combinedMarkdown,\n    totalPages: ocrOutput.pages_processed || ocrOutput.pages.length,\n    documentSize: ocrOutput.doc_size_bytes || null,\n    model: ocrOutput.model || 'mistral-ocr-2505-completion',\n    annotation: ocrOutput.document_annotation || null,\n    usage: ocrOutput.usage_info || null\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        1312
      ],
      "id": "d0d30281-f298-4029-9c49-ff4453ea73e9",
      "name": "Code1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"data\":{{ $json.combinedMarkdown.toJsonString() }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        1312
      ],
      "id": "11ae95d4-9833-46f0-a6bc-e558cb03ced2",
      "name": "DocumentData1"
    },
    {
      "parameters": {
        "content": "## 1. convertapi : https://www.convertapi.com/a/billing/plans\n## 2. mistral : https://admin.mistral.ai/organization/billing\n\n## 3. (Google Folder) n8n-研能週報文件摘要 : \n## https://drive.google.com/drive/folders/1KAb-tvBPq0FnZeKbOga9EkO2i_rwyqH8\n\n## update : 2026/01/19",
        "height": 320,
        "width": 960,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2800,
        800
      ],
      "id": "0c777e34-71f8-499f-a0f6-039f94f6a32f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Nh8EtGRaJdooDk9",
          "mode": "list",
          "cachedResultName": "subFlow-line-n8n-peter-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "研能周報文件摘要 DONE"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1616,
        1040
      ],
      "id": "8887b95f-def3-4766-b61a-2d7a7039747e",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "content": "# Mistral : ocr do type \"file-pdf\" , not type \"file-image\"",
        "height": 352,
        "width": 880,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -336,
        1200
      ],
      "id": "1ef89951-d99b-4c4c-9d5a-1f455b687cdf",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# convertApi : pptx -> pdf",
        "height": 352,
        "width": 592,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -976,
        1200
      ],
      "id": "4ff390d5-fa24-4670-b9a0-f65ee6796962",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# 把 ppt 放到 n8n cloud 上以便做處理",
        "height": 352,
        "width": 624,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1696,
        1200
      ],
      "id": "c53b8f59-6ad0-4aaa-85a9-0af30886b664",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 存到 Google Doc\n## https://drive.google.com/drive/folders/1Htmb8aNFOdS-LpuAA4cQg5fZcXeAPsmX ",
        "height": 128,
        "width": 1008,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1104,
        1120
      ],
      "id": "5b7ee0cc-8497-4c66-885f-cce0e3f5c758",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# 從 Google Drive 到 n8n cloud 到 convertApi 處理轉成 pdf 到 Mistral OCR Pdf 轉文字",
        "height": 80,
        "width": 1440,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1696,
        1696
      ],
      "id": "b53bd844-8441-40ac-bf1f-834d9880f8c2",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('DocumentData1').item.json.data }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1024,
        1312
      ],
      "id": "6eb40fe4-c5fc-405d-91e7-f6203b472e29",
      "name": "Insert Content1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "folderId": "=1Htmb8aNFOdS-LpuAA4cQg5fZcXeAPsmX",
        "title": "={{ 'mistral-ocr-' + $('Download PPT File').item.json.name.replace(/\\.pptx$/i, '.doc') }}\n"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        800,
        1312
      ],
      "id": "9cb0add5-5713-4ad3-8531-eaf96cef479d",
      "name": "Create mistral ocr Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer  loGRufQo05yExhEUN4KACsX/BfEgh8ae0pHO2FJj3xyHUk4BuCBoPhzuVW3hNV8aHHtjgUY4D37roXhmTd9VEu+mC3hxzqjnmIGzrEg5mZl66uq2uNND0pwwQEs8sAI8dkcWD26YjijDYSppwJzWkwdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"U8ca91ed1c30228e776d83179a1893fb0\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \" https://docs.google.com/document/d/{{ $json.documentId }}/edit?tab=t.0  \"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "f5ae8ff1-1c2b-43ad-b3d9-10a7d472f179",
      "name": "Line : 推送訊息 Line使用者n8n-peter5",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1264,
        1312
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1KAb-tvBPq0FnZeKbOga9EkO2i_rwyqH8",
          "mode": "url"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2240,
        1424
      ],
      "id": "5813ffa9-6eb0-46fb-83d6-fa31e5d1bd6d",
      "name": "File Update",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1KAb-tvBPq0FnZeKbOga9EkO2i_rwyqH8",
          "mode": "url"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2816,
        1184
      ],
      "id": "dfa32e2e-0ebf-4bf5-94cf-9071f2e65707",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1KAb-tvBPq0FnZeKbOga9EkO2i_rwyqH8",
          "mode": "url"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2240,
        1216
      ],
      "id": "0f36ae81-60e7-4485-bcd5-04b39556dc53",
      "name": "File created",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Download PPT File').item.json.file_id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/folders/1hA6gBMcpAXwSm1dK6cOUVuUXJJ0PHEv6",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1792,
        1424
      ],
      "id": "2694336d-c3f0-45d1-818b-c7f2cbbf91a0",
      "name": "Move ppt file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create mistral ocr Doc').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/folders/1hA6gBMcpAXwSm1dK6cOUVuUXJJ0PHEv6",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1488,
        1312
      ],
      "id": "0fa5ed6a-af2c-468c-be79-b0741ab7e53d",
      "name": "Move doc file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 20250704"
        }
      }
    }
  ],
  "connections": {
    "Download PPT File": {
      "main": [
        [
          {
            "node": "ConvertAPI HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF URL": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Mistral - Upload File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SetFileId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetFileId": {
      "main": [
        [
          {
            "node": "Download PPT File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertAPI HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract PDF URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral OCR - Document": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral - Upload File1": {
      "main": [
        [
          {
            "node": "Get Signed Url1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Signed Url1": {
      "main": [
        [
          {
            "node": "Mistral OCR - Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "DocumentData1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocumentData1": {
      "main": [
        [
          {
            "node": "Create mistral ocr Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create mistral ocr Doc": {
      "main": [
        [
          {
            "node": "Insert Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Content1": {
      "main": [
        [
          {
            "node": "Line : 推送訊息 Line使用者n8n-peter5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line : 推送訊息 Line使用者n8n-peter5": {
      "main": [
        [
          {
            "node": "Move doc file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Update": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File created": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move ppt file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move doc file": {
      "main": [
        [
          {
            "node": "Move ppt file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "L9RQFagA7DehEy9F",
    "availableInMCP": false
  },
  "staticData": {
    "node:Google Drive Trigger3": {
      "lastTimeChecked": "2025-08-04T01:39:52Z"
    },
    "node:Google Drive Trigger4": {
      "lastTimeChecked": "2025-08-04T01:39:53Z"
    },
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-09-08T01:22:47Z"
    },
    "node:Google Drive Trigger5": {
      "lastTimeChecked": "2025-09-08T01:22:47Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 51,
  "shared": [
    {
      "updatedAt": "2026-01-19T01:01:16.486Z",
      "createdAt": "2026-01-19T01:01:16.486Z",
      "role": "workflow:owner",
      "workflowId": "1OPvnvqxcVJwxqbo",
      "projectId": "0liZARjPSF29Xm7S",
      "project": {
        "updatedAt": "2025-05-09T03:15:11.991Z",
        "createdAt": "2025-05-09T03:15:09.651Z",
        "id": "0liZARjPSF29Xm7S",
        "name": "ChengHsien Yang <chenghyang2001@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "67155d98-04ab-4531-a011-993eff9c535f"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-09-08T02:17:22.079Z",
      "createdAt": "2025-09-08T02:17:22.079Z",
      "id": "1BqMKb0yiXZpLrIt",
      "name": "open-router"
    },
    {
      "updatedAt": "2025-07-01T07:12:46.672Z",
      "createdAt": "2025-07-01T07:12:46.672Z",
      "id": "Ao5a87WVlUcW26wm",
      "name": "notion"
    },
    {
      "updatedAt": "2025-08-15T02:55:51.292Z",
      "createdAt": "2025-08-15T02:55:51.292Z",
      "id": "DXXj4i5Qf2hT4g1M",
      "name": "文件摘要"
    },
    {
      "updatedAt": "2025-09-08T02:17:28.576Z",
      "createdAt": "2025-09-08T02:17:28.576Z",
      "id": "QApfBs3JJEjWqcnw",
      "name": "openrouter"
    },
    {
      "updatedAt": "2025-07-01T05:30:35.023Z",
      "createdAt": "2025-07-01T05:30:35.023Z",
      "id": "QD8iWXuhwLgT6gjM",
      "name": "ocr"
    },
    {
      "updatedAt": "2025-09-08T02:16:46.800Z",
      "createdAt": "2025-09-08T02:16:46.800Z",
      "id": "SsMfZo3dvzNQK5Av",
      "name": "convertApi"
    },
    {
      "updatedAt": "2025-07-03T03:10:58.688Z",
      "createdAt": "2025-07-01T08:27:29.706Z",
      "id": "bDs9H31IGhBDQ48K",
      "name": "gdoc"
    },
    {
      "updatedAt": "2025-08-08T05:58:45.041Z",
      "createdAt": "2025-08-08T05:58:45.041Z",
      "id": "ciOYNzebXw2ukKg5",
      "name": "mistral"
    },
    {
      "updatedAt": "2025-08-15T02:56:09.224Z",
      "createdAt": "2025-08-15T02:56:09.224Z",
      "id": "rgOAx3aAot7MxRhr",
      "name": "convert-api"
    }
  ],
  "activeVersion": null
}