workflows/檔案列表-開發用.json
{
  "id": "10ed0aMDcef3DeLb",
  "name": "檔案列表-開發用",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        -16
      ],
      "id": "c50bd995-62a8-4297-a0ff-4d4c882ea804",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        944,
        -384
      ],
      "id": "8f8b199c-b9aa-4e22-9f83-2d67a43c2931",
      "name": "Loop Over Items1",
      "disabled": true
    },
    {
      "parameters": {
        "maxItems": 30
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        720,
        -384
      ],
      "id": "d85b1a2e-b224-42ad-b6f2-96a399facd93",
      "name": "Limit",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "26cca842-df05-8042-ac83-f546cc513919",
          "mode": "list",
          "cachedResultName": "n8n-檔案列表-開發用",
          "cachedResultUrl": "https://www.notion.so/26cca842df058042ac83f546cc513919"
        },
        "title": "={{ $json.name }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "建立日期|date",
              "includeTime": false,
              "date": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "key": "檔案id|rich_text",
              "textContent": "={{ $('return non-active').item.json.id }}"
            },
            {
              "key": "工作流檔案-網址|url",
              "urlValue": "=https://chenghyang2001.app.n8n.cloud/workflow/{{ $('return non-active').item.json.id }}"
            },
            {
              "key": "名稱|title",
              "title": "={{ $json.name }}"
            },
            {
              "key": "檔案名稱|rich_text",
              "textContent": "={{ $json.name }}"
            },
            {
              "key": "active|rich_text",
              "textContent": "={{ $json.active.toString() }}"
            },
            {
              "key": "tag_name|rich_text",
              "textContent": "={{ $('config').item.json.tag_search }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1168,
        -336
      ],
      "id": "41d96d0c-2e6a-47bb-98e3-ea61b6d8cef7",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "name": "Notion account 20250626"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Nh8EtGRaJdooDk9",
          "mode": "list",
          "cachedResultName": "subFlow-line-n8n-peter-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "=n8n-檔案列表-開發用-DONE"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1168,
        -528
      ],
      "id": "37ab2550-5e99-4a75-a05d-799672e0c1f9",
      "name": "Execute Workflow",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        496,
        -384
      ],
      "id": "6a8bd485-3f9c-4be2-92a8-62f792a80224",
      "name": "Sort",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7210795-c4c4-4de4-b122-300d94754b00",
              "name": "檔案名稱",
              "value": "余博",
              "type": "string"
            },
            {
              "id": "1e807768-995e-468c-95fa-e12689181c4d",
              "name": "tag_search",
              "value": "郵件",
              "type": "string"
            },
            {
              "id": "648c3c6a-de42-4c75-b3c8-b7fcf18d23ff",
              "name": "filename_search",
              "value": "余博",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        -16
      ],
      "id": "47387464-5022-42dd-a6da-ce98ae3498d4",
      "name": "config"
    },
    {
      "parameters": {
        "content": "## 1. 在 config 設定條件",
        "height": 80,
        "width": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -144
      ],
      "id": "aeeabdc9-1193-48a5-8bb7-84e90d04a1a7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Notion n8n-檔案列表-開發用 : https://www.notion.so/26cca842df058042ac83f546cc513919?v=26cca842df058160b559000c79dd9674",
        "width": 1664,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1472,
        384
      ],
      "id": "1c4341b8-ac81-4bba-82d9-bc4c6faaca8e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": false,
          "tags": "={{ $json.tag_search }}"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        272,
        -384
      ],
      "id": "6851640c-c0b2-436a-bafd-2b6898dbc8f5",
      "name": "return non-active",
      "credentials": {
        "n8nApi": {
          "name": "n8n account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": true,
          "tags": "={{ $json.tag_search }}"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        240,
        400
      ],
      "id": "eab4f1ba-a544-463d-8dab-8466acd59f3f",
      "name": "return only-active",
      "credentials": {
        "n8nApi": {
          "name": "n8n account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        464,
        400
      ],
      "id": "7dbeed36-5529-4e65-bc6e-971069342060",
      "name": "Sort1",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        912,
        400
      ],
      "id": "28210756-d6d5-4fe9-93e1-5cdc89e3f4e6",
      "name": "Loop Over Items",
      "disabled": true
    },
    {
      "parameters": {
        "maxItems": 30
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        688,
        400
      ],
      "id": "d71ba5a1-b424-4311-af46-f7b7e8450005",
      "name": "Limit1",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "26cca842-df05-8042-ac83-f546cc513919",
          "mode": "list",
          "cachedResultName": "n8n-檔案列表-開發用",
          "cachedResultUrl": "https://www.notion.so/26cca842df058042ac83f546cc513919"
        },
        "title": "={{ $json.name }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "建立日期|date",
              "includeTime": false,
              "date": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "key": "檔案id|rich_text",
              "textContent": "={{ $('return only-active').item.json.id }}"
            },
            {
              "key": "工作流檔案-網址|url",
              "urlValue": "=https://chenghyang2001.app.n8n.cloud/workflow/{{ $('return only-active').item.json.id }}"
            },
            {
              "key": "名稱|title",
              "title": "={{ $json.name }}"
            },
            {
              "key": "檔案名稱|rich_text",
              "textContent": "={{ $json.name }}"
            },
            {
              "key": "active|rich_text",
              "textContent": "={{ $json.active.toString() }}"
            },
            {
              "key": "tag_name|rich_text",
              "textContent": "={{ $('config').item.json.tag_search }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1136,
        448
      ],
      "id": "8ae07410-9a28-4371-8013-65a131d44805",
      "name": "Create a database page1",
      "credentials": {
        "notionApi": {
          "name": "Notion account 20250626"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Nh8EtGRaJdooDk9",
          "mode": "list",
          "cachedResultName": "subFlow-line-n8n-peter-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "=n8n-檔案列表-開發用-DONE"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1136,
        256
      ],
      "id": "1e469721-721a-473f-afcd-04364b76dc24",
      "name": "Execute Workflow1",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "content": "# search : Non-active workflow with tag ",
        "height": 80,
        "width": 688,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        -512
      ],
      "id": "fa92f91a-df49-47b0-85cd-07143004854d",
      "name": "Sticky Note2",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Active workflow - with tag search",
        "height": 80,
        "width": 704,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        272
      ],
      "id": "9ab2cd6d-4953-43b2-bcf3-25e5560a6733",
      "name": "Sticky Note3",
      "disabled": true
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        256,
        1056
      ],
      "id": "4dc561cb-c124-47b2-8cb0-0c23ba675453",
      "name": "return only-active1",
      "credentials": {
        "n8nApi": {
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        480,
        1056
      ],
      "id": "c217bb41-1c72-4b52-8be5-6ff188e244cc",
      "name": "Sort2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        928,
        1056
      ],
      "id": "a336f021-15b8-49e6-bc96-ef0b2a7cf9f2",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "maxItems": 30
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        704,
        1056
      ],
      "id": "3969237d-0af4-4c87-81fe-f8a25f0fd78b",
      "name": "Limit2"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "26cca842-df05-8042-ac83-f546cc513919",
          "mode": "list",
          "cachedResultName": "n8n-檔案列表-開發用",
          "cachedResultUrl": "https://www.notion.so/26cca842df058042ac83f546cc513919"
        },
        "title": "={{ $json.name }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "建立日期|date",
              "includeTime": false,
              "date": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "key": "檔案id|rich_text",
              "textContent": "={{ $('return only-active1').item.json.id }}"
            },
            {
              "key": "工作流檔案-網址|url",
              "urlValue": "=https://chenghyang2001.app.n8n.cloud/workflow/{{ $('return only-active1').item.json.id }}"
            },
            {
              "key": "名稱|title",
              "title": "={{ $json.name }}"
            },
            {
              "key": "檔案名稱|rich_text",
              "textContent": "={{ $json.name }}"
            },
            {
              "key": "active|rich_text",
              "textContent": "={{ $json.active.toString() }}"
            },
            {
              "key": "tag_name|rich_text",
              "textContent": "={{ $('config').item.json.tag_search }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1152,
        1104
      ],
      "id": "74a00a76-3e71-4002-a945-f2a4f04a9c8e",
      "name": "Create a database page2",
      "credentials": {
        "notionApi": {
          "name": "Notion account 20250626"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Nh8EtGRaJdooDk9",
          "mode": "list",
          "cachedResultName": "subFlow-line-n8n-peter-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "=n8n-檔案列表-開發用-DONE"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1152,
        912
      ],
      "id": "df91b7bf-4072-44bd-81b8-8dc3c7ad52a4",
      "name": "Execute Workflow2",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "# Active workflow - without tag search",
        "height": 80,
        "width": 704,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        928
      ],
      "id": "f94b247e-cbbd-4f4e-a3c9-4bb2d5229bf8",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        928,
        -912
      ],
      "id": "d09f7bc2-69b7-46a7-a480-c9bdc2ecc442",
      "name": "Loop Over Items3",
      "disabled": true
    },
    {
      "parameters": {
        "maxItems": 30
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        704,
        -912
      ],
      "id": "9fae11b2-d47b-4f38-a948-d3b85e52cd37",
      "name": "Limit3",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "26cca842-df05-8042-ac83-f546cc513919",
          "mode": "list",
          "cachedResultName": "n8n-檔案列表-開發用",
          "cachedResultUrl": "https://www.notion.so/26cca842df058042ac83f546cc513919"
        },
        "title": "={{ $json.name }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "建立日期|date",
              "includeTime": false,
              "date": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "key": "檔案id|rich_text",
              "textContent": "={{ $('return non-active1').item.json.id }}"
            },
            {
              "key": "工作流檔案-網址|url",
              "urlValue": "=https://chenghyang2001.app.n8n.cloud/workflow/{{ $('return non-active1').item.json.id }}"
            },
            {
              "key": "名稱|title",
              "title": "={{ $json.name }}"
            },
            {
              "key": "檔案名稱|rich_text",
              "textContent": "={{ $json.name }}"
            },
            {
              "key": "active|rich_text",
              "textContent": "={{ $json.active.toString() }}"
            },
            {
              "key": "tag_name|rich_text",
              "textContent": "={{ $('config').item.json.tag_search }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1152,
        -864
      ],
      "id": "7a58929a-726f-4ddf-80e6-82cee0a1a1d6",
      "name": "Create a database page3",
      "credentials": {
        "notionApi": {
          "name": "Notion account 20250626"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Nh8EtGRaJdooDk9",
          "mode": "list",
          "cachedResultName": "subFlow-line-n8n-peter-v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "=n8n-檔案列表-開發用-DONE"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1152,
        -1056
      ],
      "id": "37363238-38b9-4c53-a522-14abd5d1ebda",
      "name": "Execute Workflow3",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        480,
        -912
      ],
      "id": "af1ca40f-4e51-4d06-849d-1c795883d836",
      "name": "Sort3",
      "disabled": true
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": false,
          "name": "={{ $json.filename_search }}"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        256,
        -912
      ],
      "id": "132cab98-f7ab-4d64-b848-3e0542c49f93",
      "name": "return non-active1",
      "credentials": {
        "n8nApi": {
          "name": "n8n account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "# search : Non-active workflow without tag ",
        "height": 80,
        "width": 768,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -1040
      ],
      "id": "502589d7-5403-46f4-affe-d82b19e94208",
      "name": "Sticky Note5",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# 1. email-\n# 2. 郵件",
        "width": 432,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1568,
        -400
      ],
      "id": "d3552855-14b5-4fe5-815e-2c73114676d9",
      "name": "Sticky Note6"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "return non-active",
            "type": "main",
            "index": 0
          },
          {
            "node": "return only-active",
            "type": "main",
            "index": 0
          },
          {
            "node": "return only-active1",
            "type": "main",
            "index": 0
          },
          {
            "node": "return non-active1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return non-active": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return only-active": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a database page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return only-active1": {
      "main": [
        [
          {
            "node": "Sort2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort2": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Execute Workflow2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a database page2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Execute Workflow3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a database page3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page3": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort3": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return non-active1": {
      "main": [
        [
          {
            "node": "Sort3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "L9RQFagA7DehEy9F"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Daily_5_30_am": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 1,
  "shared": [
    {
      "updatedAt": "2025-09-12T06:37:27.074Z",
      "createdAt": "2025-09-12T06:37:27.074Z",
      "role": "workflow:owner",
      "workflowId": "10ed0aMDcef3DeLb",
      "projectId": "0liZARjPSF29Xm7S",
      "project": {
        "updatedAt": "2025-05-09T03:15:11.991Z",
        "createdAt": "2025-05-09T03:15:09.651Z",
        "id": "0liZARjPSF29Xm7S",
        "name": "ChengHsien Yang <chenghyang2001@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "67155d98-04ab-4531-a011-993eff9c535f"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-09-15T01:24:19.907Z",
      "createdAt": "2025-09-15T01:24:19.907Z",
      "id": "Rrz2zdN3rL8gn9ye",
      "name": "sort"
    },
    {
      "updatedAt": "2025-09-15T01:24:43.330Z",
      "createdAt": "2025-09-15T01:24:43.330Z",
      "id": "YmnafPqLd1QPFUBJ",
      "name": "subflow-line"
    },
    {
      "updatedAt": "2025-09-12T05:36:47.030Z",
      "createdAt": "2025-09-12T05:36:47.030Z",
      "id": "akdTxtq8fuyZTQoa",
      "name": "notion-search"
    },
    {
      "updatedAt": "2025-09-15T01:45:31.907Z",
      "createdAt": "2025-09-15T01:45:31.907Z",
      "id": "cihTln3IjddrJxuQ",
      "name": "n8n-tool"
    },
    {
      "updatedAt": "2025-09-15T01:45:16.093Z",
      "createdAt": "2025-09-15T01:45:16.093Z",
      "id": "e1k3F2RaLONsbxBw",
      "name": "tool"
    },
    {
      "updatedAt": "2025-09-15T01:23:17.526Z",
      "createdAt": "2025-09-15T01:23:17.526Z",
      "id": "mK4hS9ccfe0CifL0",
      "name": "檔案列表"
    },
    {
      "updatedAt": "2025-09-15T01:23:08.672Z",
      "createdAt": "2025-09-15T01:23:08.672Z",
      "id": "u1VUJRPm4nn84Rel",
      "name": "開發工具"
    },
    {
      "updatedAt": "2025-09-15T01:24:14.410Z",
      "createdAt": "2025-09-15T01:24:14.410Z",
      "id": "ygW3sQiPqWyfUSnf",
      "name": "n8n-node"
    }
  ],
  "activeVersion": null
}